Repository spring-projects/spring-security, pull requests merged in 2018-08, with the labels that each got.

#5634 Add @Deprecation on removeAuthorizationRequest()
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/AuthorizationRequestRepository.java
Labels: Docs and Website, Improvement, OAuth2

#5632 Fix typo
  crypto/src/main/java/org/springframework/security/crypto/password/LdapShaPasswordEncoder.java
  crypto/src/main/java/org/springframework/security/crypto/password/Md4PasswordEncoder.java
  crypto/src/main/java/org/springframework/security/crypto/password/MessageDigestPasswordEncoder.java
Labels: Bug, Docs and Website, duplicate

#5671 Fix the broken link in the WebSocket documentation
  docs/manual/src/docs/asciidoc/_includes/web/websocket.adoc
Labels: Bug, Docs and Website

#5670 Add support for Feature-Policy security header
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/HeadersConfigurer.java
  config/src/main/java/org/springframework/security/config/http/HeadersBeanDefinitionParser.java
  config/src/main/resources/org/springframework/security/config/spring-security-5.1.rnc
  config/src/main/resources/org/springframework/security/config/spring-security-5.1.xsd
  config/src/test/groovy/org/springframework/security/config/annotation/web/configurers/HeadersConfigurerTests.groovy
  docs/manual/src/docs/asciidoc/_includes/appendix/namespace.adoc
  docs/manual/src/docs/asciidoc/_includes/web/headers.adoc
  web/src/main/java/org/springframework/security/web/header/writers/FeaturePolicyHeaderWriter.java
  web/src/test/java/org/springframework/security/web/header/writers/FeaturePolicyHeaderWriterTests.java
Labels: Web

#5701 Add reactive support for Feature-Policy security header
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/HeaderSpecTests.java
  web/src/main/java/org/springframework/security/web/server/header/FeaturePolicyServerHttpHeadersWriter.java
  web/src/test/java/org/springframework/security/web/server/header/FeaturePolicyServerHttpHeadersWriterTests.java
Labels: Improvement, Reactive, Web

#5718 Reactive Jwt Validation
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusReactiveJwtDecoder.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/NimbusReactiveJwtDecoderTests.java
Labels: JWT-JOSE, Reactive, duplicate

#5730 Reactive Resource Server Csrf Bypass
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/OAuth2ResourceServerSpecTests.java
Labels: Improvement, JWT-JOSE, Reactive

#5736 Polish ActiveDirectoryLdapAuthenticationProviderTests
  ldap/src/test/java/org/springframework/security/ldap/authentication/ad/ActiveDirectoryLdapAuthenticationProviderTests.java
Labels: Build and Admin, Improvement

#5739 Add missing space in namespace.adoc
  docs/manual/src/docs/asciidoc/_includes/preface/namespace.adoc
Labels: Bug, Docs and Website

#5740 Force snapshot repo in snapshot stage build
  Jenkinsfile
Labels: Build and Admin, Improvement
