Repository spring-projects/spring-security, pull requests merged in 2018-05, with the labels that each got.

#5298 Fix incorrect explanation for customizing query on JdbcDaoImpl
  core/src/main/java/org/springframework/security/core/userdetails/jdbc/JdbcDaoImpl.java
Labels: Core, Docs and Website

#5271 Pass username as second parameter for search filter.
  ldap/src/main/java/org/springframework/security/ldap/authentication/ad/ActiveDirectoryLdapAuthenticationProvider.java
  ldap/src/test/java/org/springframework/security/ldap/authentication/ad/ActiveDirectoryLdapAuthenticationProviderTests.java
Labels: Improvement, LDAP

#5269 Fix 'attributes' deprecation warning in spring-security-docs-guides
  docs/guides/spring-security-docs-guides.gradle
Labels: Build and Admin, Docs and Website, Improvement

#5325 Add HttpStatusServerEntryPoint
  web/src/main/java/org/springframework/security/web/server/authentication/HttpStatusServerEntryPoint.java
  web/src/test/java/org/springframework/security/web/server/authentication/HttpStatusServerEntryPointTests.java
Labels: Improvement, Reactive, Web

#5324 Add HttpStatusReturningServerLogoutSuccessHandler
  web/src/main/java/org/springframework/security/web/server/authentication/logout/HttpStatusReturningServerLogoutSuccessHandler.java
  web/src/test/java/org/springframework/security/web/server/authentication/logout/HttpStatusReturningServerLogoutSuccessHandlerTests.java
Labels: Improvement, Reactive, Web, duplicate

#5355 Add ClientRegistration from OpenID Connect Discovery
  config/spring-security-config.gradle
  config/src/main/java/org/springframework/security/config/oauth2/client/OidcConfigurationProvider.java
  config/src/test/java/org/springframework/security/config/oauth2/client/OidcConfigurationProviderTests.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/registration/ClientRegistration.java
Labels: Java Config, New Feature, OAuth2, OIDC

#5363 Polishing the OidcConfigurationProvider
  config/src/main/java/org/springframework/security/config/oauth2/client/oidc/OidcConfigurationProvider.java
Labels: Improvement, Java Config, OAuth2

#5376 DelegatingServerLogoutHandler
  web/src/main/java/org/springframework/security/web/server/authentication/logout/DelegatingServerLogoutHandler.java
  web/src/test/java/org/springframework/security/web/server/authentication/logout/DelegatingServerLogoutHandlerTests.java
Labels: Improvement, Reactive, Web
