Repository spring-projects/spring-security, pull requests merged in 2018-07, with the labels that each got.

#5459 Close Nimbus Information Leak
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoderJwkSupport.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoderJwkSupportTests.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/NimbusReactiveJwtDecoderTests.java
Labels: Improvement, JWT-JOSE

#5498 Polish Javadoc in ServerHttpSecurity
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
Labels: Bug, Docs and Website, Reactive

#5524 Add Bearer Token filter to Security Filters
  config/src/main/java/org/springframework/security/config/annotation/web/HttpSecurityBuilder.java
  config/src/main/java/org/springframework/security/config/annotation/web/builders/FilterComparator.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/resource/OAuth2ResourceServerConfigurer.java
  config/src/main/java/org/springframework/security/config/http/SecurityFilters.java
  config/src/main/resources/org/springframework/security/config/spring-security-5.1.rnc
  config/src/main/resources/org/springframework/security/config/spring-security-5.1.xsd
Labels: Improvement, Java Config, Namespace, OAuth2

#5531 User-Specified JwtDecoder
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/resource/OAuth2ResourceServerConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/resource/OAuth2ResourceServerConfigurerTests.java
Labels: Improvement, OAuth2, duplicate

#5552 Bearer Token Exception Handling Configuration
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/resource/OAuth2ResourceServerConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/resource/OAuth2ResourceServerConfigurerTests.java
Labels: Improvement, Java Config, OAuth2, duplicate

#5580 Fix typo
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/registration/ClientRegistration.java
Labels: Docs and Website, OAuth2

#5618 Mention spring-security-data dependency for Spring Data in doc
  docs/manual/src/docs/asciidoc/_includes/data/index.adoc
Labels: Docs and Website, Improvement
