Repository spring-projects/spring-security, pull requests merged in 2018-12, with the labels that each got.

#6210 Accept a case-insensitive "Bearer" keyword
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/server/ServerBearerTokenAuthenticationConverter.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/web/server/ServerBearerTokenAuthenticationConverterTests.java
Labels: Improvement, OAuth2, Reactive

#6194 Added methods to add filter relatively in ServerHttpSecurity
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/ServerHttpSecurityTests.java
Labels: Java Config

#6230 Update to nimbus-jose-jwt:6.3
  gradle/dependency-management.gradle
Labels: Build and Admin, OAuth2, duplicate

#6238 Add WebClientReactiveAuthorizationCodeTokenResponseClient.setWebClient
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/endpoint/WebClientReactiveAuthorizationCodeTokenResponseClient.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/endpoint/WebClientReactiveAuthorizationCodeTokenResponseClientTests.java
Labels: OAuth2, Reactive

#6240 Improve error message for Chinese.
  core/src/main/resources/org/springframework/security/messages_zh_CN.properties
Labels: Core, Improvement

#6241 RoleVoter Configuration Defaults Prefix Using GrantedAuthorityDefauts
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/GlobalMethodSecurityConfiguration.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/GlobalMethodSecurityConfigurationTests.java
Labels: Improvement, Java Config

#6229 Add Reactive Support for UserDetailsChecker
  core/src/main/java/org/springframework/security/authentication/UserDetailsRepositoryReactiveAuthenticationManager.java
  core/src/test/java/org/springframework/security/authentication/UserDetailsRepositoryReactiveAuthenticationManagerTests.java
Labels: Improvement, Reactive, Web, duplicate

#6196 Make CachingUserDetailsService Public
  config/src/main/java/org/springframework/security/config/authentication/AbstractUserDetailsServiceBeanDefinitionParser.java
  config/src/main/java/org/springframework/security/config/http/UserDetailsServiceFactoryBean.java
  config/src/test/java/org/springframework/security/config/authentication/JdbcUserServiceBeanDefinitionParserTests.java
  core/src/main/java/org/springframework/security/authentication/CachingUserDetailsService.java
Labels: Core, Improvement

#6267 Add Anonymous Support to AuthenticatedReactiveAuthorizationManager
  core/src/main/java/org/springframework/security/authorization/AuthenticatedReactiveAuthorizationManager.java
  core/src/test/java/org/springframework/security/authorization/AuthenticatedReactiveAuthorizationManagerTests.java
Labels: Core, Improvement, Reactive, duplicate

#6198 Added support for Anonymous Authentication
  config/src/main/java/org/springframework/security/config/web/server/SecurityWebFiltersOrder.java
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/ServerHttpSecurityTests.java
  web/src/main/java/org/springframework/security/web/server/authentication/AnonymousAuthenticationWebFilter.java
  web/src/test/java/org/springframework/security/test/web/reactive/server/WebTestClientBuilder.java
  web/src/test/java/org/springframework/security/web/server/authentication/AnonymousAuthenticationWebFilterTests.java
Labels: Improvement, Reactive, Web, duplicate

#6287 Fix DefaultLoginPageGeneratingFilter Markup
  web/src/main/java/org/springframework/security/web/authentication/ui/DefaultLoginPageGeneratingFilter.java
Labels: Bug, Web

#6279 Allow setting realm for Http Basic
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/ServerHttpSecurityTests.java
Labels: Improvement, Java Config, Reactive, Web

#6286 Remove Servlet Spec 2.5 Support for SecurityContextHolderAwareRequestFilter
  web/src/main/java/org/springframework/security/web/servletapi/HttpServlet25RequestFactory.java
  web/src/main/java/org/springframework/security/web/servletapi/HttpServlet3RequestFactory.java
  web/src/main/java/org/springframework/security/web/servletapi/HttpServletRequestFactory.java
  web/src/main/java/org/springframework/security/web/servletapi/SecurityContextHolderAwareRequestFilter.java
Labels: Improvement, Web, duplicate

#6289 Remove Servlet Spec 2.5 Support for HttpSessionSecurityContextRepository
  web/src/main/java/org/springframework/security/web/context/HttpSessionSecurityContextRepository.java
  web/src/test/java/org/springframework/security/web/context/HttpSessionSecurityContextRepositoryServlet25Tests.java
Labels: Improvement, Web, duplicate

#6257 Add DelegatingSecurityContextTaskScheduler
  core/src/main/java/org/springframework/security/scheduling/DelegatingSecurityContextTaskScheduler.java
  core/src/test/java/org/springframework/security/scheduling/DelegatingSecurityContextTaskSchedulerTests.java
  docs/manual/src/docs/asciidoc/_includes/servlet/additional-topics/concurrency.adoc
Labels: Core, Improvement

#6310 Add hasAnyAuthority() and hasAnyRole() in AuthorizeExchangeSpec
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  core/src/main/java/org/springframework/security/authorization/AuthorityReactiveAuthorizationManager.java
  core/src/test/java/org/springframework/security/authorization/AuthorityReactiveAuthorizationManagerTests.java
Labels: Improvement, Reactive

#6305 Add WebFlux support for spring security web jackson module.
  core/src/main/java/org/springframework/security/jackson2/SecurityJackson2Modules.java
  web/src/main/java/org/springframework/security/web/server/jackson2/DefaultCsrfServerTokenMixin.java
  web/src/main/java/org/springframework/security/web/server/jackson2/WebServerJackson2Module.java
  web/src/test/java/org/springframework/security/web/server/jackson2/DefaultCsrfServerTokenMixinTests.java
Labels: Improvement, Reactive

#6309 JdbcUserDetailsManager handles extra UserDetails attributes
  core/src/main/java/org/springframework/security/core/userdetails/jdbc/JdbcDaoImpl.java
  core/src/main/java/org/springframework/security/provisioning/JdbcUserDetailsManager.java
  core/src/test/java/org/springframework/security/provisioning/JdbcUserDetailsManagerTests.java
Labels: Core, Improvement, duplicate

#6299 authorization_uri Supports Query Parameters
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/client/OAuth2ClientConfigurerTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/web/DefaultOAuth2AuthorizationRequestResolverTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/web/OAuth2AuthorizationRequestRedirectFilterTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/web/server/DefaultServerOAuth2AuthorizationRequestResolverTests.java
  oauth2/oauth2-core/spring-security-oauth2-core.gradle
  oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core/endpoint/OAuth2AuthorizationRequest.java
  oauth2/oauth2-core/src/test/java/org/springframework/security/oauth2/core/endpoint/OAuth2AuthorizationRequestTests.java
Labels: Improvement, OAuth2
