Repository spring-projects/spring-security, pull requests merged in 2018-09, with the labels that each got.

#5769 Upgrade to Gradle Wrapper 4.10
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: Build and Admin, Improvement

#5752 AuthenticationManager for OAuth2ResourceServerSpec
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/OAuth2ResourceServerSpecTests.java
Labels: OAuth2, Reactive, duplicate

#5753 Jwt Claim Mapping
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/MappedJwtClaimSetConverter.java
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoderJwkSupport.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/MappedJwtClaimSetConverterTests.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoderJwkSupportTests.java
Labels: OAuth2, duplicate

#5830 Fix Code Format in Reference
  docs/manual/src/docs/asciidoc/_includes/test/method.adoc
Labels: Docs and Website

#5862 Fix truncated javadoc for Secured
  core/src/main/java/org/springframework/security/access/annotation/Secured.java
Labels: Bug, Docs and Website

#5897 Remove unused variables in ConsensusBased and UnanimousBased
  core/src/main/java/org/springframework/security/access/vote/ConsensusBased.java
  core/src/main/java/org/springframework/security/access/vote/UnanimousBased.java
Labels: Core
