Repository spring-projects/spring-security, pull requests merged in 2019-06, with the labels that each got.

#6853 Replace bean method calls with injection
  config/src/main/java/org/springframework/security/config/annotation/authentication/configuration/AuthenticationConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/GlobalMethodSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/web/reactive/ServerHttpSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/web/socket/AbstractSecurityWebSocketMessageBrokerConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/authentication/configuration/AuthenticationConfigurationTests.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/GlobalMethodSecurityConfigurationTests.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/NamespaceGlobalMethodSecurityTests.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/ReactiveMethodSecurityConfigurationTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configuration/WebSecurityConfigurationTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/reactive/ServerHttpSecurityConfigurationTest.java
  config/src/test/java/org/springframework/security/config/annotation/web/reactive/WebFluxSecurityConfigurationTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/socket/AbstractSecurityWebSocketMessageBrokerConfigurerTests.java
Labels: in: config, status: duplicate, type: enhancement

#6959 Fix HttpSecurity Javadoc for jee() method
  config/src/main/java/org/springframework/security/config/annotation/web/builders/HttpSecurity.java
Labels: in: docs, type: bug

#6957 Migrate JeeConfigurerTests groovy->java
  config/src/test/groovy/org/springframework/security/config/annotation/web/configurers/JeeConfigurerTests.groovy
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/JeeConfigurerTests.java
Labels: in: build, type: enhancement

#6900 Finer variables for OAuth2 redirectUriTemplate expansion
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/DefaultOAuth2AuthorizationRequestResolver.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/server/DefaultServerOAuth2AuthorizationRequestResolver.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/web/DefaultOAuth2AuthorizationRequestResolverTests.java
Labels: in: oauth2, status: duplicate, type: enhancement

#6904 Updates OAuth2ResourceServer configuration tests
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/resource/OAuth2ResourceServerConfigurerTests.java
  config/src/test/java/org/springframework/security/config/web/server/OAuth2ResourceServerSpecTests.java
Labels: in: oauth2, status: duplicate, status: waiting-for-feedback, type: enhancement

#6968 Accept Converter in ReactiveJwtAuthenticationConverterAdapter
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/ReactiveJwtAuthenticationConverterAdapter.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/ReactiveJwtAuthenticationConverterAdapterTests.java
Labels: status: waiting-for-triage

#6941 Updates modules.adoc (typo fix)
  docs/manual/src/docs/asciidoc/_includes/preface/modules.adoc
Labels: for: backport-to-4.2.x, for: backport-to-5.0.x, for: backport-to-5.1.x, in: docs, type: improvement

#6927 Fix typo in OAuth2TokenValidator doc
  docs/manual/src/docs/asciidoc/_includes/reactive/oauth2/resource-server.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/preface/java-configuration.adoc
Labels: status: waiting-for-triage

#6944 Migrate ChannelSecurityConfigurerTests groovy->java
  config/src/test/groovy/org/springframework/security/config/annotation/web/configurers/ChannelSecurityConfigurerTests.groovy
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/ChannelSecurityConfigurerTests.java
Labels: type: enhancement

#6946 Migrate CorsConfigurerTests groovy->java
  config/src/test/groovy/org/springframework/security/config/annotation/web/configurers/CorsConfigurerTests.groovy
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/CorsConfigurerTests.java
Labels: type: enhancement

#6970 Disable bean proxying in configuration classes
  config/src/main/java/org/springframework/security/config/annotation/authentication/configuration/AuthenticationConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/configuration/ObjectPostProcessorConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/GlobalMethodSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/Jsr250MetadataSourceConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/ReactiveMethodSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/OAuth2ClientConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/WebSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/web/reactive/ReactiveOAuth2ClientImportSelector.java
  config/src/main/java/org/springframework/security/config/annotation/web/reactive/ServerHttpSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/web/reactive/WebFluxSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/web/servlet/configuration/WebMvcSecurityConfiguration.java
  config/src/test/java/org/springframework/security/config/annotation/authentication/configuration/AuthenticationConfigurationTests.java
  config/src/test/java/org/springframework/security/config/annotation/authentication/configuration/EnableGlobalAuthenticationTests.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/GlobalMethodSecurityConfigurationTests.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/ReactiveMethodSecurityConfigurationTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configuration/EnableWebSecurityTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configuration/WebSecurityConfigurationTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/reactive/EnableWebFluxSecurityTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/reactive/ServerHttpSecurityConfigurationTest.java
  config/src/test/java/org/springframework/security/config/annotation/web/reactive/WebFluxSecurityConfigurationTests.java
Labels: in: config, type: enhancement

#6937 Migrate SessionManagementConfigurerTests groovy->java
  config/src/test/groovy/org/springframework/security/config/annotation/web/configurers/SessionManagementConfigurerTests.groovy
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/SessionManagementConfigurerTests.java
Labels: type: enhancement

#6852 Make scheduler configurable on ReactiveAuthenticationManagerAdapter
  core/src/main/java/org/springframework/security/authentication/ReactiveAuthenticationManagerAdapter.java
  core/src/test/java/org/springframework/security/authentication/ReactiveAuthenticationManagerAdapterTests.java
Labels: in: core, type: enhancement

#6973 FIX #6954(RoleHierarchy Comments are misleading)
  core/src/main/java/org/springframework/security/access/hierarchicalroles/RoleHierarchy.java
Labels: in: core, status: duplicate, type: enhancement

#6923 Extended testing api for tests
  test/src/main/java/org/springframework/security/test/web/servlet/request/SecurityMockMvcRequestPostProcessors.java
  test/src/test/java/org/springframework/security/test/web/servlet/request/SecurityMockMvcRequestPostProcessorsJwtTests.java
Labels: in: test, status: duplicate, type: improvement

#6861 Add Multi-tenancy support for Reactive Resource Server
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/OAuth2ResourceServerSpecTests.java
  core/src/main/java/org/springframework/security/authentication/ReactiveAuthenticationManagerResolver.java
  web/src/main/java/org/springframework/security/web/server/authentication/AuthenticationWebFilter.java
  web/src/test/java/org/springframework/security/web/server/authentication/AuthenticationWebFilterTests.java
Labels: in: oauth2, status: duplicate, type: enhancement

#6979 Move log statement in SessionRegistryImpl
  core/src/main/java/org/springframework/security/core/session/SessionRegistryImpl.java
Labels: in: core, type: enhancement

#7007 Jenkins build performs git clean
  Jenkinsfile
Labels: in: build, type: improvement

#7002 Added jwt injection for reactive test mocks
  test/src/main/java/org/springframework/security/test/web/reactive/server/SecurityMockServerConfigurers.java
  test/src/test/java/org/springframework/security/test/web/reactive/server/SecurityMockServerConfigurersJwtTests.java
Labels: status: waiting-for-triage

#6884 OAuth2LoginAuthenticationFilter sets AuthenticationDetails
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/OAuth2LoginAuthenticationFilter.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/web/OAuth2LoginAuthenticationFilterTests.java
Labels: in: oauth2, type: enhancement

#6936 Update Mockito-Core to version 2.27.0
  gradle/dependency-management.gradle
Labels: in: build, type: improvement

#6542 Replace strange hashCode() implementations
  acl/src/main/java/org/springframework/security/acls/domain/ObjectIdentityImpl.java
  core/src/main/java/org/springframework/security/authentication/jaas/JaasGrantedAuthority.java
  web/src/main/java/org/springframework/security/web/access/intercept/RequestKey.java
  web/src/main/java/org/springframework/security/web/authentication/switchuser/SwitchUserGrantedAuthority.java
  web/src/main/java/org/springframework/security/web/util/matcher/AntPathRequestMatcher.java
Labels: status: feedback-provided

#6901 Merge pull request #6901 from eleftherias/gh-6885-http-basic-dsl
  config/src/main/java/org/springframework/security/config/Customizer.java
  config/src/main/java/org/springframework/security/config/annotation/web/builders/HttpSecurity.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/HttpBasicConfigurerTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/NamespaceHttpBasicTests.java
Labels: in: config, type: improvement

#6956 Migrate DefaultLoginPageConfigurerTests groovy->java
  config/src/test/groovy/org/springframework/security/config/annotation/web/configurers/DefaultLoginPageConfigurerTests.groovy
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/DefaultLoginPageConfigurerTests.java
Labels: type: enhancement

#7020 ServerBearerTokenAuthenticationConverter Handles Empty Tokens
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/server/ServerBearerTokenAuthenticationConverter.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/web/server/ServerBearerTokenAuthenticationConverterTests.java
Labels: in: oauth2, status: duplicate, type: bug

#6977 Add MultiTenantAuthenticationManagerResolver
  samples/boot/oauth2resourceserver-multitenancy/src/main/java/sample/OAuth2ResourceServerSecurityConfiguration.java
  web/src/main/java/org/springframework/security/web/authentication/MultiTenantAuthenticationManagerResolver.java
  web/src/test/java/org/springframework/security/web/authentication/MultiTenantAuthenticationManagerResolverTests.java
Labels: in: web, status: duplicate, type: improvement

#7043 Add @Nullable to UsernamePasswordAuthenticationFilter
  web/src/main/java/org/springframework/security/web/authentication/UsernamePasswordAuthenticationFilter.java
Labels: in: web, type: enhancement

#7048 Allow custom ReactiveAuthenticationManager for basic and form auth
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/FormLoginTests.java
  config/src/test/java/org/springframework/security/config/web/server/ServerHttpSecurityTests.java
Labels: in: config, type: bug

#7050 Fix typo in documentation
  docs/manual/src/docs/asciidoc/_includes/servlet/architecture/technical-overview.adoc
Labels: in: docs, type: bug

#7055 Single-key Key Selector
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoder.java
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusReactiveJwtDecoder.java
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/SingleKeyJWSKeySelector.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jose/TestKeys.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoderTests.java
Labels: in: oauth2, status: duplicate, type: improvement
