Repository spring-projects/spring-security, pull requests merged in 2019-05, with the labels that each got.

#6151 AccountStatusUserDetailsChecker implements MessageSourceAware
  core/src/main/java/org/springframework/security/authentication/AccountStatusUserDetailsChecker.java
  core/src/main/resources/org/springframework/security/messages_nl.properties
Labels: Core, Improvement

#6827 Reactive JwkSource Builder Parameter Type Changed the parameter type from JWT to SignedJWT Fixes: gh-6771
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusReactiveJwtDecoder.java
Labels: Improvement, OAuth2, duplicate

#6801 Set "rolePrefix" in ReactiveMethodSecurityConfiguration
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/ReactiveMethodSecurityConfiguration.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/ReactiveMethodSecurityConfigurationTests.java
Labels: Core, Reactive

#6855 Translate messages.properties into Japanese
  core/src/main/resources/org/springframework/security/messages_ja.properties
Labels: in: core, type: enhancement

#6860 Git ignore .attach_pid* files
  .gitignore
Labels: in: build, type: enhancement

#6870 Add custom parameters to token introspection requests
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/introspection/NimbusOAuth2TokenIntrospectionClient.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/introspection/NimbusOAuth2TokenIntrospectionClientTests.java
Labels: in: oauth2, status: duplicate, type: enhancement

#6869 Update to Spring 5.2.0.M2
  gradle/dependency-management.gradle
Labels: in: build, type: dependency-upgrade

#6878 Fix JavaDoc for defaultSuccessUrl
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AbstractAuthenticationFilterConfigurer.java
Labels: in: web, type: enhancement

#6918 Add @transient to OAuth2IntrospectionAuthenticationToken
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/resource/OAuth2ResourceServerConfigurerTests.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/OAuth2IntrospectionAuthenticationToken.java
Labels: in: oauth2, status: duplicate, type: enhancement

#6915 Added null checks and tests to constructors
  core/src/main/java/org/springframework/security/authentication/jaas/JaasGrantedAuthority.java
  core/src/test/java/org/springframework/security/authentication/jaas/JaasGrantedAuthorityTests.java
  web/src/main/java/org/springframework/security/web/access/intercept/RequestKey.java
  web/src/main/java/org/springframework/security/web/authentication/switchuser/SwitchUserGrantedAuthority.java
  web/src/test/java/org/springframework/security/web/access/intercept/RequestKeyTests.java
  web/src/test/java/org/springframework/security/web/authentication/switchuser/SwitchUserGrantedAuthorityTests.java
Labels: status: waiting-for-triage

#6920 Update AssertJ to version 3.12.2
  gradle/dependency-management.gradle
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/registration/InMemoryClientRegistrationRepositoryTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/registration/InMemoryReactiveClientRegistrationRepositoryTests.java
Labels: in: build, status: duplicate
