Repository spring-projects/spring-security, pull requests merged in 2019-04, with the labels that each got.

#6732 Issue #6731 improve performance of checking headers
  web/src/main/java/org/springframework/security/web/firewall/FirewalledResponse.java
Labels: Web, duplicate

#6775 Fix no check if the parameter is null.
  core/src/main/java/org/springframework/security/core/authority/AuthorityUtils.java
Labels: Core, Improvement, duplicate

#6761 Expose bean setters in @Configuration used by @EnableWebFluxSecurity
  config/src/main/java/org/springframework/security/config/annotation/web/reactive/ServerHttpSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/web/reactive/WebFluxSecurityConfiguration.java
Labels: Improvement, Java Config
