Repository spring-projects/spring-security, pull requests merged in 2019-08, with the labels that each got.

#7173 Migrate VersionsResourceTasks groovy->java
  buildSrc/src/main/groovy/versions/VersionsResourceTasks.groovy
  buildSrc/src/main/java/versions/VersionsResourceTasks.java
  core/spring-security-core.gradle
Labels: status: waiting-for-triage

#7176 Use org.mockito.ArgumentMatchers in favor of org.mockito.Matchers
  config/src/test/java/org/springframework/security/config/SecurityNamespaceHandlerTests.java
  config/src/test/java/org/springframework/security/config/http/DefaultFilterChainValidatorTests.java
  config/src/test/java/org/springframework/security/config/web/server/ServerHttpSecurityTests.java
  core/src/test/java/org/springframework/security/access/method/DelegatingMethodSecurityMetadataSourceTests.java
  core/src/test/java/org/springframework/security/authentication/ReactiveAuthenticationManagerAdapterTests.java
  core/src/test/java/org/springframework/security/authentication/ReactiveUserDetailsServiceAuthenticationManagerTests.java
  core/src/test/java/org/springframework/security/authentication/dao/DaoAuthenticationProviderTests.java
  core/src/test/java/org/springframework/security/authentication/jaas/DefaultJaasAuthenticationProviderTests.java
  core/src/test/java/org/springframework/security/concurrent/AbstractDelegatingSecurityContextTestSupport.java
  core/src/test/java/org/springframework/security/context/DelegatingApplicationListenerTests.java
  core/src/test/java/org/springframework/security/core/SpringSecurityCoreVersionTests.java
  core/src/test/java/org/springframework/security/core/userdetails/jdbc/JdbcDaoImplTests.java
  messaging/src/test/java/org/springframework/security/messaging/access/intercept/ChannelSecurityInterceptorTests.java
  samples/boot/oauth2login/src/integration-test/java/org/springframework/security/samples/OAuth2LoginApplicationTests.java
  taglibs/src/test/java/org/springframework/security/taglibs/authz/AbstractAuthorizeTagTests.java
  test/src/test/java/org/springframework/security/test/web/servlet/request/SecurityMockMvcRequestPostProcessorsAuthenticationTests.java
  test/src/test/java/org/springframework/security/test/web/servlet/request/SecurityMockMvcRequestPostProcessorsSecurityContextTests.java
  test/src/test/java/org/springframework/security/test/web/servlet/request/SecurityMockMvcRequestPostProcessorsUserDetailsTests.java
  test/src/test/java/org/springframework/security/test/web/servlet/request/SecurityMockMvcRequestPostProcessorsUserTests.java
  test/src/test/java/org/springframework/security/test/web/servlet/setup/SecurityMockMvcConfigurerTests.java
  web/src/test/java/org/springframework/security/web/access/DelegatingAccessDeniedHandlerTests.java
  web/src/test/java/org/springframework/security/web/access/ExceptionTranslationFilterTests.java
  web/src/test/java/org/springframework/security/web/access/expression/WebExpressionVoterTests.java
  web/src/test/java/org/springframework/security/web/authentication/AbstractAuthenticationProcessingFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/logout/CompositeLogoutHandlerTests.java
  web/src/test/java/org/springframework/security/web/authentication/preauth/AbstractPreAuthenticatedProcessingFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/preauth/websphere/WebSpherePreAuthenticatedProcessingFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/rememberme/JdbcTokenRepositoryImplTests.java
  web/src/test/java/org/springframework/security/web/authentication/session/ConcurrentSessionControlAuthenticationStrategyTests.java
  web/src/test/java/org/springframework/security/web/concurrent/ConcurrentSessionFilterTests.java
  web/src/test/java/org/springframework/security/web/context/HttpSessionSecurityContextRepositoryTests.java
  web/src/test/java/org/springframework/security/web/csrf/CsrfAuthenticationStrategyTests.java
  web/src/test/java/org/springframework/security/web/csrf/CsrfFilterTests.java
  web/src/test/java/org/springframework/security/web/debug/DebugFilterTest.java
  web/src/test/java/org/springframework/security/web/header/HeaderWriterFilterTests.java
  web/src/test/java/org/springframework/security/web/server/authentication/AuthenticationWebFilterTests.java
  web/src/test/java/org/springframework/security/web/server/authentication/RedirectServerAuthenticationEntryPointTests.java
  web/src/test/java/org/springframework/security/web/server/authentication/RedirectServerAuthenticationSuccessHandlerTests.java
  web/src/test/java/org/springframework/security/web/server/authorization/DelegatingReactiveAuthorizationManagerTests.java
  web/src/test/java/org/springframework/security/web/server/authorization/ExceptionTranslationWebFilterTests.java
  web/src/test/java/org/springframework/security/web/server/header/HttpHeaderWriterWebFilterTests.java
  web/src/test/java/org/springframework/security/web/server/util/matcher/PathMatcherServerWebExchangeMatcherTests.java
  web/src/test/java/org/springframework/security/web/servlet/util/matcher/MvcRequestMatcherTests.java
  web/src/test/java/org/springframework/security/web/servletapi/SecurityContextHolderAwareRequestFilterTests.java
  web/src/test/java/org/springframework/security/web/util/matcher/MediaTypeRequestMatcherTests.java
Labels: type: enhancement

#7174 Remove the unused emma plugin
  buildSrc/build.gradle
  buildSrc/src/main/groovy/emma/EmmaPlugin.groovy
  buildSrc/src/main/resources/META-INF/gradle-plugins/emma.properties
Labels: in: build, type: enhancement

#7180 Downgrade modifier from public to protected
  web/src/main/java/org/springframework/security/web/authentication/AuthenticationFilter.java
Labels: in: web, status: duplicate, type: enhancement

#7158 Add support for allowedHostnames in StrictHttpFirewall
  web/src/main/java/org/springframework/security/web/FilterInvocation.java
  web/src/main/java/org/springframework/security/web/firewall/StrictHttpFirewall.java
  web/src/test/java/org/springframework/security/web/firewall/StrictHttpFirewallTests.java
Labels: in: oauth2, status: duplicate, type: enhancement

#7045 Add Argon2PasswordEncoder
  crypto/src/main/java/org/springframework/security/crypto/argon2/Argon2EncodingUtils.java
  crypto/src/main/java/org/springframework/security/crypto/argon2/Argon2PasswordEncoder.java
  crypto/src/main/java/org/springframework/security/crypto/factory/PasswordEncoderFactories.java
  crypto/src/test/java/org/springframework/security/crypto/argon2/Argon2EncodingUtilsTests.java
  crypto/src/test/java/org/springframework/security/crypto/argon2/Argon2PasswordEncoderTests.java
  crypto/src/test/java/org/springframework/security/crypto/factory/PasswordEncoderFactoriesTests.java
  docs/manual/src/docs/asciidoc/_includes/servlet/architecture/password-encoder.adoc
Labels: in: crypto, status: duplicate, type: enhancement

#7071 Add authenticationFailureHandler method in OAuth2LoginSpec
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/OAuth2LoginTests.java
  oauth2/oauth2-core/src/test/java/org/springframework/security/oauth2/core/endpoint/TestOAuth2AuthorizationExchanges.java
Labels: in: config, status: duplicate, type: enhancement

#7181 Fix docs typo WebSecurityConfigurationAdapter->WebSecurityConfigurerAdapter
  docs/manual/src/docs/asciidoc/_includes/servlet/preface/java-configuration.adoc
Labels: in: docs, type: bug

#7159 Add test examples for Oauth2 Resource Server sample
  samples/boot/oauth2resourceserver/README.adoc
  samples/boot/oauth2resourceserver/src/integration-test/java/sample/OAuth2ResourceServerApplicationITests.java
  samples/boot/oauth2resourceserver/src/main/java/org/springframework/boot/env/MockWebServerPropertySource.java
  samples/boot/oauth2resourceserver/src/main/java/sample/OAuth2ResourceServerController.java
  samples/boot/oauth2resourceserver/src/main/java/sample/OAuth2ResourceServerSecurityConfiguration.java
  samples/boot/oauth2resourceserver/src/test/java/sample/OAuth2ResourceServerControllerTests.java
Labels: in: oauth2, status: duplicate, type: enhancement

#7219 Use try-with-resources instead of try-finally
  config/src/integration-test/java/org/springframework/security/config/ldap/LdapServerBeanDefinitionParserTests.java
  core/src/test/java/org/springframework/security/core/JavaVersionTests.java
  ldap/src/integration-test/java/org/springframework/security/ldap/ApacheDSServerIntegrationTests.java
Labels: type: task

#7229 Remove unused imports
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/HeadersConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/authentication/configuration/AuthenticationConfigurationTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/builders/NamespaceHttpTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configuration/OAuth2ClientConfigurationTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/HttpBasicConfigurerTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/SecurityContextConfigurerTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/client/OAuth2ClientConfigurerTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/OAuth2AuthorizedClientProviderBuilderTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/RefreshTokenOAuth2AuthorizedClientProviderTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/oidc/userinfo/OidcReactiveOAuth2UserServiceTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/oidc/userinfo/OidcUserServiceTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/web/DefaultOAuth2AuthorizedClientManagerTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/web/method/annotation/OAuth2AuthorizedClientArgumentResolverTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/web/reactive/function/client/ServletOAuth2AuthorizedClientExchangeFilterFunctionITests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/web/reactive/function/client/ServletOAuth2AuthorizedClientExchangeFilterFunctionTests.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/NimbusReactiveJwtDecoderTests.java
  web/src/test/java/org/springframework/security/web/server/authentication/AuthenticationWebFilterTests.java
Labels: type: enhancement

#7218 Anonymous type can be replaced with lambda
  acl/src/main/java/org/springframework/security/acls/jdbc/BasicLookupStrategy.java
  acl/src/main/java/org/springframework/security/acls/jdbc/JdbcAclService.java
  aspects/src/main/java/org/springframework/security/access/intercept/aspectj/aspect/AnnotationSecurityAspect.aj
  cas/src/test/java/org/springframework/security/cas/web/CasAuthenticationFilterTests.java
  config/src/main/java/org/springframework/security/config/annotation/web/builders/WebSecurity.java
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/WebSecurityConfigurerAdapter.java
  core/src/main/java/org/springframework/security/core/parameters/AnnotationParameterNameDiscoverer.java
  core/src/main/java/org/springframework/security/core/userdetails/jdbc/JdbcDaoImpl.java
  core/src/main/java/org/springframework/security/provisioning/JdbcUserDetailsManager.java
  core/src/test/java/org/springframework/security/access/expression/SecurityExpressionRootTests.java
  core/src/test/java/org/springframework/security/access/hierarchicalroles/HierarchicalRolesTestHelper.java
  core/src/test/java/org/springframework/security/authentication/jaas/JaasAuthenticationProviderTests.java
  core/src/test/java/org/springframework/security/authentication/jaas/TestLoginModule.java
  core/src/test/java/org/springframework/security/concurrent/DelegatingSecurityContextRunnableTests.java
  core/src/test/java/org/springframework/security/core/userdetails/UserDetailsByNameServiceWrapperTests.java
  itest/web/src/integration-test/java/org/springframework/security/integration/ConcurrentSessionManagementTests.java
  ldap/src/integration-test/java/org/springframework/security/ldap/SpringSecurityLdapTemplateITests.java
  ldap/src/main/java/org/springframework/security/ldap/SpringSecurityLdapTemplate.java
  ldap/src/main/java/org/springframework/security/ldap/userdetails/LdapUserDetailsManager.java
  messaging/src/main/java/org/springframework/security/messaging/util/matcher/SimpDestinationMessageMatcher.java
  openid/src/test/java/org/springframework/security/openid/OpenID4JavaConsumerTests.java
  openid/src/test/java/org/springframework/security/openid/OpenIDAuthenticationFilterTests.java
  samples/xml/contacts/src/main/java/sample/contact/ContactDaoSpring.java
  samples/xml/contacts/src/main/java/sample/contact/DataSourcePopulator.java
  samples/xml/dms/src/main/java/sample/dms/DocumentDaoImpl.java
  samples/xml/dms/src/main/java/sample/dms/secured/SecureDocumentDaoImpl.java
  samples/xml/servletapi/src/main/java/org/springframework/security/samples/servletapi/mvc/ServletApiController.java
  taglibs/src/main/java/org/springframework/security/taglibs/authz/AbstractAuthorizeTag.java
  test/src/test/java/org/springframework/security/test/web/servlet/request/SecurityMockMvcRequestPostProcessorsDigestTests.java
  web/src/main/java/org/springframework/security/web/FilterInvocation.java
  web/src/main/java/org/springframework/security/web/access/ExceptionTranslationFilter.java
  web/src/main/java/org/springframework/security/web/authentication/rememberme/JdbcTokenRepositoryImpl.java
  web/src/main/java/org/springframework/security/web/jaasapi/JaasApiIntegrationFilter.java
  web/src/main/java/org/springframework/security/web/server/util/matcher/ServerWebExchangeMatchers.java
  web/src/main/java/org/springframework/security/web/session/ConcurrentSessionFilter.java
  web/src/main/java/org/springframework/security/web/util/ThrowableAnalyzer.java
  web/src/test/java/org/springframework/security/web/FilterChainProxyTests.java
  web/src/test/java/org/springframework/security/web/access/ExceptionTranslationFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/UsernamePasswordAuthenticationFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/preauth/AbstractPreAuthenticatedProcessingFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/preauth/PreAuthenticatedAuthenticationProviderTests.java
  web/src/test/java/org/springframework/security/web/authentication/preauth/PreAuthenticatedGrantedAuthoritiesUserDetailsServiceTests.java
  web/src/test/java/org/springframework/security/web/authentication/preauth/RequestAttributeAuthenticationFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/preauth/header/RequestHeaderAuthenticationFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/preauth/j2ee/J2eePreAuthenticatedProcessingFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/preauth/websphere/WebSpherePreAuthenticatedProcessingFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/switchuser/SwitchUserFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/www/DigestAuthenticationFilterTests.java
  web/src/test/java/org/springframework/security/web/context/SecurityContextPersistenceFilterTests.java
  web/src/test/java/org/springframework/security/web/header/HeaderWriterFilterTests.java
  web/src/test/java/org/springframework/security/web/jaasapi/JaasApiIntegrationFilterTests.java
  web/src/test/java/org/springframework/security/web/savedrequest/HttpSessionRequestCacheTests.java
  web/src/test/java/org/springframework/security/web/servletapi/SecurityContextHolderAwareRequestFilterTests.java
Labels: status: waiting-for-triage

#7237 Add Checkstyle configuration for IntelliJ IDEA
  .gitignore
  .idea/checkstyle-idea.xml
  .idea/externalDependencies.xml
Labels: in: build, type: enhancement

#7240 Use List.toArray of 0
  config/src/main/java/org/springframework/security/config/annotation/authentication/configurers/provisioning/JdbcUserDetailsManagerConfigurer.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/ReactiveMethodSecuritySelector.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/LogoutConfigurer.java
  ldap/src/main/java/org/springframework/security/ldap/DefaultSpringSecurityContextSource.java
  ldap/src/main/java/org/springframework/security/ldap/userdetails/LdapUserDetailsManager.java
  ldap/src/main/java/org/springframework/security/ldap/userdetails/NestedLdapAuthoritiesPopulator.java
  ldap/src/main/java/org/springframework/security/ldap/userdetails/Person.java
  web/src/main/java/org/springframework/security/web/authentication/www/DigestAuthUtils.java
  web/src/main/java/org/springframework/security/web/savedrequest/SavedRequestAwareWrapper.java
  web/src/main/java/org/springframework/security/web/util/ThrowableAnalyzer.java
Labels: type: task

#7244 Add OAuth2LoginSpec#securityContextRepository
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/OAuth2LoginTests.java
Labels: in: oauth2, status: duplicate, type: enhancement

#7183 Use the 'io.freefair.aspectj' gradle plugin
  aspects/spring-security-aspects.gradle
  aspects/src/main/resources/META-INF/aop.xml
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/groovy/aspectj/AspectJPlugin.groovy
  buildSrc/src/main/resources/META-INF/gradle-plugins/aspectj.properties
  samples/javaconfig/aspectj/spring-security-samples-javaconfig-aspectj.gradle
  samples/xml/aspectj/spring-security-samples-xml-aspectj.gradle
Labels: in: build, type: enhancement

#7246 Rename OAuth2TokenIntrospectionClient
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/resource/OAuth2ResourceServerConfigurer.java
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/resource/OAuth2ResourceServerConfigurerTests.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/OAuth2IntrospectionAuthenticationProvider.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/OAuth2IntrospectionReactiveAuthenticationManager.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/introspection/NimbusOpaqueTokenIntrospector.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/introspection/NimbusReactiveOpaqueTokenIntrospector.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/introspection/OpaqueTokenIntrospector.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/introspection/ReactiveOpaqueTokenIntrospector.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/OAuth2IntrospectionAuthenticationProviderTests.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/OAuth2IntrospectionReactiveAuthenticationManagerTests.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/introspection/NimbusOpaqueTokenIntrospectorTests.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/introspection/NimbusReactiveOpaqueTokenIntrospectorTests.java
  samples/boot/oauth2resourceserver-multitenancy/src/main/java/sample/OAuth2ResourceServerSecurityConfiguration.java
Labels: in: oauth2, status: duplicate, type: enhancement

#7253 Prevent IntelliJ IDEA from generating spaces for indentation
  .editorconfig
Labels: in: build, type: enhancement

#7254 Use UTF-8 for compilation
  .editorconfig
  CONTRIBUTING.md
  build.gradle
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/HeadersConfigurerTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/RememberMeConfigurerTests.java
  core/src/site/site.xml
  ldap/src/integration-test/java/org/springframework/security/ldap/SpringSecurityLdapTemplateITests.java
  ldap/src/integration-test/java/org/springframework/security/ldap/search/FilterBasedLdapUserSearchTests.java
  ldap/src/integration-test/java/org/springframework/security/ldap/userdetails/LdapUserDetailsManagerTests.java
  samples/xml/contacts/src/main/webapp/WEB-INF/spring.tld
Labels: in: build

#7149 Add unbounid support in xml
  config/src/main/java/org/springframework/security/config/BeanIds.java
  config/src/main/java/org/springframework/security/config/SecurityNamespaceHandler.java
  config/src/main/java/org/springframework/security/config/ldap/LdapServerBeanDefinitionParser.java
  config/src/main/resources/META-INF/spring.schemas
  config/src/main/resources/org/springframework/security/config/spring-security-5.2.rnc
  config/src/main/resources/org/springframework/security/config/spring-security-5.2.xsd
  config/src/test/java/org/springframework/security/config/util/InMemoryXmlApplicationContext.java
  docs/manual/src/docs/asciidoc/_includes/servlet/additional-topics/ldap.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/appendix/namespace.adoc
  docs/manual/src/docs/asciidoc/index.adoc
  itest/ldap/embedded-ldap-apacheds-default/spring-security-itest-ldap-embedded-apacheds-default.gradle
  itest/ldap/embedded-ldap-apacheds-default/src/integration-test/java/org/springframework/security/LdapServerBeanDefinitionParserTests.java
  itest/ldap/embedded-ldap-apacheds-default/src/integration-test/resources/applicationContext-security.xml
  itest/ldap/embedded-ldap-apacheds-default/src/integration-test/resources/users.ldif
  itest/ldap/embedded-ldap-mode-apacheds/spring-security-itest-ldap-embedded-mode-apacheds.gradle
  itest/ldap/embedded-ldap-mode-apacheds/src/integration-test/java/org/springframework/security/LdapServerBeanDefinitionParserTests.java
  itest/ldap/embedded-ldap-mode-apacheds/src/integration-test/resources/applicationContext-security.xml
  itest/ldap/embedded-ldap-mode-apacheds/src/integration-test/resources/users.ldif
  itest/ldap/embedded-ldap-mode-unboundid/spring-security-itest-ldap-embedded-mode-unboundid.gradle
  itest/ldap/embedded-ldap-mode-unboundid/src/integration-test/java/org/springframework/security/LdapServerBeanDefinitionParserTests.java
  itest/ldap/embedded-ldap-mode-unboundid/src/integration-test/resources/applicationContext-security.xml
  itest/ldap/embedded-ldap-mode-unboundid/src/integration-test/resources/users.ldif
  itest/ldap/embedded-ldap-none/spring-security-itest-ldap-embedded-none.gradle
  itest/ldap/embedded-ldap-none/src/integration-test/java/org/springframework/security/LdapServerBeanDefinitionParserTests.java
  itest/ldap/embedded-ldap-none/src/integration-test/resources/applicationContext-security.xml
  itest/ldap/embedded-ldap-none/src/integration-test/resources/users.ldif
  itest/ldap/embedded-ldap-unboundid-default/spring-security-itest-ldap-embedded-unboundid-default.gradle
  itest/ldap/embedded-ldap-unboundid-default/src/integration-test/java/org/springframework/security/LdapServerBeanDefinitionParserTests.java
  itest/ldap/embedded-ldap-unboundid-default/src/integration-test/resources/applicationContext-security.xml
  itest/ldap/embedded-ldap-unboundid-default/src/integration-test/resources/users.ldif
Labels: in: config, type: enhancement

#7256 Add setter for authority prefix in JwtGrantedAuthoritiesConverter
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/JwtGrantedAuthoritiesConverter.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/JwtGrantedAuthoritiesConverterTests.java
Labels: in: oauth2, status: duplicate, type: enhancement

#7258 Expire as many sessions as exceed maximum allowed
  web/src/main/java/org/springframework/security/web/authentication/session/ConcurrentSessionControlAuthenticationStrategy.java
  web/src/test/java/org/springframework/security/web/authentication/session/ConcurrentSessionControlAuthenticationStrategyTests.java
Labels: in: web, status: duplicate, type: bug

#7277 Fix typo in docs
  docs/manual/src/docs/asciidoc/_includes/servlet/web/basic.adoc
Labels: in: docs, type: bug

#7264 Add setContentLengthLong detection to OnCommittedResponseWrapper.
  web/src/main/java/org/springframework/security/web/util/OnCommittedResponseWrapper.java
  web/src/test/java/org/springframework/security/web/util/OnCommittedResponseWrapperTests.java
Labels: in: web, status: duplicate, status: feedback-provided, type: enhancement

#7288 Add Catalan localization messages
  core/src/main/resources/org/springframework/security/messages_ca.properties
Labels: in: core, type: enhancement

#7308 Use ConcurrentHashMap in InMemoryReactiveClientRegistrationRepository
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/registration/InMemoryReactiveClientRegistrationRepository.java
Labels: status: waiting-for-triage

#7295 Remove internal Optional usage in favor of null checks
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/OAuth2ClientConfiguration.java
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/oidc/web/logout/OidcClientInitiatedLogoutSuccessHandler.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/registration/ClientRegistrations.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/OAuth2IntrospectionAuthenticationProvider.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/OAuth2IntrospectionReactiveAuthenticationManager.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/introspection/NimbusOpaqueTokenIntrospector.java
  web/src/main/java/org/springframework/security/web/server/csrf/CookieServerCsrfTokenRepository.java
  web/src/main/java/org/springframework/security/web/server/transport/HttpsRedirectWebFilter.java
Labels: status: waiting-for-triage
