Repository spring-projects/spring-security, pull requests merged in 2019-07, with the labels that each got.

#7041 BearerTokenAuthenticationFilter exposes AuthenticationFailureHandler
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/BearerTokenAuthenticationFilter.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/web/BearerTokenAuthenticationFilterTests.java
Labels: in: oauth2, status: duplicate, type: improvement

#7066 Use MessageDigest.isEqual() where possible
  crypto/src/main/java/org/springframework/security/crypto/bcrypt/BCrypt.java
  crypto/src/main/java/org/springframework/security/crypto/password/AbstractPasswordEncoder.java
  crypto/src/main/java/org/springframework/security/crypto/password/PasswordEncoderUtils.java
  crypto/src/main/java/org/springframework/security/crypto/password/Pbkdf2PasswordEncoder.java
  crypto/src/main/java/org/springframework/security/crypto/password/StandardPasswordEncoder.java
  crypto/src/main/java/org/springframework/security/crypto/scrypt/SCryptPasswordEncoder.java
  web/src/main/java/org/springframework/security/web/authentication/rememberme/TokenBasedRememberMeServices.java
Labels: in: crypto, type: improvement

#7047 Fixed validation in ClientRegistration.Builder
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/registration/ClientRegistration.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/registration/ClientRegistrationTests.java
Labels: in: oauth2, type: bug

#7076 Use contains() instead of indexOf() != -1
  core/src/test/java/org/springframework/security/core/userdetails/UserTests.java
Labels: in: core, type: improvement

#7075 Use foreach where possible
  core/src/test/java/org/springframework/security/core/authority/mapping/SimpleRoles2GrantedAuthoritiesMapperTests.java
  core/src/test/java/org/springframework/security/core/session/SessionRegistryImplTests.java
  crypto/src/main/java/org/springframework/security/crypto/codec/Hex.java
  crypto/src/test/java/org/springframework/security/crypto/bcrypt/BCryptTests.java
  samples/xml/dms/src/main/java/sample/dms/AbstractElement.java
  samples/xml/dms/src/test/java/sample/DmsIntegrationTests.java
  web/src/test/java/org/springframework/security/web/authentication/preauth/j2ee/J2eeBasedPreAuthenticatedWebAuthenticationDetailsSourceTests.java
Labels: in: core, in: crypto, in: docs, type: improvement

#7073 Cleanup redundant type casts
  acl/src/main/java/org/springframework/security/acls/jdbc/BasicLookupStrategy.java
  acl/src/main/java/org/springframework/security/acls/jdbc/JdbcAclService.java
  acl/src/test/java/org/springframework/security/acls/domain/AclImplTests.java
  acl/src/test/java/org/springframework/security/acls/jdbc/JdbcMutableAclServiceTests.java
  cas/src/main/java/org/springframework/security/cas/jackson2/CasJackson2Module.java
  config/src/main/java/org/springframework/security/config/annotation/authentication/builders/AuthenticationManagerBuilder.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/resource/OAuth2ResourceServerConfigurerTests.java
  core/src/main/java/org/springframework/security/access/expression/ExpressionUtils.java
  core/src/main/java/org/springframework/security/access/method/MapBasedMethodSecurityMetadataSource.java
  core/src/main/java/org/springframework/security/jackson2/CoreJackson2Module.java
  core/src/test/java/org/springframework/security/authentication/anonymous/AnonymousAuthenticationTokenTests.java
  core/src/test/java/org/springframework/security/authentication/dao/MockUserCache.java
  core/src/test/java/org/springframework/security/concurrent/AbstractDelegatingSecurityContextScheduledExecutorServiceTests.java
  core/src/test/java/org/springframework/security/core/token/KeyBasedPersistenceTokenServiceTests.java
  core/src/test/java/org/springframework/security/provisioning/JdbcUserDetailsManagerTests.java
  crypto/src/main/java/org/springframework/security/crypto/password/LdapShaPasswordEncoder.java
  itest/context/src/main/java/org/springframework/security/integration/python/PythonInterpreterPreInvocationAdvice.java
  ldap/src/integration-test/java/org/springframework/security/ldap/authentication/PasswordComparisonAuthenticatorTests.java
  ldap/src/main/java/org/springframework/security/ldap/userdetails/LdapUserDetailsManager.java
  samples/boot/webflux-form/src/integration-test/java/sample/webdriver/IndexPage.java
  samples/xml/contacts/src/main/java/sample/contact/ContactDaoSpring.java
  samples/xml/dms/src/main/java/sample/dms/DocumentDaoImpl.java
  samples/xml/dms/src/main/java/sample/dms/secured/SecureDocumentDaoImpl.java
  test/src/main/java/org/springframework/security/test/web/support/WebTestUtils.java
  web/src/main/java/org/springframework/security/web/authentication/preauth/j2ee/WebXmlMappableAttributesRetriever.java
  web/src/main/java/org/springframework/security/web/authentication/www/DigestAuthenticationEntryPoint.java
  web/src/main/java/org/springframework/security/web/savedrequest/FastHttpDateFormat.java
  web/src/test/java/org/springframework/security/web/server/DefaultServerRedirectStrategyTests.java
  web/src/test/java/org/springframework/security/web/server/authentication/RedirectServerAuthenticationEntryPointTests.java
  web/src/test/java/org/springframework/security/web/server/authentication/RedirectServerAuthenticationFailureHandlerTests.java
  web/src/test/java/org/springframework/security/web/server/authorization/HttpStatusServerAccessDeniedHandlerTests.java
Labels: type: enhancement

#7074 Cleanup explicit type arguments
  config/src/main/java/org/springframework/security/config/annotation/AbstractConfiguredSecurityBuilder.java
  config/src/main/java/org/springframework/security/config/annotation/SecurityConfigurerAdapter.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/GlobalMethodSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/web/builders/WebSecurity.java
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/AutowiredWebSecurityConfigurersIgnoreParents.java
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/WebSecurityConfigurerAdapter.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AbstractConfigAttributeRequestMatcherRegistry.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/ChannelSecurityConfigurer.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/CsrfConfigurer.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/ExpressionUrlAuthorizationConfigurer.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/UrlAuthorizationConfigurer.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/openid/OpenIDLoginConfigurer.java
  config/src/main/java/org/springframework/security/config/annotation/web/messaging/MessageSecurityMetadataSourceRegistry.java
  config/src/main/java/org/springframework/security/config/annotation/web/socket/AbstractSecurityWebSocketMessageBrokerConfigurer.java
  config/src/main/java/org/springframework/security/config/authentication/PasswordEncoderParser.java
  config/src/main/java/org/springframework/security/config/http/AuthenticationConfigBuilder.java
  config/src/main/java/org/springframework/security/config/http/CsrfBeanDefinitionParser.java
  config/src/main/java/org/springframework/security/config/method/GlobalMethodSecurityBeanDefinitionParser.java
  config/src/main/java/org/springframework/security/config/method/MethodSecurityMetadataSourceBeanDefinitionParser.java
  config/src/main/java/org/springframework/security/config/method/ProtectPointcutPostProcessor.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/GlobalMethodSecurityConfigurationTests.java
  core/src/main/java/org/springframework/security/access/hierarchicalroles/RoleHierarchyImpl.java
  core/src/main/java/org/springframework/security/access/method/DelegatingMethodSecurityMetadataSource.java
  core/src/main/java/org/springframework/security/authentication/DefaultAuthenticationEventPublisher.java
  core/src/main/java/org/springframework/security/concurrent/DelegatingSecurityContextExecutorService.java
  core/src/main/java/org/springframework/security/core/authority/mapping/MapBasedAttributes2GrantedAuthoritiesMapper.java
  core/src/main/java/org/springframework/security/jackson2/UnmodifiableListDeserializer.java
  core/src/test/java/org/springframework/security/access/hierarchicalroles/RoleHierarchyUtilsTests.java
  core/src/test/java/org/springframework/security/access/vote/ConsensusBasedTests.java
  core/src/test/java/org/springframework/security/access/vote/UnanimousBasedTests.java
  ldap/src/main/java/org/springframework/security/ldap/SpringSecurityLdapTemplate.java
  ldap/src/test/java/org/springframework/security/ldap/authentication/ad/ActiveDirectoryLdapAuthenticationProviderTests.java
  ldap/src/test/java/org/springframework/security/ldap/userdetails/LdapAuthorityTests.java
  messaging/src/main/java/org/springframework/security/messaging/access/expression/ExpressionBasedMessageSecurityMetadataSourceFactory.java
  messaging/src/main/java/org/springframework/security/messaging/context/SecurityContextChannelInterceptor.java
  messaging/src/test/java/org/springframework/security/messaging/access/expression/ExpressionBasedMessageSecurityMetadataSourceFactoryTests.java
  messaging/src/test/java/org/springframework/security/messaging/access/intercept/DefaultMessageSecurityMetadataSourceTests.java
  oauth2/oauth2-core/src/test/java/org/springframework/security/oauth2/core/web/reactive/function/OAuth2BodyExtractorsTests.java
  openid/src/main/java/org/springframework/security/openid/RegexBasedAxFetchListFactory.java
  samples/boot/oauth2authorizationserver/src/main/java/sample/AuthorizationServerConfiguration.java
  web/src/main/java/org/springframework/security/web/access/expression/ExpressionBasedFilterInvocationSecurityMetadataSource.java
  web/src/main/java/org/springframework/security/web/firewall/StrictHttpFirewall.java
  web/src/main/java/org/springframework/security/web/savedrequest/DefaultSavedRequest.java
  web/src/main/java/org/springframework/security/web/util/ThrowableAnalyzer.java
  web/src/test/java/org/springframework/security/web/access/DelegatingAccessDeniedHandlerTests.java
  web/src/test/java/org/springframework/security/web/access/expression/ExpressionBasedFilterInvocationSecurityMetadataSourceTests.java
  web/src/test/java/org/springframework/security/web/access/intercept/DefaultFilterInvocationSecurityMetadataSourceTests.java
  web/src/test/java/org/springframework/security/web/authentication/DelegatingAuthenticationFailureHandlerTests.java
  web/src/test/java/org/springframework/security/web/authentication/preauth/j2ee/J2eeBasedPreAuthenticatedWebAuthenticationDetailsSourceTests.java
  web/src/test/java/org/springframework/security/web/reactive/result/view/CsrfRequestDataValueProcessorTests.java
Labels: type: enhancement

#7077 Migrate TrangPlugin groovy->java
  buildSrc/src/main/groovy/trang/TrangPlugin.groovy
  buildSrc/src/main/java/trang/RncToXsd.java
  buildSrc/src/main/java/trang/TrangPlugin.java
Labels: in: build, type: enhancement

#7080 Changed docs to reflect that init should apply configurers
  config/src/main/java/org/springframework/security/config/annotation/SecurityConfigurer.java
Labels: in: docs, type: enhancement

#7082 Add Chinese Traditional localized messages.
  core/src/main/resources/org/springframework/security/messages_zh_TW.properties
Labels: in: core, type: enhancement

#7092 Fixed typo in documentation.
  docs/manual/src/docs/asciidoc/_includes/servlet/preface/java-configuration.adoc
Labels: in: docs, type: bug

#7096 Removal of scope in WWW-Authenticate header on OAuth2 insufficient_scope error responses
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/resource/OAuth2ResourceServerConfigurerTests.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/access/BearerTokenAccessDeniedHandler.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/access/server/BearerTokenServerAccessDeniedHandler.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/web/access/BearerTokenAccessDeniedHandlerTests.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/web/access/server/BearerTokenServerAccessDeniedHandlerTests.java
Labels: in: oauth2, status: duplicate, status: waiting-for-feedback, type: enhancement

#7084 Throws exception when passed IP address with too long mask
  web/src/main/java/org/springframework/security/web/util/matcher/IpAddressMatcher.java
  web/src/test/java/org/springframework/security/web/util/matcher/IpAddressMatcherTests.java
Labels: in: web, status: duplicate, status: feedback-provided, type: enhancement

#7121 Support nested builder in DSL for reactive apps
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/AuthorizeExchangeSpecTests.java
  config/src/test/java/org/springframework/security/config/web/server/CorsSpecTests.java
  config/src/test/java/org/springframework/security/config/web/server/ExceptionHandlingSpecTests.java
  config/src/test/java/org/springframework/security/config/web/server/FormLoginTests.java
  config/src/test/java/org/springframework/security/config/web/server/HeaderSpecTests.java
  config/src/test/java/org/springframework/security/config/web/server/HttpsRedirectSpecTests.java
  config/src/test/java/org/springframework/security/config/web/server/LogoutSpecTests.java
  config/src/test/java/org/springframework/security/config/web/server/OAuth2ClientSpecTests.java
  config/src/test/java/org/springframework/security/config/web/server/OAuth2LoginTests.java
  config/src/test/java/org/springframework/security/config/web/server/OAuth2ResourceServerSpecTests.java
  config/src/test/java/org/springframework/security/config/web/server/RequestCacheTests.java
  config/src/test/java/org/springframework/security/config/web/server/ServerHttpSecurityTests.java
  docs/manual/src/docs/asciidoc/_includes/reactive/cors.adoc
  docs/manual/src/docs/asciidoc/_includes/reactive/headers.adoc
  docs/manual/src/docs/asciidoc/_includes/reactive/method.adoc
  docs/manual/src/docs/asciidoc/_includes/reactive/oauth2/access-token.adoc
  docs/manual/src/docs/asciidoc/_includes/reactive/oauth2/login.adoc
  docs/manual/src/docs/asciidoc/_includes/reactive/oauth2/resource-server.adoc
  docs/manual/src/docs/asciidoc/_includes/reactive/redirect-https.adoc
  docs/manual/src/docs/asciidoc/_includes/reactive/webflux.adoc
  docs/manual/src/docs/asciidoc/_includes/reactive/x509.adoc
  samples/boot/hellowebflux-method/src/main/java/sample/SecurityConfig.java
  samples/boot/oauth2resourceserver-webflux/src/main/java/sample/SecurityConfig.java
  samples/boot/oauth2webclient-webflux/src/main/java/sample/config/SecurityConfig.java
  samples/boot/webflux-form/src/main/java/sample/WebfluxFormSecurityConfig.java
  samples/boot/webflux-x509/src/main/java/sample/WebfluxX509Application.java
Labels: in: config, status: duplicate, type: enhancement

#7106 Fix infinite loop in role hierarchy resolving
  core/src/main/java/org/springframework/security/access/hierarchicalroles/RoleHierarchyImpl.java
  core/src/test/java/org/springframework/security/access/hierarchicalroles/RoleHierarchyImplTests.java
Labels: in: core, status: waiting-for-triage, type: bug

#7111 Loggin Fix for printing the full stack trace, spring-projects/spring-…
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/BearerTokenAuthenticationFilter.java
Labels: in: oauth2, type: bug

#7025 Add AuthenticationConverter
  web/src/main/java/org/springframework/security/web/authentication/AuthenticationConverter.java
  web/src/main/java/org/springframework/security/web/authentication/AuthenticationEntryPointFailureHandler.java
  web/src/main/java/org/springframework/security/web/authentication/AuthenticationFilter.java
  web/src/main/java/org/springframework/security/web/authentication/AuthenticationSuccessHandler.java
  web/src/main/java/org/springframework/security/web/authentication/www/BasicAuthenticationConverter.java
  web/src/main/java/org/springframework/security/web/authentication/www/BasicAuthenticationFilter.java
  web/src/test/java/org/springframework/security/web/authentication/AbstractAuthenticationProcessingFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/AuthenticationFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/www/BasicAuthenticationConverterTests.java
Labels: in: web, status: duplicate, type: enhancement

#7119 Add support to prevent authentication when user is locked, disabled o…
  core/src/main/java/org/springframework/security/authentication/AbstractUserDetailsReactiveAuthenticationManager.java
  core/src/main/java/org/springframework/security/authentication/UserDetailsRepositoryReactiveAuthenticationManager.java
  core/src/test/java/org/springframework/security/authentication/UserDetailsRepositoryReactiveAuthenticationManagerTests.java
Labels: in: web, status: feedback-provided

#7127 Fix CSRF session authentication strategy since version
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/CsrfConfigurer.java
Labels: in: docs, type: bug

#7151 Fix javadoc
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/JwtTimestampValidator.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/JwtAuthenticationProvider.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/OAuth2IntrospectionAuthenticationProvider.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/OAuth2IntrospectionReactiveAuthenticationManager.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/BearerTokenAuthenticationEntryPoint.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/access/BearerTokenAccessDeniedHandler.java
  web/src/main/java/org/springframework/security/web/header/writers/HstsHeaderWriter.java
Labels: status: waiting-for-triage
