Repository spring-projects/spring-security, pull requests merged in 2019-09, with the labels that each got.

#7275 Allow to set default securityContextRepository for each authenticatio…
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/FormLoginTests.java
  config/src/test/java/org/springframework/security/config/web/server/OAuth2LoginTests.java
  config/src/test/java/org/springframework/security/config/web/server/ServerHttpSecurityTests.java
Labels: in: web, status: duplicate, type: enhancement

#7330 Add Servlet and ServerBearerExchangeFilterFunction
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/ServletBearerExchangeFilterFunction.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/server/ServerBearerExchangeFilterFunction.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/web/MockExchangeFunction.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/web/ServletBearerExchangeFilterFunctionTests.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/web/server/ServerBearerExchangeFilterFunctionTests.java
Labels: in: oauth2, status: duplicate, type: enhancement

#7383 Make OAuth2User extends OAuth2AuthenticatedPrincipal
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/userinfo/CustomUserTypesOAuth2UserServiceTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/userinfo/DefaultOAuth2UserServiceTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/userinfo/DefaultReactiveOAuth2UserServiceTests.java
  oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core/user/DefaultOAuth2User.java
  oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core/user/OAuth2User.java
Labels: in: oauth2, status: duplicate, type: enhancement

#7441 Fix wrong java runtime version mentioned in reference doc
  docs/manual/src/docs/asciidoc/_includes/servlet/architecture/technical-overview.adoc
Labels: status: waiting-for-triage

#7458 Fixed typo in comment
  acl/src/main/java/org/springframework/security/acls/jdbc/JdbcAclService.java
Labels: in: acl, type: enhancement

#7450 Fix AuthorizationPayloadInterceptor order using PayloadInterceptorOrd…
  config/src/main/java/org/springframework/security/config/annotation/rsocket/RSocketSecurity.java
Labels: in: config, type: bug

#7471 Release/dependencies for 5.2 ga
  gradle/dependency-management.gradle
Labels: type: dependency-upgrade

#7477 propagate saml authentication exception #7375
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/OpenSamlAuthenticationProvider.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/OpenSamlAuthenticationRequestFactory.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/OpenSamlImplementation.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/Saml2AuthenticationException.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/Saml2AuthenticationRequestFactory.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/Saml2Error.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/Saml2ErrorCodes.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/credentials/Saml2X509CredentialTests.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/authentication/OpenSamlAuthenticationProviderTests.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/authentication/Saml2CryptoTestSupport.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/authentication/TestSaml2AuthenticationObjects.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/authentication/TestSaml2X509Credentials.java
  samples/boot/saml2login/src/integration-test/java/org/springframework/security/samples/Saml2LoginIntegrationTests.java
Labels: in: saml2

#7478 Add hasAuthority method to RSocketSecurity
  config/src/main/java/org/springframework/security/config/annotation/rsocket/RSocketSecurity.java
  config/src/test/java/org/springframework/security/config/annotation/rsocket/RSocketMessageHandlerConnectionITests.java
Labels: in: config, type: enhancement

#7480 Upgrade JSON jackson library to 2.10.0
  core/src/main/java/org/springframework/security/jackson2/SecurityJackson2Modules.java
  core/src/main/java/org/springframework/security/jackson2/UserDeserializer.java
  gradle/dependency-management.gradle
Labels: type: dependency-upgrade

#7496 Correctly populate the AuthNRequest attributes
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/OpenSamlAuthenticationRequestFactory.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/Saml2AuthenticationRequest.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/servlet/filter/Saml2WebSsoAuthenticationRequestFilter.java
  samples/boot/saml2login/src/integration-test/java/org/springframework/security/samples/Saml2LoginIntegrationTests.java
Labels: in: saml2, type: bug

#7451 Add denyAll method in AuthorizePayloadsSpec.Access
  config/src/main/java/org/springframework/security/config/annotation/rsocket/RSocketSecurity.java
  config/src/test/java/org/springframework/security/config/annotation/rsocket/RSocketMessageHandlerConnectionITests.java
Labels: in: config

#7453 add hasAnyRole method in AuthorizePayloadsSpec.Access
  config/src/main/java/org/springframework/security/config/annotation/rsocket/RSocketSecurity.java
  config/src/test/java/org/springframework/security/config/annotation/rsocket/RSocketMessageHandlerConnectionITests.java
Labels: status: waiting-for-triage

#7455 Add hasAnyAuthority method in AuthorizePayloadsSpec.Access
  config/src/main/java/org/springframework/security/config/annotation/rsocket/RSocketSecurity.java
  config/src/test/java/org/springframework/security/config/annotation/rsocket/RSocketMessageHandlerConnectionITests.java
Labels: status: waiting-for-triage

#7495 Initial saml2 login docs
  docs/manual/src/docs/asciidoc/_includes/servlet/index.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/saml2/index.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/saml2/saml2-login.adoc
Labels: in: docs, in: saml2, type: enhancement
