Repository spring-projects/spring-security, pull requests merged in 2019-12, with the labels that each got.

#7674 Remove empty relay state from redirect url
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/servlet/filter/Saml2WebSsoAuthenticationRequestFilter.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/servlet/filter/Saml2WebSsoAuthenticationRequestFilterTests.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/servlet/filter/TestSaml2SigningCredentials.java
Labels: in: saml2, status: feedback-provided, type: bug

#7694 Improve unit test maintainability
  crypto/src/test/java/org/springframework/security/crypto/bcrypt/BCryptTests.java
Labels: in: crypto, type: enhancement

#7687 switches web authentication principal resolver to use reactive context (#6598)
  web/src/main/java/org/springframework/security/web/reactive/result/method/annotation/AuthenticationPrincipalArgumentResolver.java
  web/src/test/java/org/springframework/security/web/reactive/result/method/annotation/AuthenticationPrincipalArgumentResolverTests.java
Labels: in: web

#7683 fix: make Saml2Authentication serializable
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/OpenSamlAuthenticationProvider.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/Saml2AuthenticatedPrincipal.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/SimpleSaml2AuthenticatedPrincipal.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/authentication/OpenSamlAuthenticationProviderTests.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/authentication/SimpleSaml2AuthenticatedPrincipalTests.java
Labels: in: saml2

#7734 Use the custom ServerRequestCache for Oauth2LoginSpec
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/ServerHttpSecurityTests.java
Labels: in: oauth2, type: bug

#7753 Use the custom ServerRequestCache that the user configures
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/ServerHttpSecurityTests.java
Labels: in: oauth2, type: bug

#7726 Fix remember-me cookie set/cancel inconsistency:
  web/src/main/java/org/springframework/security/web/authentication/rememberme/AbstractRememberMeServices.java
  web/src/test/java/org/springframework/security/web/authentication/rememberme/AbstractRememberMeServicesTests.java
Labels: in: web, type: enhancement

#7772 Fix var typo and code readability
  docs/manual/src/docs/asciidoc/_includes/servlet/oauth2/oauth2-resourceserver.adoc
Labels: in: docs, type: bug
