Repository spring-projects/spring-security, pull requests merged in 2020-04, with the labels that each got.

#8319 Add addFilterAfter and addFilterBefore to Kotlin DSL
  config/src/main/kotlin/org/springframework/security/config/web/servlet/HttpSecurityDsl.kt
  config/src/test/kotlin/org/springframework/security/config/web/servlet/HttpSecurityDslTests.kt
Labels: in: config, type: enhancement

#8336 Fix typo in Javadoc of ServerHttpSecurity#hasAuthority
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
Labels: in: docs, type: bug

#8331 Adding Map support to DefaultMethodSecurityExpressionHandler
  core/src/main/java/org/springframework/security/access/expression/method/DefaultMethodSecurityExpressionHandler.java
  core/src/test/java/org/springframework/security/access/expression/method/DefaultMethodSecurityExpressionHandlerTests.java
  docs/manual/src/docs/asciidoc/_includes/servlet/authorization/expression-based.adoc
Labels: in: core, type: enhancement

#8330 BCryptPasswordEncoder rawPassword cannot be null
  crypto/src/main/java/org/springframework/security/crypto/bcrypt/BCryptPasswordEncoder.java
  crypto/src/test/java/org/springframework/security/crypto/bcrypt/BCryptPasswordEncoderTests.java
Labels: in: crypto, type: enhancement

#8318 Added setPrincipalClaimName to JwtAuthenticationConverter
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/JwtAuthenticationConverter.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/JwtAuthenticationConverterTests.java
Labels: in: oauth2, status: duplicate, type: enhancement

#8344 Fix example in javadoc of FilterChainProxy
  web/src/main/java/org/springframework/security/web/FilterChainProxy.java
Labels: in: docs, type: bug

#8382 Add marker to make Kotlin DSL type safe
  config/src/main/kotlin/org/springframework/security/config/web/server/AuthorizeExchangeDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerAnonymousDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerCorsDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerCsrfDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerExceptionHandlingDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerFormLoginDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerHeadersDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerHttpBasicDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerHttpSecurityDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerHttpsRedirectDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerLogoutDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerOAuth2ClientDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerOAuth2LoginDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerOAuth2ResourceServerDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerRequestCacheDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerSecurityMarker.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerX509Dsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/headers/ServerCacheControlDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/headers/ServerContentSecurityPolicyDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/headers/ServerContentTypeOptionsDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/headers/ServerFrameOptionsDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/headers/ServerHttpStrictTransportSecurityDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/headers/ServerReferrerPolicyDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/headers/ServerXssProtectionDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/oauth2/resourceserver/ServerJwtDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/oauth2/resourceserver/ServerOpaqueTokenDsl.kt
Labels: in: config, type: enhancement

#8406 Fix typo with correct capitalization
  docs/manual/src/docs/asciidoc/_includes/servlet/authorization/architecture.adoc
Labels: in: docs, type: bug

#8394 Documented dependencies for opaque Resource Server
  README.adoc
  docs/manual/src/docs/asciidoc/_includes/reactive/oauth2/resource-server.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/oauth2/oauth2-resourceserver.adoc
Labels: in: docs, status: feedback-provided, type: enhancement

#8411 Rename Preface to Introduction
  docs/manual/src/docs/asciidoc/_includes/about/index.adoc
Labels: in: docs, type: enhancement

#8417 Fix mismatch between CONTRIBUTING.adoc and .editorconfig
  CONTRIBUTING.adoc
Labels: in: docs, type: bug

#8414 Document description error gh-8119
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/unpwd/basic.adoc
Labels: in: docs, type: bug

#8424 Enables empty authorityPrefix in JwtGrantedAuthoritisConverter
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/JwtGrantedAuthoritiesConverter.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/JwtGrantedAuthoritiesConverterTests.java
Labels: in: oauth2, status: duplicate, type: bug

#8443 AesBytesEncryptor constructor that uses secret key
  crypto/src/main/java/org/springframework/security/crypto/encrypt/AesBytesEncryptor.java
  crypto/src/test/java/org/springframework/security/crypto/encrypt/AesBytesEncryptorTests.java
Labels: in: crypto, status: duplicate, type: enhancement
