Repository spring-projects/spring-security, pull requests merged in 2020-06, with the labels that each got.

#8618 Fix broken link in spring security reference document
  docs/manual/src/docs/asciidoc/_includes/servlet/integrations/websocket.adoc
Labels: in: docs, status: duplicate, type: bug

#8666 Fix a few typos in the documentation
  docs/manual/src/docs/asciidoc/_includes/about/authentication/password-storage.adoc
  docs/manual/src/docs/asciidoc/_includes/about/exploits/headers.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/architecture/security-filter-chain.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/architecture/provider-manager.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/unpwd/in-memory.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authorization/acls.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authorization/expression-based.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authorization/secure-objects.adoc
Labels: in: docs, type: bug

#8680 Set up Github Actions pipeline for PRs
  .github/workflows/pr-build-workflow.yml
Labels: status: waiting-for-triage

#8711 Update pipeline to run for PRs to all branches
  .github/workflows/pr-build-workflow.yml
Labels: status: waiting-for-triage

#8703 Reject the NULL character in paths in StrictHttpFirewall
  web/src/main/java/org/springframework/security/web/firewall/StrictHttpFirewall.java
  web/src/test/java/org/springframework/security/web/firewall/StrictHttpFirewallTests.java
Labels: in: web, type: enhancement

#8644 StrictHttpFirewall: Validate headers and parameters
  web/src/main/java/org/springframework/security/web/FilterInvocation.java
  web/src/main/java/org/springframework/security/web/firewall/StrictHttpFirewall.java
  web/src/test/java/org/springframework/security/web/firewall/StrictHttpFirewallTests.java
Labels: in: web

#8749 Add Configurable secure flag in CookieCsrfTokenRepository
  web/src/main/java/org/springframework/security/web/csrf/CookieCsrfTokenRepository.java
  web/src/test/java/org/springframework/security/web/csrf/CookieCsrfTokenRepositoryTests.java
Labels: in: web, type: enhancement

#8756 Use memory-saving Collections.singletonList in JdbcAclService.readAclById()
  acl/src/main/java/org/springframework/security/acls/jdbc/JdbcAclService.java
Labels: in: acl, type: enhancement

#8755 gh-8199 merged Spring security with dependencies
  docs/manual/src/docs/asciidoc/_includes/about/modules.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/appendix/dependencies.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/appendix/index.adoc
Labels: in: docs, type: enhancement

#8723 Use Github Actions PR pipeline and remove Travis for 5.2.x
  .github/workflows/pr-build-workflow.yml
  .travis.yml
  README.adoc
Labels: in: build, type: enhancement

#8722 Use Github Actions PR pipeline and remove Travis for 5.1.x
  .github/workflows/pr-build-workflow.yml
  .travis.yml
  README.adoc
Labels: in: build, type: enhancement

#8721 Use Github Actions PR pipeline and remove Travis for 5.0.x
  .github/workflows/pr-build-workflow.yml
  .travis.yml
  README.adoc
Labels: in: build, type: enhancement

#8724 Use Github Actions PR pipeline and remove Travis for 5.3.x
  .github/workflows/pr-build-workflow.yml
  .travis.yml
  README.adoc
Labels: in: build, type: enhancement
