Repository spring-projects/spring-security, pull requests merged in 2020-12, with the labels that each got.

#9215 Avoid ClassCastException if principalClaim value is not a …
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/JwtAuthenticationConverter.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/JwtAuthenticationConverterTests.java
Labels: in: oauth2, type: enhancement

#9265 Add permissionsPolicy http header
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/HeadersConfigurer.java
  config/src/main/java/org/springframework/security/config/http/HeadersBeanDefinitionParser.java
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerHeadersDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerPermissionsPolicyDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/servlet/HeadersDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/servlet/headers/PermissionsPolicyDsl.kt
  config/src/main/resources/org/springframework/security/config/spring-security-5.5.rnc
  config/src/main/resources/org/springframework/security/config/spring-security-5.5.xsd
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/HeadersConfigurerTests.java
  config/src/test/java/org/springframework/security/config/http/HttpHeadersConfigTests.java
  config/src/test/kotlin/org/springframework/security/config/web/server/ServerPermissionsPolicyDslTests.kt
  config/src/test/kotlin/org/springframework/security/config/web/servlet/HeadersDslTests.kt
  config/src/test/resources/org/springframework/security/config/http/HttpHeadersConfigTests-DefaultsDisabledWithPermissionsPolicy.xml
  docs/manual/src/docs/asciidoc/_includes/about/exploits/headers.adoc
  docs/manual/src/docs/asciidoc/_includes/reactive/exploits/headers.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/exploits/headers.adoc
  web/src/main/java/org/springframework/security/web/header/writers/PermissionsPolicyHeaderWriter.java
  web/src/main/java/org/springframework/security/web/server/header/PermissionsPolicyServerHttpHeadersWriter.java
  web/src/test/java/org/springframework/security/web/header/writers/PermissionsPolicyHeaderWriterTests.java
  web/src/test/java/org/springframework/security/web/server/header/PermissionsPolicyServerHttpHeadersWriterTests.java
Labels: in: web, status: duplicate, type: enhancement

#8996 Add AuthorizationManager
  config/src/main/java/org/springframework/security/config/annotation/web/builders/FilterComparator.java
  config/src/main/java/org/springframework/security/config/annotation/web/builders/HttpSecurity.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurerTests.java
  core/src/main/java/org/springframework/security/authorization/AuthenticatedAuthorizationManager.java
  core/src/main/java/org/springframework/security/authorization/AuthorityAuthorizationManager.java
  core/src/main/java/org/springframework/security/authorization/AuthorizationManager.java
  core/src/test/java/org/springframework/security/authorization/AuthenticatedAuthorizationManagerTests.java
  core/src/test/java/org/springframework/security/authorization/AuthorityAuthorizationManagerTests.java
  core/src/test/java/org/springframework/security/authorization/AuthorizationManagerTests.java
  web/src/main/java/org/springframework/security/web/access/intercept/AuthorizationFilter.java
  web/src/main/java/org/springframework/security/web/access/intercept/DelegatingAuthorizationManager.java
  web/src/main/java/org/springframework/security/web/access/intercept/RequestAuthorizationContext.java
  web/src/test/java/org/springframework/security/web/access/intercept/AuthorizationFilterTests.java
  web/src/test/java/org/springframework/security/web/access/intercept/DelegatingAuthorizationManagerTests.java
Labels: status: waiting-for-triage
