Repository spring-projects/spring-security, pull requests merged in 2020-07, with the labels that each got.

#8771 Add reified function variants to security DSL
  config/src/main/kotlin/org/springframework/security/config/web/servlet/HttpSecurityDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/servlet/oauth2/login/UserInfoEndpointDsl.kt
  config/src/test/kotlin/org/springframework/security/config/web/servlet/HttpSecurityDslTests.kt
Labels: in: config, type: enhancement

#8720 Use Github Actions PR pipeline and remove Travis for 4.2.x
  .github/workflows/pr-build-workflow.yml
  .travis.yml
  README.adoc
Labels: in: build, status: duplicate, type: enhancement

#8653 Adds cookie based RequestCache
  web/src/main/java/org/springframework/security/web/savedrequest/CookieRequestCache.java
  web/src/test/java/org/springframework/security/web/savedrequest/CookieRequestCacheTests.java
  web/src/test/java/org/springframework/security/web/savedrequest/RequestCacheAwareFilterTests.java
Labels: in: web, type: enhancement

#8800 Fix ProviderManager Javadoc typo
  core/src/main/java/org/springframework/security/authentication/ProviderManager.java
Labels: in: docs, type: bug

#8686 Updated SimpleSavedRequest#getMethod
  web/src/main/java/org/springframework/security/web/savedrequest/SimpleSavedRequest.java
  web/src/test/java/org/springframework/security/web/savedrequest/SimpleSavedRequestTests.java
Labels: in: web, status: duplicate, type: enhancement

#8780 mongolian translation for messages.properties
  core/src/main/resources/org/springframework/security/messages_mn_MN.properties
Labels: in: core, type: enhancement

#8832 Wording changes
  docs/manual/src/docs/asciidoc/_includes/about/exploits/csrf.adoc
  docs/manual/src/docs/asciidoc/_includes/about/exploits/headers.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/appendix/namespace.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/architecture/security-context-holder.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/cas.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/session-management.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/integrations/concurrency.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/integrations/mvc.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/saml2/saml2-login.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/test/method.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/test/mockmvc.adoc
Labels: in: docs, type: enhancement

#8851 Update README.adoc
  samples/boot/oauth2authorizationserver/README.adoc
Labels: in: docs, type: bug

#8854 Introduce AuthenticationConverterServerWebExchangeMatcher
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  web/src/main/java/org/springframework/security/web/server/authentication/AuthenticationConverterServerWebExchangeMatcher.java
  web/src/test/java/org/springframework/security/web/server/authentication/AuthenticationConverterServerWebExchangeMatcherTests.java
Labels: in: web, type: enhancement

#8850 Support custom filter in Server Kotlin DSL
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerHttpSecurityDsl.kt
  config/src/test/kotlin/org/springframework/security/config/web/server/ServerHttpSecurityDslTests.kt
Labels: in: config, type: enhancement

#8861 Update SimpleSaml2AuthenticatedPrincipal class name
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/DefaultSaml2AuthenticatedPrincipal.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/OpenSamlAuthenticationProvider.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/authentication/DefaultSaml2AuthenticatedPrincipalTests.java
Labels: status: waiting-for-triage
