Repository spring-projects/spring-security, pull requests merged in 2020-05, with the labels that each got.

#8456 Upgrade Freefair AspectJ plugin to v5.0.1
  build.gradle
Labels: in: build, type: enhancement

#8451 SecurityMockMvcConfigurer$DelegateFilter is not null-safe
  test/src/main/java/org/springframework/security/test/web/servlet/setup/SecurityMockMvcConfigurer.java
Labels: in: test, type: enhancement

#8454 Fixed typos in documentation
  docs/articles/src/docbook/codebase-structure.xml
  docs/guides/src/docs/asciidoc/form-javaconfig.asc
  docs/guides/src/docs/asciidoc/helloworld-boot.asc
  docs/manual/src/docs/asciidoc/_includes/about/exploits/csrf.adoc
  docs/manual/src/docs/asciidoc/_includes/reactive/exploits/csrf.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/appendix/faq.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/appendix/namespace.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/cas.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/unpwd/digest.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/unpwd/in-memory.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authorization/secure-objects.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/exploits/csrf.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/integrations/jsp-taglibs.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/integrations/localization.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/integrations/mvc.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/integrations/servlet-api.adoc
Labels: in: docs, type: bug

#8483 Update Traditional Chinese translation.
  core/src/main/resources/org/springframework/security/messages_zh_TW.properties
Labels: in: core, type: enhancement

#8488 Use Opaquetoken properties to configure timeouts
  docs/manual/src/docs/asciidoc/_includes/servlet/oauth2/oauth2-resourceserver.adoc
Labels: in: docs, type: enhancement

#8487 Fix code snippets to configure timeouts
  docs/manual/src/docs/asciidoc/_includes/servlet/oauth2/oauth2-resourceserver.adoc
Labels: in: docs, type: bug

#8512 Update AntPathRequestMatcher.java
  web/src/main/java/org/springframework/security/web/util/matcher/AntPathRequestMatcher.java
Labels: in: docs, type: bug

#8504 Add debug logging to Reactive Web
  web/src/main/java/org/springframework/security/web/server/DefaultServerRedirectStrategy.java
  web/src/main/java/org/springframework/security/web/server/DelegatingServerAuthenticationEntryPoint.java
  web/src/main/java/org/springframework/security/web/server/authentication/AnonymousAuthenticationWebFilter.java
  web/src/main/java/org/springframework/security/web/server/authentication/AuthenticationWebFilter.java
  web/src/main/java/org/springframework/security/web/server/authentication/logout/LogoutWebFilter.java
  web/src/main/java/org/springframework/security/web/server/authorization/AuthorizationWebFilter.java
  web/src/main/java/org/springframework/security/web/server/authorization/DelegatingReactiveAuthorizationManager.java
  web/src/main/java/org/springframework/security/web/server/context/WebSessionServerSecurityContextRepository.java
  web/src/main/java/org/springframework/security/web/server/savedrequest/CookieServerRequestCache.java
  web/src/main/java/org/springframework/security/web/server/savedrequest/WebSessionServerRequestCache.java
  web/src/main/java/org/springframework/security/web/server/util/matcher/AndServerWebExchangeMatcher.java
  web/src/main/java/org/springframework/security/web/server/util/matcher/NegatedServerWebExchangeMatcher.java
  web/src/main/java/org/springframework/security/web/server/util/matcher/OrServerWebExchangeMatcher.java
  web/src/main/java/org/springframework/security/web/server/util/matcher/PathPatternParserServerWebExchangeMatcher.java
Labels: in: web, type: enhancement

#8450 Deprecate OpenID 2.0 support
  config/src/main/java/org/springframework/security/config/annotation/web/builders/HttpSecurity.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/openid/OpenIDLoginConfigurer.java
  config/src/main/java/org/springframework/security/config/http/AuthenticationConfigBuilder.java
  config/src/main/resources/org/springframework/security/config/spring-security-5.4.rnc
  config/src/main/resources/org/springframework/security/config/spring-security-5.4.xsd
  docs/articles/src/docbook/codebase-structure.xml
  docs/manual/src/docs/asciidoc/_includes/about/modules.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/openid.adoc
  openid/spring-security-openid.gradle
  openid/src/main/java/org/springframework/security/openid/AuthenticationCancelledException.java
  openid/src/main/java/org/springframework/security/openid/AxFetchListFactory.java
  openid/src/main/java/org/springframework/security/openid/NullAxFetchListFactory.java
  openid/src/main/java/org/springframework/security/openid/OpenID4JavaConsumer.java
  openid/src/main/java/org/springframework/security/openid/OpenIDAttribute.java
  openid/src/main/java/org/springframework/security/openid/OpenIDAuthenticationFilter.java
  openid/src/main/java/org/springframework/security/openid/OpenIDAuthenticationProvider.java
  openid/src/main/java/org/springframework/security/openid/OpenIDAuthenticationStatus.java
  openid/src/main/java/org/springframework/security/openid/OpenIDAuthenticationToken.java
  openid/src/main/java/org/springframework/security/openid/OpenIDConsumer.java
  openid/src/main/java/org/springframework/security/openid/OpenIDConsumerException.java
  openid/src/main/java/org/springframework/security/openid/RegexBasedAxFetchListFactory.java
  openid/src/main/java/org/springframework/security/openid/package.html
  openid/src/test/java/org/springframework/security/openid/MockOpenIDConsumer.java
  openid/src/test/java/org/springframework/security/openid/OpenID4JavaConsumerTests.java
  openid/src/test/java/org/springframework/security/openid/OpenIDAuthenticationFilterTests.java
  openid/src/test/java/org/springframework/security/openid/OpenIDAuthenticationProviderTests.java
  openid/src/test/resources/logback-test.xml
  samples/javaconfig/openid/src/main/java/org/springframework/security/samples/config/MessageSecurityWebApplicationInitializer.java
  samples/javaconfig/openid/src/main/java/org/springframework/security/samples/config/SecurityConfig.java
  samples/javaconfig/openid/src/main/java/org/springframework/security/samples/mvc/UserController.java
  samples/javaconfig/openid/src/main/java/org/springframework/security/samples/security/CustomUserDetailsService.java
  samples/javaconfig/openid/src/main/resources/views/login.html
  samples/xml/openid/src/main/java/org/springframework/security/samples/openid/CustomUserDetails.java
  samples/xml/openid/src/main/java/org/springframework/security/samples/openid/CustomUserDetailsService.java
  samples/xml/openid/src/main/resources/logback.xml
  samples/xml/openid/src/main/webapp/index.jsp
  samples/xml/openid/src/main/webapp/openidlogin.jsp
Labels: in: openid, status: feedback-provided, type: task

#8508 Document NoOpPasswordEncoder will not be removed
  crypto/src/main/java/org/springframework/security/crypto/password/NoOpPasswordEncoder.java
Labels: in: core, type: bug

#8534 Create the CSRF token on the bounded elactic scheduler
  web/src/main/java/org/springframework/security/web/server/csrf/WebSessionServerCsrfTokenRepository.java
Labels: in: web, type: bug

#8540 Update index.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/kotlin-configuration/index.adoc
Labels: in: docs, type: bug

#8399 Throw exception if URL does not include context path when context relative
  web/src/main/java/org/springframework/security/web/DefaultRedirectStrategy.java
  web/src/test/java/org/springframework/security/web/DefaultRedirectStrategyTests.java
Labels: in: web, type: breaks-passivity, type: enhancement

#8550 Polish JDBC Authentication documentation
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/unpwd/jdbc.adoc
Labels: in: docs, type: bug

#8542 Security issue: mentioning the default strength of `BCryptPasswordEncoder`
  docs/manual/src/docs/asciidoc/_includes/about/authentication/password-storage.adoc
Labels: in: docs, type: enhancement

#8553 Remove unused field 'digester' in Md4PasswordEncoder
  crypto/src/main/java/org/springframework/security/crypto/password/Md4PasswordEncoder.java
Labels: in: crypto, type: bug

#8581 Fixing typo in SAML 2.0 Sample README
  samples/boot/saml2login/README.adoc
Labels: in: docs, type: bug

#8586 Fix typos in BCryptPasswordEncoder documentation
  docs/manual/src/docs/asciidoc/_includes/about/authentication/password-storage.adoc
Labels: in: docs, type: bug
