Repository spring-projects/spring-security, pull requests merged in 2020-03, with the labels that each got.

#8051 Add Kotlin Configuration section to docs
  docs/manual/src/docs/asciidoc/_includes/servlet/index.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/kotlin-configuration/index.adoc
Labels: in: docs, type: enhancement

#8059 Typo fix
  docs/manual/src/docs/asciidoc/_includes/about/authentication/password-storage.adoc
Labels: in: docs, type: bug

#8084 Update test to have comment about secure salt length
  crypto/src/test/java/org/springframework/security/crypto/encrypt/BouncyCastleAesBytesEncryptorEquivalencyTest.java
Labels: in: build, type: enhancement

#8109 Fix exception from empty basic auth header token
  web/src/main/java/org/springframework/security/web/authentication/www/BasicAuthenticationConverter.java
  web/src/test/java/org/springframework/security/web/authentication/www/BasicAuthenticationConverterTests.java
  web/src/test/java/org/springframework/security/web/authentication/www/BasicAuthenticationFilterTests.java
Labels: status: waiting-for-triage

#8130 Fix typo in Javadoc of HttpSecurity#csrf()
  config/src/main/java/org/springframework/security/config/annotation/web/builders/HttpSecurity.java
Labels: in: config, type: bug

#8205 Upgrade to Gradle Enterprise Plugin 3.2
  settings.gradle
Labels: in: build, type: enhancement

#8214 Fix links in oauth2 doc
  docs/manual/src/docs/asciidoc/_includes/servlet/oauth2/oauth2-login.adoc
Labels: in: docs, type: bug
