Repository spring-projects/spring-security, pull requests merged in 2020-09, with the labels that each got.

#8907 Refactor - apply java code convention
  web/src/main/java/org/springframework/security/web/authentication/www/BasicAuthenticationFilter.java
Labels: in: ldap, type: task

#8965 Update abstract-authentication-processing-filter.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/architecture/abstract-authentication-processing-filter.adoc
Labels: in: docs, type: enhancement

#8998 Customizer for WebSecurity
  config/src/main/java/org/springframework/security/config/annotation/web/builders/WebSecurity.java
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/WebSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/WebSecurityCustomizer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configuration/WebSecurityConfigurationTests.java
Labels: in: web, type: enhancement

#9021 Use Schedulers.boundedElastic for UUID.randomUUID
  web/src/main/java/org/springframework/security/web/server/csrf/CookieServerCsrfTokenRepository.java
Labels: in: web, status: duplicate, type: bug

#9022 Fix broken Mono chain
  web/src/main/java/org/springframework/security/web/server/csrf/WebSessionServerCsrfTokenRepository.java
Labels: in: web, status: duplicate, type: bug

#8890 Quick javadoc fix for DelegatingPasswordEncoder
  crypto/src/main/java/org/springframework/security/crypto/password/DelegatingPasswordEncoder.java
Labels: in: docs, type: bug

#9042 fix miswritten comment of FormLoginDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/servlet/FormLoginDsl.kt
Labels: in: docs, type: bug

#9034 Replace Tomcat6 URL for SSL Guide to Tomcat 10
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/x509.adoc
Labels: in: docs, type: enhancement

#9050 Replace expired msdn link with latest web archive copy
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/HeadersConfigurer.java
Labels: status: waiting-for-triage

#9053 Add try-with-resources to close stream
  core/src/main/java/org/springframework/security/core/SpringSecurityCoreVersion.java
Labels: in: core, type: bug

#8991 Add build scans to PR builds
  .github/workflows/pr-build-workflow.yml
  build.gradle
  settings.gradle
Labels: in: build, type: enhancement
