Repository spring-projects/spring-security, pull requests merged in 2020-10, with the labels that each got.

#8993 Prevent PR builds from running on forks
  .github/workflows/pr-build-workflow.yml
Labels: in: build, type: enhancement

#9137 JwtIssuerValidator handles issuer (iss) claim values as Strings and URLs
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/JwtIssuerValidator.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/JwtIssuerValidatorTests.java
Labels: status: waiting-for-triage

#9118 Closes gh-8196 appendix indentation
  docs/manual/src/docs/asciidoc/_includes/servlet/appendix/index.adoc
Labels: in: docs, type: bug

#9145 [docs]Add white space before strong notation.
  docs/manual/src/docs/asciidoc/_includes/servlet/appendix/faq.adoc
Labels: in: docs, type: bug
