Repository spring-projects/spring-security, pull requests merged in 2020-01, with the labels that each got.

#7755 Resolve JavaType only once for whitelisted class
  core/src/main/java/org/springframework/security/jackson2/SecurityJackson2Modules.java
Labels: in: core, type: enhancement

#7773 Fix unchecked assignment and possible NPE
  docs/manual/src/docs/asciidoc/_includes/reactive/oauth2/resource-server.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/oauth2/oauth2-resourceserver.adoc
Labels: in: docs, type: enhancement

#7784 Fixed desc of PasswordEncoder
  docs/manual/src/docs/asciidoc/_includes/servlet/architecture/core-services.adoc
Labels: in: docs, type: enhancement

#7764 Set secure on cookie when logging out
  web/src/main/java/org/springframework/security/web/authentication/logout/CookieClearingLogoutHandler.java
  web/src/test/java/org/springframework/security/web/authentication/logout/CookieClearingLogoutHandlerTests.java
Labels: in: web, type: enhancement

#7691 Migrate LDAP integration tests groovy->java
  config/src/integration-test/groovy/org/springframework/security/config/annotation/authentication/ldap/LdapAuthenticationProviderBuilderSecurityBuilderTests.groovy
  config/src/integration-test/groovy/org/springframework/security/config/annotation/authentication/ldap/LdapAuthenticationProviderConfigurerTests.groovy
  config/src/integration-test/groovy/org/springframework/security/config/annotation/authentication/ldap/NamespaceLdapAuthenticationProviderTests.groovy
  config/src/integration-test/groovy/org/springframework/security/config/ldap/LdapProviderBeanDefinitionParserTests.groovy
  config/src/integration-test/java/org/springframework/security/config/annotation/authentication/ldap/LdapAuthenticationProviderBuilderSecurityBuilderTests.java
  config/src/integration-test/java/org/springframework/security/config/annotation/authentication/ldap/LdapAuthenticationProviderConfigurerTests.java
  config/src/integration-test/java/org/springframework/security/config/annotation/authentication/ldap/NamespaceLdapAuthenticationProviderTests.java
  config/src/integration-test/java/org/springframework/security/config/annotation/authentication/ldap/NamespaceLdapAuthenticationProviderTestsConfigs.java
  config/src/integration-test/java/org/springframework/security/config/ldap/LdapProviderBeanDefinitionParserTests.java
  config/src/test/groovy/org/springframework/security/config/AbstractXmlConfigTests.groovy
  config/src/test/groovy/org/springframework/security/config/annotation/AnyObjectPostProcessor.java
  config/src/test/groovy/org/springframework/security/config/annotation/BaseSpringSpec.groovy
  config/src/test/groovy/org/springframework/security/config/http/AbstractHttpConfigTests.groovy
Labels: in: ldap, status: waiting-for-feedback

#7830 Typo in doc
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/oauth2/client/OAuth2LoginConfigurer.java
Labels: status: waiting-for-triage

#7744 Don't cache requests with `Accept: text/event-stream` by default.
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/RequestCacheConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/RequestCacheConfigurerTests.java
Labels: status: waiting-for-triage

#7850 Load default LDIF file from classpath in "unboundid" mode
  ldap/src/integration-test/java/org/springframework/security/ldap/server/UnboundIdContainerLdifTests.java
  ldap/src/integration-test/resources/test-server-malformed.txt
  ldap/src/main/java/org/springframework/security/ldap/server/UnboundIdContainer.java
Labels: in: ldap, type: bug

#7846 Set credentials charset of authentication converter
  web/src/main/java/org/springframework/security/web/authentication/www/BasicAuthenticationFilter.java
  web/src/test/java/org/springframework/security/web/authentication/www/BasicAuthenticationFilterTests.java
Labels: in: web, type: bug
