Repository spring-projects/spring-security, pull requests merged in 2021-04, with the labels that each got.

#9537 Fix javadoc in crypto/encrypt/Encryptors.java
  crypto/src/main/java/org/springframework/security/crypto/encrypt/Encryptors.java
Labels: status: waiting-for-triage

#9536 Update javadoc for AesBytesEncryptor constructors
  crypto/src/main/java/org/springframework/security/crypto/encrypt/AesBytesEncryptor.java
Labels: in: crypto, type: enhancement

#9562 Add package-list
  buildSrc/src/main/groovy/io/spring/gradle/convention/JavadocApiPlugin.groovy
Labels: in: build, type: bug

#9586 Add coroutine support to pre/post authorize
  config/spring-security-config.gradle
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/EnableReactiveMethodSecurityTests.java
  config/src/test/kotlin/org/springframework/security/config/annotation/method/configuration/KotlinEnableReactiveMethodSecurityTests.kt
  config/src/test/kotlin/org/springframework/security/config/annotation/method/configuration/KotlinReactiveMessageService.kt
  config/src/test/kotlin/org/springframework/security/config/annotation/method/configuration/KotlinReactiveMessageServiceImpl.kt
  core/spring-security-core.gradle
  core/src/main/java/org/springframework/security/access/prepost/PrePostAdviceReactiveMethodInterceptor.java
  dependencies/spring-security-dependencies.gradle
  docs/manual/src/docs/asciidoc/_includes/reactive/method.adoc
Labels: in: core, type: enhancement

#9648 Add guard around logger.debug statement
  web/src/main/java/org/springframework/security/web/session/SimpleRedirectInvalidSessionStrategy.java
Labels: in: web, type: bug

#9658 Fix ClassCastException in JwtDecoders fromIssuerLocation
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/JwtDecoderProviderConfigurationUtils.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/JwtDecoderProviderConfigurationUtilsTests.java
Labels: status: waiting-for-triage

#9679 Make Csrf cookie secure flag configurable (WebFlux)
  web/src/main/java/org/springframework/security/web/server/csrf/CookieServerCsrfTokenRepository.java
  web/src/test/java/org/springframework/security/web/server/csrf/CookieServerCsrfTokenRepositoryTests.java
Labels: in: web, type: enhancement
