Repository spring-projects/spring-security, pull requests merged in 2021-10, with the labels that each got.

#10307 Allow SAML 2.0 `loginProcessingUrl` without `registrationId` path variable
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/saml2/Saml2LoginConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/saml2/Saml2LoginConfigurerTests.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/servlet/filter/Saml2WebSsoAuthenticationFilter.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/servlet/filter/Saml2WebSsoAuthenticationFilterTests.java
Labels: status: duplicate, type: bug, in: saml2

#10216 Allow AuthenticationPrincipal argument type to be primitive
  messaging/src/main/java/org/springframework/security/messaging/context/AuthenticationPrincipalArgumentResolver.java
  messaging/src/main/java/org/springframework/security/messaging/handler/invocation/reactive/AuthenticationPrincipalArgumentResolver.java
  messaging/src/test/java/org/springframework/security/messaging/context/AuthenticationPrincipalArgumentResolverTests.java
  messaging/src/test/java/org/springframework/security/messaging/handler/invocation/reactive/AuthenticationPrincipalArgumentResolverTests.java
  web/src/main/java/org/springframework/security/web/method/annotation/AuthenticationPrincipalArgumentResolver.java
  web/src/main/java/org/springframework/security/web/reactive/result/method/annotation/AuthenticationPrincipalArgumentResolver.java
  web/src/test/java/org/springframework/security/web/method/annotation/AuthenticationPrincipalArgumentResolverTests.java
  web/src/test/java/org/springframework/security/web/reactive/result/method/annotation/AuthenticationPrincipalArgumentResolverTests.java
Labels: in: web, type: bug

#10338 Update Gradle to 7.2
  acl/spring-security-acl.gradle
  aspects/spring-security-aspects.gradle
  buildSrc/build.gradle
  buildSrc/gradle/wrapper/gradle-wrapper.properties
  buildSrc/src/main/groovy/io/spring/gradle/convention/AbstractSpringJavaPlugin.groovy
  buildSrc/src/main/groovy/io/spring/gradle/convention/IntegrationTestPlugin.groovy
  buildSrc/src/main/groovy/io/spring/gradle/convention/ManagementConfigurationPlugin.java
  buildSrc/src/main/groovy/io/spring/gradle/convention/OssrhPlugin.groovy
  buildSrc/src/main/groovy/io/spring/gradle/convention/SpringModulePlugin.groovy
  buildSrc/src/main/java/org/springframework/gradle/propdeps/PropDepsEclipsePlugin.groovy
  buildSrc/src/main/java/org/springframework/gradle/propdeps/PropDepsIdeaPlugin.groovy
  buildSrc/src/main/java/org/springframework/gradle/propdeps/PropDepsPlugin.groovy
  buildSrc/src/main/resources/META-INF/gradle-plugins/io.spring.convention.ossrh.properties
  buildSrc/src/test/java/io/spring/gradle/convention/SpringMavenPluginITest.java
  buildSrc/src/test/resources/samples/integrationtest/withpropdeps/build.gradle
  buildSrc/src/test/resources/samples/maven/install/build.gradle
  buildSrc/src/test/resources/samples/maven/signing/build.gradle
  buildSrc/src/test/resources/samples/maven/upload/build.gradle
  buildSrc/src/test/resources/samples/showcase/sgbcs-api/sgbcs-api.gradle
  buildSrc/src/test/resources/samples/showcase/sgbcs-core/sgbcs-core.gradle
  buildSrc/src/test/resources/samples/testsconfiguration/web/build.gradle
  cas/spring-security-cas.gradle
  config/spring-security-config.gradle
  core/spring-security-core.gradle
  crypto/spring-security-crypto.gradle
  data/spring-security-data.gradle
  gradle/wrapper/gradle-wrapper.properties
  itest/context/spring-security-itest-context.gradle
  itest/ldap/embedded-ldap-apacheds-default/spring-security-itest-ldap-embedded-apacheds-default.gradle
  itest/ldap/embedded-ldap-mode-apacheds/spring-security-itest-ldap-embedded-mode-apacheds.gradle
  itest/ldap/embedded-ldap-mode-unboundid/spring-security-itest-ldap-embedded-mode-unboundid.gradle
  itest/ldap/embedded-ldap-none/spring-security-itest-ldap-embedded-none.gradle
  itest/ldap/embedded-ldap-unboundid-default/spring-security-itest-ldap-embedded-unboundid-default.gradle
  itest/web/spring-security-itest-web.gradle
  ldap/spring-security-ldap.gradle
  messaging/spring-security-messaging.gradle
  oauth2/oauth2-client/spring-security-oauth2-client.gradle
  oauth2/oauth2-core/spring-security-oauth2-core.gradle
  oauth2/oauth2-jose/spring-security-oauth2-jose.gradle
  oauth2/oauth2-resource-server/spring-security-oauth2-resource-server.gradle
  openid/spring-security-openid.gradle
  remoting/spring-security-remoting.gradle
  rsocket/spring-security-rsocket.gradle
  saml2/saml2-service-provider/spring-security-saml2-service-provider.gradle
  taglibs/spring-security-taglibs.gradle
  test/spring-security-test.gradle
  web/spring-security-web.gradle
Labels: type: dependency-upgrade

#10327 Implement reactive support for JWT as an Authorization Grant
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/JwtBearerReactiveOAuth2AuthorizedClientProvider.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/endpoint/WebClientReactiveJwtBearerTokenResponseClient.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/JwtBearerReactiveOAuth2AuthorizedClientProviderTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/endpoint/WebClientReactiveJwtBearerTokenResponseClientTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/web/reactive/function/client/ServerOAuth2AuthorizedClientExchangeFilterFunctionTests.java
Labels: status: duplicate, type: enhancement, in: oauth2

#10345 Fix Antora cross-references that lead to other pages.
  docs/modules/ROOT/pages/reactive/oauth2/access-token.adoc
  docs/modules/ROOT/pages/reactive/oauth2/resource-server.adoc
  docs/modules/ROOT/pages/servlet/configuration/java.adoc
  docs/modules/ROOT/pages/servlet/oauth2/oauth2-resourceserver.adoc
  docs/modules/ROOT/pages/servlet/saml2/index.adoc
  docs/modules/ROOT/pages/servlet/saml2/saml2-login.adoc
  docs/modules/ROOT/pages/servlet/test/mockmvc.adoc
Labels: in: docs, type: enhancement

#10336 Add parameters converter support to AbstractWebClientReactiveOAuth2AccessTokenResponseClient
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/endpoint/AbstractWebClientReactiveOAuth2AccessTokenResponseClient.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/endpoint/WebClientReactiveAuthorizationCodeTokenResponseClientTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/endpoint/WebClientReactiveClientCredentialsTokenResponseClientTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/endpoint/WebClientReactiveJwtBearerTokenResponseClientTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/endpoint/WebClientReactivePasswordTokenResponseClientTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/endpoint/WebClientReactiveRefreshTokenTokenResponseClientTests.java
Labels: status: duplicate, type: enhancement, in: oauth2
