Repository spring-projects/spring-security, pull requests merged in 2021-03, with the labels that each got.

#9482 Fix missing return in example
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/unpwd/jdbc.adoc
Labels: in: docs, status: duplicate, type: bug

#9485 Fix typo in ServerHttpSecurityDsl Javadoc
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerHttpSecurityDsl.kt
Labels: in: docs, type: bug

#9521 Update ComparableVersion to version from Maven 3.6.3
  core/src/main/java/org/springframework/security/core/ComparableVersion.java
Labels: in: core, type: enhancement

#9518 Add javadoc at constructors.
  crypto/src/main/java/org/springframework/security/crypto/encrypt/AesBytesEncryptor.java
Labels: in: docs, type: enhancement
