Repository spring-projects/spring-security, pull requests merged in 2021-07, with the labels that each got.

#8688 Support A Well-Known URL for Changing Passwords
  config/src/main/java/org/springframework/security/config/Elements.java
  config/src/main/java/org/springframework/security/config/annotation/web/builders/HttpSecurity.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/PasswordManagementConfigurer.java
  config/src/main/java/org/springframework/security/config/http/HttpConfigurationBuilder.java
  config/src/main/java/org/springframework/security/config/http/SecurityFilters.java
  config/src/main/java/org/springframework/security/config/http/WellKnownChangePasswordBeanDefinitionParser.java
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerHttpSecurityDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerPasswordManagementDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/servlet/HttpSecurityDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/servlet/PasswordManagementDsl.kt
  config/src/main/resources/org/springframework/security/config/spring-security-5.6.rnc
  config/src/main/resources/org/springframework/security/config/spring-security-5.6.xsd
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/PasswordManagementConfigurerTests.java
  config/src/test/java/org/springframework/security/config/http/WellKnownChangePasswordBeanDefinitionParserTests.java
  config/src/test/java/org/springframework/security/config/web/server/PasswordManagementSpecTests.java
  config/src/test/kotlin/org/springframework/security/config/web/server/ServerPasswordManagementDslTests.kt
  config/src/test/kotlin/org/springframework/security/config/web/servlet/PasswordManagementDslTests.kt
  config/src/test/resources/org/springframework/security/config/http/WellKnownChangePasswordBeanDefinitionParserTests-CustomChangePasswordPage.xml
  config/src/test/resources/org/springframework/security/config/http/WellKnownChangePasswordBeanDefinitionParserTests-DefaultChangePasswordPage.xml
  docs/manual/src/docs/asciidoc/_includes/servlet/appendix/namespace.adoc
  web/src/main/java/org/springframework/security/web/RequestMatcherRedirectFilter.java
  web/src/main/java/org/springframework/security/web/server/ExchangeMatcherRedirectWebFilter.java
  web/src/test/java/org/springframework/security/web/RequestMatcherRedirectFilterTests.java
  web/src/test/java/org/springframework/security/web/server/ExchangeMatcherRedirectWebFilterTests.java
Labels: in: web, status: duplicate, type: enhancement

#10050 Fix a typo in some class names in the oauth documentation
  docs/manual/src/docs/asciidoc/_includes/servlet/oauth2/oauth2-resourceserver.adoc
Labels: in: docs, type: bug

#9853 Support for X509 Certificate in RsaKeyConverters #9736
  core/src/main/java/org/springframework/security/converter/RsaKeyConverters.java
  core/src/test/java/org/springframework/security/converter/RsaKeyConvertersTests.java
Labels: in: core, status: duplicate, type: enhancement

#10069 Remove wildcard from generics in converter
  oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core/endpoint/DefaultMapOAuth2AccessTokenResponseConverter.java
  oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core/endpoint/MapOAuth2AccessTokenResponseConverter.java
  oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core/http/converter/OAuth2AccessTokenResponseHttpMessageConverter.java
  oauth2/oauth2-core/src/test/java/org/springframework/security/oauth2/core/endpoint/DefaultMapOAuth2AccessTokenResponseConverterTests.java
Labels: in: oauth2

#10064 Fixes references to AuthenticationFailureEvent, which does not exist
  docs/manual/src/docs/asciidoc/_includes/servlet/authentication/events.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/oauth2/oauth2-resourceserver.adoc
Labels: in: docs, status: duplicate, type: bug

#10132 Update deprecated usage in reference docs
  docs/manual/src/docs/asciidoc/_includes/servlet/oauth2/oauth2-client.adoc
Labels: in: docs, status: duplicate, type: enhancement

#10139 Improve OpenSAML Version Check
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/saml2/Saml2LoginConfigurer.java
Labels: in: saml2, type: bug

#10031 Verify Samples in Build
  .github/workflows/continuous-integration-workflow.yml
  build.gradle
  buildSrc/src/main/groovy/io/spring/gradle/IncludeRepoTask.groovy
  buildSrc/src/main/groovy/io/spring/gradle/convention/IncludeCheckRemotePlugin.groovy
  buildSrc/src/main/resources/META-INF/gradle-plugins/io.spring.convention.include-check-remote.properties
  buildSrc/src/test/java/io/spring/gradle/convention/IncludeCheckRemotePluginTest.java
Labels: in: build, status: duplicate, type: enhancement
