Repository spring-projects/spring-security, pull requests merged in 2021-02, with the labels that each got.

#9408 Update saml2-login.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/saml2/saml2-login.adoc
Labels: in: docs, type: bug

#9453 Downgrade to Nimbus JOSE JWT 8.+
  gradle/dependency-management.gradle
  samples/boot/oauth2authorizationserver/spring-security-samples-boot-oauth2authorizationserver.gradle
  samples/boot/oauth2login-webflux/spring-security-samples-boot-oauth2login-webflux.gradle
  samples/boot/oauth2login/spring-security-samples-boot-oauth2login.gradle
  samples/boot/oauth2resourceserver-jwe/spring-security-samples-boot-oauth2resourceserver-jwe.gradle
  samples/boot/oauth2resourceserver-multitenancy/spring-security-samples-boot-oauth2resourceserver-multitenancy.gradle
  samples/boot/oauth2resourceserver-opaque/spring-security-samples-boot-oauth2resourceserver-opaque.gradle
  samples/boot/oauth2resourceserver-static/spring-security-samples-boot-oauth2resourceserver-static.gradle
  samples/boot/oauth2resourceserver-webflux/spring-security-samples-boot-oauth2resourceserver-webflux.gradle
  samples/boot/oauth2resourceserver/spring-security-samples-boot-oauth2resourceserver.gradle
  samples/boot/oauth2webclient-webflux/spring-security-samples-boot-oauth2webclient-webflux.gradle
  samples/boot/oauth2webclient/spring-security-samples-boot-oauth2webclient.gradle
Labels: status: waiting-for-triage

#9411 Add RememberMeDsl
  config/src/main/kotlin/org/springframework/security/config/web/servlet/HttpSecurityDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/servlet/RememberMeDsl.kt
  config/src/test/kotlin/org/springframework/security/config/web/servlet/RememberMeDslTests.kt
Labels: in: config, type: enhancement
