Repository spring-projects/spring-security, pull requests merged in 2021-09, with the labels that each got.

#10224 Closes gh-10222. Added exception to error message
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoder.java
Labels: status: duplicate, type: bug

#10078 Replace static "ROLE_" with customized role prefix
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/ExpressionUrlAuthorizationConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/ExpressionUrlAuthorizationConfigurerTests.java
Labels: in: config, type: enhancement

#10244 Fix typo in index.adoc
  docs/manual/src/docs/asciidoc/_includes/servlet/hello/index.adoc
Labels: in: docs, type: bug

#10256 Fix return type to allow further security config
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/saml2/Saml2LoginConfigurer.java
Labels: status: duplicate, type: bug, in: saml2

#10255 Updated the Reactive Test Support Documentation references for `SecurityMockServerConfigurers`
  docs/manual/src/docs/asciidoc/_includes/reactive/test.adoc
Labels: status: duplicate, in: docs, type: enhancement

#10275 Update Saml2LoginConfigurer to pick up Saml2AuthenticationTokenConverter bean
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/saml2/Saml2LoginConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/saml2/Saml2LoginConfigurerTests.java
Labels: status: duplicate, type: enhancement, in: saml2

#9737 Propagate TestSecurityContextHolder to SecurityContextHolder
  docs/manual/src/docs/asciidoc/_includes/servlet/test/mockmvc.adoc
  etc/checkstyle/checkstyle.xml
  test/src/main/java/org/springframework/security/test/web/servlet/response/SecurityMockMvcResultHandlers.java
  test/src/test/java/org/springframework/security/test/web/servlet/response/SecurityMockMvcResultHandlersTest.java
Labels: status: duplicate, in: test, type: enhancement

#10306 Saml2WebSsoAuthenticationFilter adds authentication details
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/servlet/filter/Saml2WebSsoAuthenticationFilter.java
  saml2/saml2-service-provider/src/opensaml4Main/java/org/springframework/security/saml2/provider/service/authentication/OpenSaml4AuthenticationProvider.java
  saml2/saml2-service-provider/src/opensaml4Test/java/org/springframework/security/saml2/provider/service/authentication/OpenSaml4AuthenticationProviderTests.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/servlet/filter/Saml2WebSsoAuthenticationFilterTests.java
Labels: status: duplicate, type: enhancement, in: saml2

#10302 Check for multiple access tokens per rfc 6750
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/server/ServerBearerTokenAuthenticationConverter.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/web/server/ServerBearerTokenAuthenticationConverterTests.java
Labels: status: waiting-for-triage

#10332 Fix isAssignable order, closes gh-10236
  core/src/main/java/org/springframework/security/access/prepost/PostInvocationAdviceProvider.java
  core/src/test/java/org/springframework/security/access/prepost/PostInvocationAdviceProviderTest.java
Labels: status: duplicate, in: core, type: bug
