Repository spring-projects/spring-security, pull requests merged in 2021-11, with the labels that each got.

#10468 Document authentication helper method in WebClient integration
  docs/modules/ROOT/pages/servlet/oauth2/oauth2-client.adoc
Labels: status: duplicate, in: docs, type: enhancement

#10469 Document parameters converter in oauth2 client servlet docs
  docs/modules/ROOT/pages/servlet/oauth2/oauth2-client.adoc
Labels: status: duplicate, in: docs, type: enhancement

#10498 Update aspectj-plugin to 6.3.0
  aspects/spring-security-aspects.gradle
  build.gradle
Labels: in: build, type: dependency-upgrade

#10161 Add RedirectStrategy customization to ChannelSecurityConfigurer for R…
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/ChannelSecurityConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/ChannelSecurityConfigurerTests.java
Labels: in: config, type: enhancement, status: feedback-provided

#10075 Avoid using SpEL to change the meaning of the injection point
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/WebSecurityConfiguration.java
Labels: status: waiting-for-triage, in: config

#10432 Allow custom OAuth2ErrorHttpMessageConverter with OAuth2ErrorResponse…
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/http/OAuth2ErrorResponseErrorHandler.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/http/OAuth2ErrorResponseErrorHandlerTests.java
Labels: status: duplicate, type: enhancement, in: oauth2

#10510 #10505 Fixed jwtDecoder example code
  docs/modules/ROOT/pages/servlet/oauth2/resource-server/multitenancy.adoc
Labels: status: duplicate, in: docs, type: bug

#10358 Update clockSkew javadoc according to implementation
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/OAuth2AuthorizedClientProviderBuilder.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/ReactiveOAuth2AuthorizedClientProviderBuilder.java
Labels: status: duplicate, in: docs, type: bug

#10537 Bump up Gradle enterprise plugin to 3.7.2
  settings.gradle
Labels: type: task

#10546 Fix return type for NoOpPasswordEncoder bean in documentation
  docs/modules/ROOT/pages/features/authentication/password-storage.adoc
Labels: in: docs, type: bug

#10500 Fix JwtClaimValidator error type
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/JwtClaimValidator.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/JwtClaimValidatorTests.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/JwtTimestampValidatorTests.java
Labels: status: duplicate, type: bug, in: oauth2

#10543 PermitAllSupport supports AuthorizeHttpRequestsConfigurer
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurer.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/PermitAllSupport.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/PermitAllSupportTests.java
  web/src/main/java/org/springframework/security/web/access/intercept/RequestMatcherDelegatingAuthorizationManager.java
  web/src/test/java/org/springframework/security/web/access/intercept/RequestMatcherDelegatingAuthorizationManagerTests.java
Labels: status: duplicate, in: config, type: enhancement
