Repository spring-projects/spring-security, pull requests merged in 2021-05, with the labels that each got.

#9725 Update Deprecated Property in Opaque Token Introspectors
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/introspection/NimbusOpaqueTokenIntrospector.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/introspection/NimbusReactiveOpaqueTokenIntrospector.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/introspection/NimbusReactiveOpaqueTokenIntrospectorTests.java
Labels: in: oauth2, status: duplicate, type: bug

#9717 Stop CI Jobs on Forks
  .github/workflows/continuous-integration-workflow.yml
  .github/workflows/pr-build-workflow.yml
Labels: in: build, status: duplicate, type: enhancement

#9743 Update SAML JavaDoc to reference specification
  saml2/saml2-service-provider/core/src/main/java/org/springframework/security/saml2/provider/service/registration/RelyingPartyRegistration.java
Labels: in: saml2, status: duplicate, type: bug

#9757 Update Check Windows CI Workflow
  .github/workflows/continuous-integration-workflow.yml
Labels: in: build, type: bug

#9786 Fix Build Scan not being published in Build Windows Job
  .github/workflows/continuous-integration-workflow.yml
Labels: in: build, status: duplicate, type: bug

#9769 Handle encoded spaces in the root dn
  ldap/src/integration-test/java/org/springframework/security/ldap/DefaultSpringSecurityContextSourceTests.java
  ldap/src/integration-test/java/org/springframework/security/ldap/search/FilterBasedLdapUserSearchWithSpacesTests.java
  ldap/src/integration-test/resources/test-server-with-spaces.ldif
  ldap/src/main/java/org/springframework/security/ldap/DefaultSpringSecurityContextSource.java
Labels: in: ldap, status: duplicate, type: bug

#9770 Handle custom status codes in OAuth2ErrorResponseErrorHandler
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/http/OAuth2ErrorResponseErrorHandler.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/http/OAuth2ErrorResponseErrorHandlerTests.java
Labels: in: oauth2, type: bug

#9508 Anonymous in ExceptionTranslationWebFilter
  web/src/main/java/org/springframework/security/web/server/authorization/ExceptionTranslationWebFilter.java
  web/src/test/java/org/springframework/security/web/server/authorization/ExceptionTranslationWebFilterTests.java
Labels: in: web, type: enhancement

#9813 Adjust createNewSessionIfAllowed to prevent NPE
  web/src/main/java/org/springframework/security/web/context/HttpSessionSecurityContextRepository.java
  web/src/test/java/org/springframework/security/web/context/HttpSessionSecurityContextRepositoryTests.java
Labels: in: web, status: duplicate, type: bug
