Repository spring-projects/spring-security, pull requests merged in 2021-08, with the labels that each got.

#10041 Add converter for authentication result in OAuth2LoginAuthenticationFilter
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/OAuth2LoginAuthenticationFilter.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/web/OAuth2LoginAuthenticationFilterTests.java
Labels: status: duplicate, type: enhancement, in: oauth2

#10046 Introducing WebSessionServerLogoutHandler
  web/src/main/java/org/springframework/security/web/server/authentication/logout/WebSessionServerLogoutHandler.java
  web/src/test/java/org/springframework/security/web/server/authentication/logout/WebSessionServerLogoutHandlerTests.java
Labels: in: web, type: enhancement

#10177 Update a broken link to Spring Boot documentation
  docs/manual/src/docs/asciidoc/_includes/servlet/appendix/proxy-server.adoc
Labels: in: docs, type: bug
