Repository spring-projects/spring-security, pull requests merged in 2022-07, with the labels that each got.

#11462 Set the useTrailingSlashMatch to true for tests
  config/src/test/java/org/springframework/security/config/annotation/web/builders/WebSecurityTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/AuthorizeRequestsTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/HttpSecurityRequestMatchersTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/UrlAuthorizationConfigurerTests.java
  config/src/test/java/org/springframework/security/htmlunit/server/WebTestClientHtmlUnitDriverBuilderTests.java
  config/src/test/kotlin/org/springframework/security/config/annotation/web/AuthorizeHttpRequestsDslTests.kt
  config/src/test/kotlin/org/springframework/security/config/annotation/web/AuthorizeRequestsDslTests.kt
  config/src/test/kotlin/org/springframework/security/config/web/server/ServerJwtDslTests.kt
  config/src/test/resources/org/springframework/security/config/http/InterceptUrlConfigTests-MvcMatchers.xml
  config/src/test/resources/org/springframework/security/config/http/InterceptUrlConfigTests-MvcMatchersServletPath.xml
  test/src/test/java/org/springframework/security/test/web/servlet/request/SecurityMockMvcRequestPostProcessorsAuthenticationStatelessTests.java
  test/src/test/java/org/springframework/security/test/web/servlet/request/SecurityMockMvcRequestPostProcessorsTestSecurityContextStatelessTests.java
Labels: in: web, type: enhancement

#11471 Use relative schema location for tests
  config/src/main/resources/org/springframework/security/config/spring-security-6.0.xsd
  config/src/test/resources/org/springframework/security/config/method-security.xml
Labels: in: config, type: task

#11495 Add remaining methods from ExpressionUrlAuthorizationConfigurer to AuthorizeHttpRequestsConfigurer
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurerTests.java
  core/src/main/java/org/springframework/security/authorization/AuthenticatedAuthorizationManager.java
  core/src/test/java/org/springframework/security/authorization/AuthenticatedAuthorizationManagerTests.java
Labels: status: duplicate, in: core, type: enhancement

#11610 Add Kotlin example for WebTestClient setup docs
  docs/modules/ROOT/pages/reactive/test/web/setup.adoc
Labels: in: docs, type: enhancement

#11613 "Well-Know" should be "Well-Known"
  docs/modules/ROOT/pages/features/authentication/password-storage.adoc
Labels: in: docs, type: bug

#11627 Remove @Configuration from webflux config examples
  docs/modules/ROOT/pages/reactive/configuration/webflux.adoc
Labels: in: docs, type: enhancement

#11632 Add hash-based Content-Security-Policy for SAML pages
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/servlet/filter/Saml2WebSsoAuthenticationRequestFilter.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/web/authentication/logout/Saml2LogoutRequestFilter.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/web/authentication/logout/Saml2RelyingPartyInitiatedLogoutSuccessHandler.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/servlet/filter/Saml2WebSsoAuthenticationRequestFilterTests.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/web/authentication/logout/Saml2LogoutRequestFilterTests.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/web/authentication/logout/Saml2RelyingPartyInitiatedLogoutSuccessHandlerTests.java
Labels: status: duplicate, type: enhancement, in: saml2
