Repository spring-projects/spring-security, pull requests merged in 2022-08, with the labels that each got.

#11670 Consistently handle RequestRejectedException if it is wrapped
  web/src/main/java/org/springframework/security/web/FilterChainProxy.java
  web/src/test/java/org/springframework/security/web/FilterChainProxyTests.java
Labels: status: duplicate, in: web, type: bug

#11709 Modify words
  docs/modules/ROOT/pages/getting-spring-security.adoc
Labels: in: docs, type: bug

#11677 Move SAML Post inline javascript to script tag
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/servlet/filter/Saml2WebSsoAuthenticationRequestFilter.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/web/authentication/logout/Saml2LogoutRequestFilter.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/web/authentication/logout/Saml2RelyingPartyInitiatedLogoutSuccessHandler.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/servlet/filter/Saml2WebSsoAuthenticationRequestFilterTests.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/web/authentication/logout/Saml2LogoutRequestFilterTests.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/web/authentication/logout/Saml2RelyingPartyInitiatedLogoutSuccessHandlerTests.java
Labels: status: duplicate, type: bug, in: saml2

#11667 Add remaining methods from ExpressionUrlAuthorizationConfigurer to Me…
  config/src/test/java/org/springframework/security/config/annotation/web/socket/WebSocketMessageBrokerSecurityConfigurationTests.java
  messaging/src/main/java/org/springframework/security/messaging/access/intercept/MessageMatcherDelegatingAuthorizationManager.java
Labels: status: waiting-for-triage, in: messaging, type: enhancement

#11713 Fix IP address parse error message in IpAddressMatcher#parseAddress()
  web/src/main/java/org/springframework/security/web/util/matcher/IpAddressMatcher.java
Labels: in: web, type: bug

#11599 Remove default value for access parameter
  config/src/main/kotlin/org/springframework/security/config/annotation/web/AuthorizeRequestsDsl.kt
Labels: status: duplicate, in: config, type: bug, type: breaks-passivity

#11638 Refresh remote JWK when unknown KID error occurs
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoder.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoderTests.java
Labels: status: duplicate, type: bug, in: oauth2

#11773 xsd document security-context-explicit-save defaults to true
  config/src/main/resources/org/springframework/security/config/spring-security-6.0.xsd
Labels: in: docs, type: bug
