Repository spring-projects/spring-security, pull requests merged in 2022-03, with the labels that each got.

#10922 Edit declaration of PasswordEncoder interface of Cryptography section
  docs/modules/ROOT/pages/features/integrations/cryptography.adoc
Labels: status: duplicate, in: docs, type: bug

#10929 Update CI process to create GitHub releases with release notes
  .github/workflows/continuous-integration-workflow.yml
Labels: status: duplicate, in: build, type: task

#10948 Add missing output and checkout
  .github/workflows/continuous-integration-workflow.yml
Labels: in: build, type: bug

#10974 Do not run CI on tags
  .github/workflows/continuous-integration-workflow.yml
Labels: in: build, type: enhancement

#10972 Add support for customizing claims in JWT Client Assertion
  docs/modules/ROOT/pages/reactive/oauth2/client/client-authentication.adoc
  docs/modules/ROOT/pages/servlet/oauth2/client/client-authentication.adoc
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/endpoint/NimbusJwtClientAuthenticationParametersConverter.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/endpoint/NimbusJwtClientAuthenticationParametersConverterTests.java
Labels: status: duplicate, type: enhancement, in: oauth2

#10975 Add gradle task for updating to next development version
  buildSrc/src/main/java/org/springframework/security/convention/versions/UpdateProjectVersionPlugin.java
  buildSrc/src/main/java/org/springframework/security/convention/versions/UpdateToSnapshotVersionTask.java
Labels: in: build, type: enhancement

#11034 Fix saml2 authentication-requests documentation
  docs/modules/ROOT/pages/servlet/saml2/login/authentication-requests.adoc
Labels: in: docs, type: enhancement
