Repository spring-projects/spring-security, pull requests merged in 2022-11, with the labels that each got.

#12099 Document how to opt-in for SHA256 in RememberMe
  docs/modules/ROOT/pages/migration.adoc
Labels: status: duplicate, in: docs, type: enhancement

#12073 Add configurable authorities split regex
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/JwtGrantedAuthoritiesConverter.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/JwtGrantedAuthoritiesConverterTests.java
Labels: type: enhancement, in: oauth2

#12114 Fix typo on opaque-token.adoc
  docs/modules/ROOT/pages/servlet/oauth2/resource-server/opaque-token.adoc
Labels: in: docs, type: bug

#12135 fix the version fix for 5.6.0-RC1
  lib/antora/extensions/version-fix.js
Labels: status: waiting-for-triage

#12137 Document how to use the new requestMatchers and securityMatchers
  docs/modules/ROOT/pages/migration.adoc
Labels: status: duplicate, in: docs, type: enhancement

#12150 Remove antMatcher usage from Multiple HttpSecurity docs
  docs/modules/ROOT/pages/servlet/configuration/java.adoc
Labels: in: docs, type: bug

#12162 configure Antora and CI workflow to support partial build
  .github/actions/publish-docs.sh
  .github/workflows/deploy-docs.yml
  antora-playbook.yml
  build.gradle
  lib/antora/extensions/autoconfig-partial-build.js
Labels: in: docs

#12194 remove dry-run on sync script; replace with -c for partial build
  .github/actions/publish-docs.sh
Labels: status: waiting-for-triage

#12195 trigger partial docs build on push (5.8.x)
  .github/actions/dispatch.sh
  .github/workflows/antora-generate.yml
  .github/workflows/deploy-docs.yml
Labels: in: docs, type: enhancement

#12197 fix deploy docs workflow (5.8.x)
  .github/workflows/deploy-docs.yml
Labels: in: docs, type: bug

#12201 Add Polish localization to error messages from ExceptionTranslationFi…
  core/src/main/resources/org/springframework/security/messages_pl.properties
Labels: in: web, type: enhancement

#12130 Fix SAML logout log messages
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/logout/OpenSamlLogoutRequestValidator.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/web/authentication/logout/Saml2LogoutResponseFilter.java
Labels: type: bug, in: saml2

#12199 Register FilterChainProxy for All Dispatcher Types Migration Steps
  docs/modules/ROOT/pages/migration.adoc
Labels: status: duplicate, in: docs, type: enhancement

#12184 Register FilterChainProxy for all dispatcher types
  docs/modules/ROOT/pages/whats-new.adoc
  web/src/main/java/org/springframework/security/web/context/AbstractSecurityWebApplicationInitializer.java
  web/src/test/java/org/springframework/security/web/context/AbstractSecurityWebApplicationInitializerTests.java
Labels: status: duplicate, in: web, type: enhancement

#12068 Use UTF-8 in Saml2MetadataFilter response writer
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/web/Saml2MetadataFilter.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/web/Saml2MetadataFilterTests.java
Labels: status: duplicate, type: bug, in: saml2

#12240 Migration guide for CAS support removal
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/migration/servlet/cas.adoc
Labels: in: docs, type: enhancement

#12263 do full sync when Antora reverts to running a full build
  .github/actions/publish-docs.sh
  lib/antora/extensions/autoconfig-partial-build.js
Labels: status: waiting-for-triage

#12264 sync docs build; upgrade Antora and Antora Collector to latest alpha (5.6.x)
  .github/actions/dispatch.sh
  .github/workflows/antora-generate.yml
  .github/workflows/deploy-docs.yml
  docs/antora-linked-worktree-patch.js
  docs/local-antora-playbook.yml
  docs/spring-security-docs.gradle
Labels: status: waiting-for-triage

#12301 Fix securityMatchers code sample
  docs/modules/ROOT/pages/migration/servlet/config.adoc
Labels: status: duplicate, in: docs, type: bug

#12279 add 6.x branches to docs build
  antora-playbook.yml
Labels: status: waiting-for-triage
