Repository spring-projects/spring-security, pull requests merged in 2023-02, with the labels that each got.

#12503 chore: Use cache in continuous-integration-workflow.yml
  .github/workflows/continuous-integration-workflow.yml
Labels: in: build, type: enhancement

#12613 Update javadoc in EnableWebSecurity
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/EnableWebSecurity.java
Labels: in: docs, type: enhancement

#12609 Fix image in servlet architecture docs section
  docs/modules/ROOT/assets/images/servlet/architecture/multi-securityfilterchain.odg
  docs/modules/ROOT/assets/images/servlet/architecture/multi-securityfilterchain.png
Labels: in: docs, type: bug

#12363 Update expression-based.adoc
  docs/modules/ROOT/pages/servlet/authorization/expression-based.adoc
Labels: in: docs, type: bug, status: feedback-provided

#12521 NimbusReactiveJwtDecoder support mono chain
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusReactiveJwtDecoder.java
Labels: type: enhancement, in: oauth2

#12669 Update Gradle Enterprise plugin
  settings.gradle
Labels: in: build, type: dependency-upgrade

#12661 Fix typo in Authentication Migrations page
  docs/modules/ROOT/pages/migration/servlet/authentication.adoc
Labels: status: duplicate, in: docs, type: bug

#12643 Fix javadox typo
  core/src/main/java/org/springframework/security/authorization/AuthorizationManager.java
Labels: in: config, type: bug

#12634 fix typo and update javadoc in AbstractAuthenticationFilterConfigurer
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AbstractAuthenticationFilterConfigurer.java
Labels: in: web, type: bug

#12657 Polish DefaultLoginPageGeneratingFilter
  web/src/main/java/org/springframework/security/web/authentication/ui/DefaultLoginPageGeneratingFilter.java
Labels: in: web, type: enhancement

#12582 Add RelayState Customizer to SAML Logout
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/web/authentication/logout/OpenSaml4LogoutRequestResolver.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/web/authentication/logout/OpenSamlLogoutRequestResolver.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/web/authentication/logout/OpenSaml4LogoutRequestResolverTests.java
Labels: type: enhancement, in: saml2

#12670 Fix NPE in HttpSecurity#addFilterBefore, HttpSecurity#addFilterAfter
  config/src/main/java/org/springframework/security/config/annotation/web/builders/HttpSecurity.java
  config/src/test/java/org/springframework/security/config/annotation/web/builders/HttpSecurityAddFilterTest.java
Labels: status: duplicate, in: config, type: bug

#12685 Preserve OpenSamlAssertingPartyDetails Instance
  docs/modules/ROOT/pages/servlet/saml2/metadata.adoc
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/registration/OpenSamlMetadataRelyingPartyRegistrationConverter.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/registration/OpenSamlRelyingPartyRegistrationBuilderHttpMessageConverter.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/registration/RelyingPartyRegistration.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/registration/RelyingPartyRegistrations.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/registration/OpenSamlMetadataRelyingPartyRegistrationConverterTests.java
Labels: status: duplicate, type: bug, in: saml2

#12746 Make Saml2LogoutRequest#encoder transient
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/logout/Saml2LogoutRequest.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/web/authentication/logout/HttpSessionLogoutRequestRepositoryTests.java
Labels: status: waiting-for-triage

#12448 Fix entity-id ignored in RelyingPartyRegistration XML config
  config/src/main/java/org/springframework/security/config/saml2/RelyingPartyRegistrationsBeanDefinitionParser.java
  config/src/test/java/org/springframework/security/config/saml2/RelyingPartyRegistrationsBeanDefinitionParserTests.java
Labels: status: duplicate, type: bug, in: saml2
