Repository spring-projects/spring-security, pull requests merged in 2023-04, with the labels that each got.

#12962 Don't use raw xml saml authentication request for response validation
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/OpenSaml4AuthenticationProvider.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/authentication/OpenSaml4AuthenticationProviderTests.java
Labels: type: enhancement, in: saml2

#12948 Replace deprecated OpenSaml methods
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/metadata/OpenSamlMetadataResolver.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/web/authentication/logout/OpenSamlLogoutRequestResolver.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/authentication/TestOpenSamlObjects.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/web/authentication/logout/OpenSamlLogoutRequestResolverTests.java
Labels: type: enhancement, in: saml2

#12955 #12811 - compressing simple class name for observation
  web/src/main/java/org/springframework/security/web/ObservationFilterChainDecorator.java
  web/src/test/java/org/springframework/security/web/ObservationFilterChainDecoratorTests.java
Labels: status: waiting-for-triage

#12996 Fix javadoc for migration from WebSecurityConfigurerAdapter
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/WebSecurityConfigurerAdapter.java
Labels: in: docs, type: bug

#13077 Update architecture.adoc
  docs/modules/ROOT/pages/servlet/authorization/architecture.adoc
Labels: in: docs, type: bug

#13078 Update acls.adoc
  docs/modules/ROOT/pages/servlet/authorization/acls.adoc
Labels: in: docs, type: bug

#12884 fix javadoc typo
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AbstractAuthenticationFilterConfigurer.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/HeadersConfigurer.java
  core/src/main/java/org/springframework/security/authentication/jaas/SecurityContextLoginModule.java
  core/src/main/java/org/springframework/security/core/authority/mapping/MapBasedAttributes2GrantedAuthoritiesMapper.java
  core/src/main/java/org/springframework/security/core/parameters/AnnotationParameterNameDiscoverer.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/AbstractSaml2AuthenticationRequest.java
Labels: in: docs, type: bug
