Repository spring-projects/spring-security, pull requests merged in 2023-10, with the labels that each got.

#13649 Replace deprecated method
  web/src/main/java/org/springframework/security/web/util/matcher/DispatcherTypeRequestMatcher.java
  web/src/main/java/org/springframework/security/web/util/matcher/RegexRequestMatcher.java
Labels: in: web, type: enhancement

#12588 Saml2LogoutRequestMixin relayState property should be binding
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/jackson2/Saml2LogoutRequestMixin.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/jackson2/Saml2LogoutRequestMixinTests.java
Labels: status: duplicate, type: bug, in: saml2

#13716 Allow OpenSamlMetadataResolver to also render un-pretty printed metadata content
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/metadata/OpenSamlMetadataResolver.java
Labels: status: duplicate, type: enhancement, in: saml2

#13916 Check for null value with the appropriate assertion method
  oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core/ClaimAccessor.java
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/JoseHeader.java
Labels: type: enhancement, in: oauth2

#13880 Update doc references for forwarded headers support
  docs/modules/ROOT/pages/features/exploits/http.adoc
Labels: in: docs, type: enhancement

#13969 Update http.adoc: IP number does not follow IP number format
  docs/modules/ROOT/pages/features/exploits/http.adoc
Labels: in: docs, type: bug

#13991 Docs custom AuthorizationManager fix
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
Labels: in: docs, type: bug

#14017 Update to io.freefair.aspectj 8.4
  aspects/spring-security-aspects.gradle
  gradle/libs.versions.toml
Labels: type: dependency-upgrade

#13970 Fix parsing of GET SAML logout requests
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/web/authentication/logout/OpenSamlLogoutRequestValidatorParametersResolver.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/web/authentication/logout/OpenSamlLogoutRequestValidatorParametersResolverTests.java
Labels: type: bug, in: saml2

#12532 Propagate security context via channel interceptor
  messaging/src/main/java/org/springframework/security/messaging/context/SecurityContextPropagationChannelInterceptor.java
  messaging/src/test/java/org/springframework/security/messaging/context/SecurityContextPropagationChannelInterceptorTests.java
Labels: in: messaging, type: enhancement

#13917 Use same case for all fields in toString
  core/src/main/java/org/springframework/security/core/userdetails/User.java
Labels: in: core, type: bug

#14032 Removed dash from observation name for since it's used as Micrometer metric
  web/src/main/java/org/springframework/security/web/ObservationFilterChainDecorator.java
  web/src/test/java/org/springframework/security/web/ObservationFilterChainDecoratorTests.java
Labels: in: web, type: bug

#14062 Update logout.adoc: Replace Directives with Directive
  docs/modules/ROOT/pages/servlet/authentication/logout.adoc
Labels: in: docs, type: bug

#14059 Fix typo in method-security.adoc
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
Labels: in: docs, type: bug
