Repository spring-projects/spring-security, pull requests merged in 2023-01, with the labels that each got.

#12467 Adjusts setRequestHandler javadoc in CsrfWebFilter
  web/src/main/java/org/springframework/security/web/server/csrf/CsrfWebFilter.java
Labels: in: web, type: bug

#12474 Update multitenancy.adoc
  docs/modules/ROOT/pages/servlet/oauth2/resource-server/multitenancy.adoc
Labels: in: docs, type: bug

#12471 Duplicate words.
  docs/modules/ROOT/pages/features/authentication/password-storage.adoc
Labels: in: docs, type: bug

#12489 Consider replacing SecurityExpressionRoot.AuthenticationSupplier with SingletonSupplier
  core/src/main/java/org/springframework/security/access/expression/SecurityExpressionRoot.java
Labels: in: core, type: enhancement

#12238 NimbusJwtDecoder unknown KID scenario is not correctly tested
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoderTests.java
Labels: type: bug, in: oauth2

#12497 add playbook template to support local build in content branches
  lib/antora/templates/per-branch-antora-playbook.yml
  local-antora-playbook.yml
Labels: status: waiting-for-triage

#12501 enable AsciiDoc sourcemap in branch/author builds for more accurate log messages
  lib/antora/templates/per-branch-antora-playbook.yml
Labels: status: waiting-for-triage

#12505 AuthorizeHttpRequestsConfigurer.AuthorizedUrl.hasRole should look up for a RoleHierarchy bean in the context
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurerTests.java
Labels: in: config, type: enhancement

#12488 SecuredAuthorizationManager should allow customizing underlying authorization manager
  core/src/main/java/org/springframework/security/authorization/method/SecuredAuthorizationManager.java
  core/src/test/java/org/springframework/security/authorization/method/SecuredAuthorizationManagerTests.java
Labels: status: duplicate, in: core, type: enhancement

#12523 only index pages from the latest version in each release line
  .github/actions/docsearch-config.json.hbs
  lib/antora/extensions/publish-docsearch-config.js
Labels: status: waiting-for-triage

#12544 document how to trigger docs build workflow using GitHub Actions web UI or GitHub CLI
  README.adoc
Labels: in: docs, type: enhancement

#12543 upgrade Asciidoctor Tabs, the Antora Gradle plugin, and Node.js
  build.gradle
  lib/antora/templates/per-branch-antora-playbook.yml
Labels: in: docs, type: enhancement

#12500 upgrade Antora plugin and configure playbook provider to support local build
  docs/.gitignore
  docs/local-antora-playbook.yml
  docs/spring-security-docs.gradle
Labels: in: docs, type: enhancement

#12549 enable fetch option in Antora unless Gradle is running in offline mode
  docs/spring-security-docs.gradle
Labels: in: docs, type: enhancement

#12542 fix unclosed block in docs
  docs/modules/ROOT/pages/servlet/test/method.adoc
Labels: in: docs, type: enhancement

#12536 move code comment to callout
  docs/modules/ROOT/pages/servlet/architecture.adoc
Labels: in: docs, type: enhancement

#12563 Update to spring-io/spring-gradle-build-action@v2
  .github/workflows/deploy-docs.yml
Labels: in: docs

#12550 prime atlas extension for use in playbook template
  lib/antora/templates/per-branch-antora-playbook.yml
Labels: in: docs, type: enhancement

#12595 upgrade the Gradle Antora Plugin to 1.0.0 (branch builds)
  docs/spring-security-docs.gradle
Labels: in: build, type: task
