Repository spring-projects/spring-security, pull requests merged in 2023-08, with the labels that each got.

#13430 Fix typo: you're -> your
  docs/modules/ROOT/pages/servlet/authorization/authorize-http-requests.adoc
Labels: in: docs, type: enhancement

#13434 Fix Bearer Token RestTemplate Support example
  docs/modules/ROOT/pages/servlet/oauth2/resource-server/bearer-tokens.adoc
Labels: in: docs, type: bug

#13440 Return content-type from saved request
  web/src/main/java/org/springframework/security/web/savedrequest/SavedRequestAwareWrapper.java
  web/src/test/java/org/springframework/security/web/savedrequest/SavedRequestAwareWrapperTests.java
Labels: in: web, type: enhancement

#13458 Fix Adapeter to Adapter
  docs/modules/ROOT/pages/migration/servlet/config.adoc
Labels: in: docs, type: enhancement

#13550 Fixing ArrayIndexOutOfBoundsException in XorCsrfTokenRequestAttribute…
  web/src/main/java/org/springframework/security/web/csrf/XorCsrfTokenRequestAttributeHandler.java
  web/src/main/java/org/springframework/security/web/server/csrf/XorServerCsrfTokenRequestAttributeHandler.java
  web/src/test/java/org/springframework/security/web/csrf/XorCsrfTokenRequestAttributeHandlerTests.java
  web/src/test/java/org/springframework/security/web/server/csrf/XorServerCsrfTokenRequestAttributeHandlerTests.java
Labels: in: web, type: enhancement

#13304 Fix minor typo in docs
  docs/modules/ROOT/pages/servlet/authentication/session-management.adoc
Labels: in: docs, type: enhancement

#13402 Fix method typo in Gh3409Tests (gh-3409)
  test/src/test/java/org/springframework/security/test/web/servlet/response/Gh3409Tests.java
Labels: in: test, type: enhancement

#13570 Closes #11450 - Add Java beans configuration for Remmember Me Docs
  docs/modules/ROOT/pages/servlet/authentication/rememberme.adoc
Labels: in: docs, type: enhancement

#13729 Fix inaccurate information about permitting the FORWARD dispatcher in Kotlin
  docs/modules/ROOT/pages/servlet/authorization/authorize-http-requests.adoc
Labels: in: docs, type: bug
