Repository spring-projects/spring-security, pull requests merged in 2023-09, with the labels that each got.

#13786 Update to antora-ui-spring 0.3.6
  antora-playbook.yml
  lib/antora/templates/per-branch-antora-playbook.yml
Labels: type: enhancement, type: dependency-upgrade

#13575 Fix untitled page title in documentation
  docs/modules/ROOT/pages/servlet/test/mockmvc/request-builders.adoc
  docs/modules/ROOT/pages/servlet/test/mockmvc/result-handlers.adoc
  docs/modules/ROOT/pages/servlet/test/mockmvc/result-matchers.adoc
Labels: in: docs, type: enhancement

#13750 Fix grammar on logout page of the docs
  docs/modules/ROOT/pages/servlet/authentication/logout.adoc
Labels: in: docs, type: enhancement

#13751 Correct mentioned HTTP Method in Documentation
  docs/modules/ROOT/pages/servlet/exploits/firewall.adoc
Labels: in: docs, type: enhancement

#13719 Replace wildcard type ? with * in Kotlin and fix typo in Spring docs
  docs/modules/ROOT/pages/servlet/integrations/websocket.adoc
Labels: in: docs, type: enhancement

#13614 Improve StrictHttpFirewall error messaging
  web/src/main/java/org/springframework/security/web/firewall/StrictHttpFirewall.java
Labels: in: web, type: enhancement

#13817 Resolve The matchingRequestParameterName From The Query String
  web/src/main/java/org/springframework/security/web/savedrequest/HttpSessionRequestCache.java
  web/src/test/java/org/springframework/security/web/savedrequest/HttpSessionRequestCacheTests.java
Labels: in: web, type: bug
