Repository spring-projects/spring-security, pull requests merged in 2023-06, with the labels that each got.

#13276 Saving security context in CasAuthenticationFilter between requests
  cas/src/main/java/org/springframework/security/cas/web/CasAuthenticationFilter.java
Labels: status: duplicate, in: cas, type: bug

#13244 Update JavaDoc of BasicAuthenticationFilter (gh-13231)
  web/src/main/java/org/springframework/security/web/authentication/www/BasicAuthenticationFilter.java
Labels: status: duplicate, in: docs, type: bug

#13235 Does not apply a Configurer when disabled from another DSL
  config/src/main/java/org/springframework/security/config/annotation/AbstractConfiguredSecurityBuilder.java
  config/src/test/java/org/springframework/security/config/annotation/web/AbstractConfiguredSecurityBuilderTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configuration/HttpSecurityConfigurationTests.java
Labels: status: duplicate, in: config, type: bug

#12930 Make eclipse/vscode project import work
  .vscode/settings.json
  buildSrc/src/main/groovy/io/spring/gradle/convention/AbstractSpringJavaPlugin.groovy
  buildSrc/src/main/groovy/io/spring/gradle/convention/EclipsePlugin.groovy
  buildSrc/src/main/resources/META-INF/gradle-plugins/io.spring.convention.eclipse.properties
  config/spring-security-config.gradle
Labels: in: build, type: enhancement

#13283 Typos in docs
  docs/modules/ROOT/pages/servlet/authentication/persistence.adoc
Labels: in: docs, type: bug

#13202 Remove LazyCsrfTokenRepository usage
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/CsrfConfigurer.java
  config/src/main/java/org/springframework/security/config/http/CsrfBeanDefinitionParser.java
  web/src/main/java/org/springframework/security/web/csrf/CsrfFilter.java
Labels: in: web, type: enhancement

#13224 Use AuthoritiesAuthorizationManager in Jsr250AuthorizationManager
  core/src/main/java/org/springframework/security/authorization/method/Jsr250AuthorizationManager.java
  core/src/test/java/org/springframework/security/authorization/method/Jsr250AuthorizationManagerTests.java
Labels: status: duplicate, in: core, type: enhancement

#13412 Assert is missing object. It was useless before Spring Framework 6.1 and will not compile on 6.1
  web/src/main/java/org/springframework/security/web/savedrequest/SimpleSavedRequest.java
Labels: in: web, type: enhancement

#13120 Add meta-annotation support for EnableMethodSecurity
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/MethodSecuritySelector.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/EnableCustomMethodSecurity.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfigurationTests.java
Labels: in: config, type: enhancement

#13110 Simplify RequestMatcherDelegatingAuthorizationManager.Builder matcher registration
  core/src/test/java/org/springframework/security/authentication/TestAuthentication.java
  web/src/main/java/org/springframework/security/web/access/intercept/RequestMatcherDelegatingAuthorizationManager.java
  web/src/test/java/org/springframework/security/web/access/intercept/RequestMatcherDelegatingAuthorizationManagerTests.java
Labels: in: web, type: enhancement

#13307 Replace deprecated methods
  config/src/main/java/org/springframework/security/config/http/OAuth2ClientBeanDefinitionParser.java
  config/src/main/java/org/springframework/security/config/http/OAuth2ClientBeanDefinitionParserUtils.java
  config/src/main/java/org/springframework/security/config/http/OAuth2LoginBeanDefinitionParser.java
  config/src/main/java/org/springframework/security/config/http/OAuth2ResourceServerBeanDefinitionParser.java
  config/src/main/java/org/springframework/security/config/oauth2/client/ClientRegistrationsBeanDefinitionParser.java
  config/src/test/java/org/springframework/security/config/doc/SpringSecurityXsdParser.java
  core/src/main/java/org/springframework/security/jackson2/SecurityJackson2Modules.java
  core/src/test/java/org/springframework/security/provisioning/JdbcUserDetailsManagerTests.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/oidc/userinfo/OidcUserRequestUtils.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/oidc/userinfo/OidcUserService.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/userinfo/DefaultReactiveOAuth2UserService.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/OAuth2AuthorizationCodeGrantFilter.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/method/annotation/OAuth2AuthorizedClientArgumentResolver.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/reactive/function/client/ServerOAuth2AuthorizedClientExchangeFilterFunction.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/reactive/function/client/ServletOAuth2AuthorizedClientExchangeFilterFunction.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/endpoint/WebClientReactiveClientCredentialsTokenResponseClientTests.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/jackson2/OAuth2AuthenticationTokenMixinTests.java
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoder.java
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusReactiveJwtDecoder.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/introspection/NimbusOpaqueTokenIntrospector.java
  rsocket/src/test/java/org/springframework/security/rsocket/authentication/AuthenticationPayloadInterceptorTests.java
  rsocket/src/test/java/org/springframework/security/rsocket/metadata/BasicAuthenticationDecoderTests.java
  web/src/main/java/org/springframework/security/web/FilterInvocation.java
  web/src/main/java/org/springframework/security/web/savedrequest/CookieRequestCache.java
Labels: in: core, type: enhancement

#13418 Use SecurityContextHolderStrategy in CasAuthenticationFilter
  cas/src/main/java/org/springframework/security/cas/web/CasAuthenticationFilter.java
Labels: in: cas, type: enhancement
