Repository spring-projects/spring-security, pull requests merged in 2023-03, with the labels that each got.

#12760 AuthorizeHttpRequestsConfigurer#XXXrole methods should ensure the role does not begin with the role prefix
  core/src/main/java/org/springframework/security/authorization/AuthorityAuthorizationManager.java
  core/src/test/java/org/springframework/security/authorization/AuthorityAuthorizationManagerTests.java
Labels: status: duplicate, in: config, type: bug

#12823 Fix broken links in form login section
  docs/modules/ROOT/pages/servlet/authentication/passwords/form.adoc
Labels: in: docs, type: bug

#12833 Updated core.adoc to fix Issue #12824
  docs/modules/ROOT/pages/servlet/oauth2/login/core.adoc
Labels: status: duplicate, in: docs, type: bug

#12740 Add test to SimpleUrlAuthenticationSuccessHandlerTests
  web/src/test/java/org/springframework/security/web/authentication/SimpleUrlAuthenticationSuccessHandlerTests.java
Labels: in: web, type: bug

#12814 fix typo in RequestCacheResultMatcher
  config/src/test/java/org/springframework/security/test/web/servlet/RequestCacheResultMatcher.java
Labels: in: test, type: bug

#12855 Fix documentation code block bug
  docs/modules/ROOT/pages/servlet/authentication/session-management.adoc
Labels: status: duplicate, in: docs, type: bug

#12752 Add factory class for RequestMatcher composition
  web/src/main/java/org/springframework/security/web/util/matcher/RequestMatchers.java
  web/src/test/java/org/springframework/security/web/util/matcher/RequestMatchersTests.java
Labels: in: web, type: enhancement, status: blocked

#12860 Add nameIdFormat processing to OpenSamlAuthenticationRequestResolver
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/web/authentication/OpenSamlAuthenticationRequestResolver.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/registration/TestRelyingPartyRegistrations.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/web/authentication/OpenSamlAuthenticationRequestResolverTests.java
Labels: status: duplicate, type: bug, in: saml2

#12908 Add ability to set principalClaimName in ReactiveJwtAuthenticationCon…
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/ReactiveJwtAuthenticationConverter.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/ReactiveJwtAuthenticationConverterTests.java
Labels: status: duplicate, type: enhancement, in: oauth2

#12926 Revisit Contribution Guidelines
  CONTRIBUTING.adoc
Labels: status: duplicate, in: docs, type: enhancement

#12923 Improve Docs by mentioning that Empty SecurityContext should be saved
  docs/modules/ROOT/pages/migration/servlet/session-management.adoc
  docs/modules/ROOT/pages/servlet/authentication/logout.adoc
  docs/modules/ROOT/pages/servlet/authentication/session-management.adoc
Labels: status: duplicate, in: docs, type: enhancement

#12944 Fix SecurityWebApplicationInitializer.getSecurityDispatcherTypes example in doc
  docs/modules/ROOT/pages/migration/servlet/authorization.adoc
Labels: status: duplicate, in: docs, type: bug
