Repository spring-projects/spring-security, pull requests merged in 2023-12, with the labels that each got.

#14241 Update messages_ca.properties
  core/src/main/resources/org/springframework/security/messages_ca.properties
Labels: in: core, type: enhancement

#14196 Add RoleHierarchyBuilder
  core/src/main/java/org/springframework/security/access/hierarchicalroles/RoleHierarchyImpl.java
  core/src/test/java/org/springframework/security/access/hierarchicalroles/RoleHierarchyImplTests.java
  docs/modules/ROOT/pages/servlet/authorization/architecture.adoc
Labels: in: core, type: enhancement

#14180 Add AuthorizationManager factory methods
  core/src/main/java/org/springframework/security/authorization/AuthorizationManagers.java
  core/src/test/java/org/springframework/security/authorization/AuthorizationManagersTests.java
Labels: status: duplicate, in: core, type: enhancement

#14236 Add Not Support
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurerTests.java
  core/src/main/java/org/springframework/security/authorization/AuthorizationManagers.java
  core/src/test/java/org/springframework/security/authorization/AuthorizationManagersTests.java
Labels: in: config, type: enhancement

#14260 Use available RoleHierachy Bean for MethodSecurity Config
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/Jsr250MethodSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/SecuredMethodSecurityConfiguration.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/MethodSecurityService.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/MethodSecurityServiceImpl.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfigurationTests.java
Labels: status: waiting-for-triage

#13788 Add a factory method for RoleHierarchyImpl
  core/src/main/java/org/springframework/security/access/hierarchicalroles/RoleHierarchyImpl.java
  core/src/test/java/org/springframework/security/access/hierarchicalroles/RoleHierarchyImplTests.java
  docs/modules/ROOT/pages/servlet/authorization/architecture.adoc
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
Labels: in: web, type: enhancement

#14262 Add missing method call in docs
  docs/modules/ROOT/pages/servlet/authorization/architecture.adoc
Labels: status: waiting-for-triage

#13752 Max Sessions on WebFlux
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerHttpSecurityDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerSessionConcurrencyDsl.kt
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerSessionManagementDsl.kt
  config/src/test/java/org/springframework/security/config/web/server/ServerHttpSecurityTests.java
  config/src/test/java/org/springframework/security/config/web/server/SessionManagementSpecTests.java
  config/src/test/kotlin/org/springframework/security/config/web/server/ServerSessionManagementDslTests.kt
  core/src/main/java/org/springframework/security/core/session/InMemoryReactiveSessionRegistry.java
  core/src/main/java/org/springframework/security/core/session/ReactiveSessionInformation.java
  core/src/main/java/org/springframework/security/core/session/ReactiveSessionRegistry.java
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/reactive/authentication/concurrent-sessions-control.adoc
  docs/modules/ROOT/pages/whats-new.adoc
  web/src/main/java/org/springframework/security/web/authentication/session/SessionAuthenticationException.java
  web/src/main/java/org/springframework/security/web/server/authentication/ConcurrentSessionControlServerAuthenticationSuccessHandler.java
  web/src/main/java/org/springframework/security/web/server/authentication/DelegatingServerAuthenticationSuccessHandler.java
  web/src/main/java/org/springframework/security/web/server/authentication/InvalidateLeastUsedServerMaximumSessionsExceededHandler.java
  web/src/main/java/org/springframework/security/web/server/authentication/MaximumSessionsContext.java
  web/src/main/java/org/springframework/security/web/server/authentication/PreventLoginServerMaximumSessionsExceededHandler.java
  web/src/main/java/org/springframework/security/web/server/authentication/RegisterSessionServerAuthenticationSuccessHandler.java
  web/src/main/java/org/springframework/security/web/server/authentication/ServerMaximumSessionsExceededHandler.java
  web/src/main/java/org/springframework/security/web/server/authentication/SessionLimit.java
  web/src/main/java/org/springframework/security/web/session/WebSessionStoreReactiveSessionRegistry.java
  web/src/test/java/org/springframework/security/web/server/authentication/DelegatingServerAuthenticationSuccessHandlerTests.java
  web/src/test/java/org/springframework/security/web/server/authentication/session/ConcurrentSessionControlServerAuthenticationSuccessHandlerTests.java
  web/src/test/java/org/springframework/security/web/server/authentication/session/InMemoryReactiveSessionRegistryTests.java
  web/src/test/java/org/springframework/security/web/server/authentication/session/InvalidateLeastUsedServerMaximumSessionsExceededHandlerTests.java
  web/src/test/java/org/springframework/security/web/server/authentication/session/PreventLoginServerMaximumSessionsExceededHandlerTests.java
  web/src/test/java/org/springframework/security/web/server/authentication/session/RegisterSessionServerAuthenticationSuccessHandlerTests.java
  web/src/test/java/org/springframework/security/web/session/WebSessionStoreReactiveSessionRegistryTests.java
Labels: in: config, type: enhancement

#14185 Dropped Nimbus Error Message gh 13730
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoder.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoderTests.java
Labels: status: duplicate, type: bug, in: oauth2

#14276 Add default implementations in UserDetails
  core/src/main/java/org/springframework/security/core/userdetails/UserDetails.java
  test/src/test/java/org/springframework/security/test/context/showcase/CustomUserDetails.java
Labels: status: duplicate, in: core, type: enhancement

#14293 Update messages_es_ES.properties
  core/src/main/resources/org/springframework/security/messages_es_ES.properties
Labels: in: core, type: enhancement

#14334 Fix typo in Authorize HTTP Requests' Doc Page
  docs/modules/ROOT/pages/servlet/authorization/authorize-http-requests.adoc
Labels: status: waiting-for-triage, in: docs, type: bug

#14330 Fix typo in Authorization Events' Doc Page
  docs/modules/ROOT/pages/servlet/authorization/events.adoc
Labels: status: waiting-for-triage, in: docs, type: bug

#14052 Add order offset to @EnableMethodSecurity
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/EnableMethodSecurity.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/Jsr250MethodSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/SecuredMethodSecurityConfiguration.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/MethodSecurityService.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/MethodSecurityServiceImpl.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfigurationTests.java
Labels: in: config, type: enhancement

#14324 Improve Multitenancy Issuer Validator example
  docs/modules/ROOT/pages/servlet/oauth2/resource-server/multitenancy.adoc
Labels: status: duplicate, in: docs, type: enhancement

#13574 Simplify Request Authorization Path Extraction
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurerTests.java
  core/src/test/java/org/springframework/security/authentication/TestAuthentication.java
Labels: status: duplicate, in: config, type: enhancement

#14383 Update CI workflow badge
  README.adoc
Labels: status: waiting-for-triage
