Repository spring-projects/spring-security, pull requests merged in 2024-07, with the labels that each got.

#15325 Fix malformed list in "Using Method Parameters" documentation
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
Labels: in: docs, type: bug

#15327 Two small fixes to the Servlet's Authentication Events documentation
  docs/modules/ROOT/pages/servlet/authentication/events.adoc
Labels: in: docs, type: bug

#15318 Update architecture.adoc
  docs/modules/ROOT/pages/servlet/architecture.adoc
Labels: in: docs, type: bug

#15323 Update prerequisites documentation with Java 17
  docs/modules/ROOT/pages/prerequisites.adoc
Labels: in: docs, type: bug

#15353 Fix typos and formatting in documentation
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
  docs/modules/ROOT/pages/servlet/saml2/login/authentication-requests.adoc
  docs/modules/ROOT/pages/servlet/saml2/login/overview.adoc
Labels: in: docs, type: bug

#15362 Update the OAuth2 jwt and opaque Resource Server documentation
  docs/modules/ROOT/pages/servlet/oauth2/resource-server/jwt.adoc
  docs/modules/ROOT/pages/servlet/oauth2/resource-server/opaque-token.adoc
Labels: in: docs, type: enhancement

#15350 Fixing URL on README
  README.adoc
Labels: in: docs, type: task

#15277 Allow logout+jwt JWT type
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/oauth2/client/OidcBackChannelLogoutAuthenticationProvider.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/client/OidcLogoutConfigurerTests.java
Labels: type: enhancement, type: backport, in: oauth2

#15048 Add methods to augment allowed headers and parameters in StrictHttpFi…
  web/src/main/java/org/springframework/security/web/firewall/StrictHttpFirewall.java
  web/src/test/java/org/springframework/security/web/firewall/StrictHttpFirewallTests.java
Labels: in: web, type: enhancement

#15441 Add @FunctionalInterface to AuthenticationManager
  core/src/main/java/org/springframework/security/authentication/AuthenticationManager.java
Labels: in: core, type: enhancement

#15444 Restrict automatic CORS configuration to UrlBasedCorsConfigurationSource
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/HttpSecurityConfiguration.java
  config/src/test/java/org/springframework/security/config/annotation/web/configuration/HttpSecurityConfigurationTests.java
  docs/modules/ROOT/pages/servlet/integrations/cors.adoc
Labels: in: web, type: bug

#15469 Remove duplicated "the" in JavaDoc
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/web/authentication/logout/Saml2RelyingPartyInitiatedLogoutSuccessHandler.java
Labels: type: task, in: saml2

#15409 Clarify url Parameter Usage in AD Provider Constructor
  ldap/src/main/java/org/springframework/security/ldap/authentication/ad/ActiveDirectoryLdapAuthenticationProvider.java
Labels: in: ldap, type: bug

#15392 Correct HttpSessionCsrfTokenRepository Documentation
  docs/modules/ROOT/pages/servlet/exploits/csrf.adoc
Labels: in: docs, type: bug
