Repository spring-projects/spring-security, pull requests merged in 2024-06, with the labels that each got.

#15203 Add support remember-me cookie customization
  web/src/main/java/org/springframework/security/web/authentication/rememberme/AbstractRememberMeServices.java
  web/src/test/java/org/springframework/security/web/authentication/rememberme/AbstractRememberMeServicesTests.java
Labels: in: web, type: enhancement

#15205 Fix typo in JwtDecoder
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/JwtDecoder.java
Labels: status: waiting-for-triage

#15200 Docs: Fix import for reactive example with Kotlin DSL
  docs/modules/ROOT/pages/reactive/configuration/webflux.adoc
Labels: in: docs, type: bug

#15222 Fix wrong explanation for @PostAuthorize annotation
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
Labels: in: docs, type: bug

#15221 Add support checking AnyRequestMatcher securityFilterChains
  config/src/main/java/org/springframework/security/config/annotation/web/builders/WebSecurity.java
  config/src/test/java/org/springframework/security/config/annotation/web/configuration/WebSecurityConfigurationTests.java
Labels: in: web, type: enhancement

#15278 Fix level of log message.
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/OpenSaml4AuthenticationProvider.java
Labels: type: bug, in: saml2
