Repository spring-projects/spring-security, pull requests merged in 2024-10, with the labels that each got.

#15842 Add support JdbcOneTimeTokenService
  core/src/main/java/org/springframework/security/aot/hint/OneTimeTokenRuntimeHints.java
  core/src/main/java/org/springframework/security/authentication/ott/JdbcOneTimeTokenService.java
  core/src/main/resources/META-INF/spring/aot.factories
  core/src/main/resources/org/springframework/security/core/ott/jdbc/one-time-tokens-schema.sql
  core/src/test/java/org/springframework/security/aot/hint/OneTimeTokenRuntimeHintsTests.java
  core/src/test/java/org/springframework/security/authentication/ott/JdbcOneTimeTokenServiceTests.java
Labels: status: waiting-for-triage

#15716 Allow building a ClientRegistration from provided configuration
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/registration/ClientRegistrations.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/registration/ClientRegistrationsTests.java
Labels: type: enhancement, in: oauth2

#15870 Update javaDoc for DefaultOneTimeTokenSubmitPageGeneratingFilter
  web/src/main/java/org/springframework/security/web/authentication/ui/DefaultOneTimeTokenSubmitPageGeneratingFilter.java
Labels: in: web, type: enhancement

#15879 Improve encapsulation for jwtValidators
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/oauth2/client/DefaultOidcLogoutTokenValidatorFactory.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/oauth2/client/OidcBackChannelLogoutAuthenticationProvider.java
  config/src/main/java/org/springframework/security/config/web/server/DefaultOidcLogoutTokenValidatorFactory.java
  config/src/main/java/org/springframework/security/config/web/server/OidcBackChannelLogoutReactiveAuthenticationManager.java
Labels: type: enhancement, in: oauth2

#15890 Replace Date().getTime() method with System.currentTimeMillis()
  core/src/main/java/org/springframework/security/core/token/KeyBasedPersistenceTokenService.java
Labels: in: core, type: enhancement

#15862 Update document
  docs/modules/ROOT/pages/reactive/integrations/observability.adoc
  docs/modules/ROOT/pages/servlet/integrations/observability.adoc
Labels: in: docs, type: enhancement

#15848 Auto config OidcReactiveOAuth2UserService When Oauth2UserService bean is Present
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
  config/src/test/java/org/springframework/security/config/web/server/OAuth2LoginTests.java
Labels: in: config, type: enhancement

#15898 Improve readibility of empty collection checks
  acl/src/main/java/org/springframework/security/acls/domain/AclImpl.java
  acl/src/main/java/org/springframework/security/acls/domain/DefaultPermissionFactory.java
  config/src/main/java/org/springframework/security/config/http/UserDetailsServiceFactoryBean.java
  core/src/main/java/org/springframework/security/access/intercept/RunAsManagerImpl.java
  core/src/main/java/org/springframework/security/core/userdetails/jdbc/JdbcDaoImpl.java
  ldap/src/test/java/org/apache/directory/server/core/avltree/ArrayMarshaller.java
  taglibs/src/main/java/org/springframework/security/taglibs/authz/AbstractAuthorizeTag.java
  taglibs/src/main/java/org/springframework/security/taglibs/authz/AccessControlListTag.java
  web/src/main/java/org/springframework/security/web/FilterChainProxy.java
Labels: in: core, type: enhancement

#15748 Use SessionAuthenticationStrategy for Remember-Me authentication
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/RememberMeConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/RememberMeConfigurerTests.java
  web/src/main/java/org/springframework/security/web/authentication/rememberme/RememberMeAuthenticationFilter.java
  web/src/test/java/org/springframework/security/web/authentication/rememberme/RememberMeAuthenticationFilterTests.java
Labels: in: config, type: enhancement

#15934 Add @FunctionalInterface to AuthorizationEventPublisher
  core/src/main/java/org/springframework/security/authorization/AuthorizationEventPublisher.java
Labels: in: core, type: enhancement

#15978 Make RequestMatcherDelegatingAuthorizationManager post-processable
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurerTests.java
Labels: in: config, type: bug, status: feedback-provided

#15876 Fix DefaultLoginPageConfigurerTests localization failure on system language different than english
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/DefaultLoginPageConfigurerTests.java
Labels: in: config, type: bug

#15914 Catch base64 decode exception
  web/src/main/java/org/springframework/security/web/savedrequest/CookieRequestCache.java
  web/src/test/java/org/springframework/security/web/savedrequest/CookieRequestCacheTests.java
Labels: in: web, type: bug

#15949 Align DelegatingAuthenticationConverter Constructors
  web/src/main/java/org/springframework/security/web/authentication/DelegatingAuthenticationConverter.java
Labels: in: web, type: bug

#15396 Factor out some common object mocking in tests
  core/src/test/java/org/springframework/security/authorization/method/AuthorizationManagerAfterMethodInterceptorTests.java
  core/src/test/java/org/springframework/security/authorization/method/AuthorizationManagerBeforeMethodInterceptorTests.java
  core/src/test/java/org/springframework/security/authorization/method/PostFilterAuthorizationMethodInterceptorTests.java
  core/src/test/java/org/springframework/security/authorization/method/PreFilterAuthorizationMethodInterceptorTests.java
  ldap/src/test/java/org/springframework/security/ldap/authentication/ad/ActiveDirectoryLdapAuthenticationProviderTests.java
  web/src/test/java/org/springframework/security/web/access/ExceptionTranslationFilterTests.java
  web/src/test/java/org/springframework/security/web/concurrent/ConcurrentSessionFilterTests.java
Labels: in: core, type: enhancement

#15998 github-actions: configure PR workflow to publish anonymous build scans
  .github/workflows/pr-build-workflow.yml
Labels: status: waiting-for-triage

#15997 Polish JdbcOneTimeTokenService
  core/src/main/java/org/springframework/security/authentication/ott/JdbcOneTimeTokenService.java
Labels: in: core, type: enhancement
