Repository spring-projects/spring-security, pull requests merged in 2024-01, with the labels that each got.

#14424 fix typo in anonymous.adoc
  docs/modules/ROOT/pages/servlet/authentication/anonymous.adoc
Labels: in: docs, type: bug

#14448 fix: typo in Authentication Architecture ProviderManager
  docs/modules/ROOT/pages/servlet/authentication/architecture.adoc
Labels: in: docs, type: bug

#14416 set AuthorizationEventPublisher for Jsr250MethodInterceptor and SecuredMethodInterceptor
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/Jsr250MethodSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/SecuredMethodSecurityConfiguration.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfigurationTests.java
Labels: status: duplicate, in: config, type: enhancement

#14407 Revise `AuthorizationAnnotationUtils`
  core/src/main/java/org/springframework/security/authorization/method/AuthorizationAnnotationUtils.java
  core/src/test/java/org/springframework/security/access/annotation/RequireUserRole.java
  core/src/test/java/org/springframework/security/authorization/method/AuthorizationAnnotationUtilsTests.java
Labels: in: core, type: enhancement

#14466 Fix wrong class name in JavaDoc
  web/src/main/java/org/springframework/security/web/server/authentication/ServerWebExchangeDelegatingReactiveAuthenticationManagerResolver.java
Labels: in: docs, type: bug

#14488 Add `usernameParameter` and `passwordParameter` to FormLoginDsl
  config/src/main/kotlin/org/springframework/security/config/annotation/web/FormLoginDsl.kt
  config/src/test/kotlin/org/springframework/security/config/annotation/web/FormLoginDslTests.kt
Labels: in: config, type: enhancement

#14472 Enhance JWT decoding error handling
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusReactiveJwtDecoder.java
Labels: status: duplicate, type: bug, in: oauth2

#14498 Enhance IpAddressMatcher performance
  web/src/main/java/org/springframework/security/web/util/matcher/IpAddressMatcher.java
Labels: status: duplicate, in: web, type: enhancement

#14449 Add argument resolver for SecurityContext
  messaging/src/main/java/org/springframework/security/messaging/handler/invocation/reactive/CurrentSecurityContextArgumentResolver.java
  messaging/src/test/java/org/springframework/security/messaging/handler/invocation/reactive/CurrentSecurityContextArgumentResolverTests.java
  web/src/main/java/org/springframework/security/web/method/annotation/CurrentSecurityContextArgumentResolver.java
  web/src/main/java/org/springframework/security/web/reactive/result/method/annotation/CurrentSecurityContextArgumentResolver.java
  web/src/test/java/org/springframework/security/web/method/annotation/CurrentSecurityContextArgumentResolverTests.java
  web/src/test/java/org/springframework/security/web/reactive/result/method/annotation/CurrentSecurityContextArgumentResolverTests.java
Labels: in: web, type: enhancement

#14473 Update Revved up by Develocity badge
  README.adoc
Labels: in: build, type: task

#14491 Add validation IpAddressMatcher
  web/src/main/java/org/springframework/security/web/util/matcher/IpAddressMatcher.java
  web/src/test/java/org/springframework/security/web/util/matcher/IpAddressMatcherTests.java
Labels: in: web, type: enhancement, type: breaks-passivity
