Repository spring-projects/spring-security, pull requests merged in 2024-08, with the labels that each got.

#15303 Inline CSS for default login and logout page
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/DefaultLoginPageConfigurerTests.java
  config/src/test/java/org/springframework/security/config/http/FormLoginBeanDefinitionParserTests.java
  etc/checkstyle/checkstyle-suppressions.xml
  web/src/main/java/org/springframework/security/web/authentication/ui/DefaultLoginPageGeneratingFilter.java
  web/src/main/java/org/springframework/security/web/authentication/ui/DefaultLogoutPageGeneratingFilter.java
  web/src/main/java/org/springframework/security/web/server/ui/LoginPageGeneratingWebFilter.java
  web/src/main/java/org/springframework/security/web/server/ui/LogoutPageGeneratingWebFilter.java
  web/src/main/java/org/springframework/security/web/util/CssUtils.java
  web/src/test/java/org/springframework/security/web/authentication/ui/DefaultLogoutPageGeneratingFilterTests.java
Labels: in: web, type: enhancement

#15498 Preserve custom user type in InMemoryUserDetailsManager
  core/src/main/java/org/springframework/security/provisioning/InMemoryUserDetailsManager.java
  core/src/test/java/org/springframework/security/provisioning/InMemoryUserDetailsManagerTests.java
Labels: in: core, type: enhancement

#15572 Fix code formatting in documentation
  docs/modules/ROOT/pages/servlet/authorization/authorize-http-requests.adoc
Labels: in: docs, type: task

#15553 Improve @CurrentSecurityContext meta-annotations
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/WebMvcSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/web/reactive/ServerHttpSecurityConfiguration.java
  config/src/test/java/org/springframework/security/config/annotation/web/configuration/WebMvcSecurityConfigurationTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/reactive/ServerHttpSecurityConfigurationTests.java
  messaging/src/main/java/org/springframework/security/messaging/handler/invocation/reactive/CurrentSecurityContextArgumentResolver.java
  messaging/src/test/java/org/springframework/security/messaging/handler/invocation/reactive/CurrentSecurityContextArgumentResolverTests.java
  web/src/main/java/org/springframework/security/web/method/annotation/CurrentSecurityContextArgumentResolver.java
  web/src/main/java/org/springframework/security/web/reactive/result/method/annotation/CurrentSecurityContextArgumentResolver.java
  web/src/test/java/org/springframework/security/web/method/annotation/CurrentSecurityContextArgumentResolverTests.java
  web/src/test/java/org/springframework/security/web/reactive/result/method/annotation/CurrentSecurityContextArgumentResolverTests.java
Labels: in: web, type: enhancement

#15437 Add `RestClient` interceptor
  docs/modules/ROOT/pages/servlet/oauth2/index.adoc
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/client/OAuth2ClientHttpRequestInterceptor.java
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/client/RequestAttributeClientRegistrationIdResolver.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/web/function/client/OAuth2ClientHttpRequestInterceptorTests.java
Labels: type: enhancement, in: oauth2

#15648 Bump io-spring-javaformat from 0.0.42 to 0.0.43
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/saml2/Saml2LoginConfigurer.java
  core/src/main/java/org/springframework/security/access/method/MethodSecurityMetadataSource.java
  core/src/main/java/org/springframework/security/access/prepost/PrePostInvocationAttributeFactory.java
  gradle/libs.versions.toml
  ldap/src/main/java/org/springframework/security/ldap/LdapUtils.java
  ldap/src/main/java/org/springframework/security/ldap/userdetails/LdapUserDetailsManager.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/JwtIssuerAuthenticationManagerResolverDeprecatedTests.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/JwtIssuerReactiveAuthenticationManagerResolverDeprecatedTests.java
Labels: in: build, type: task

#15647 Bump io-spring-javaformat from 0.0.42 to 0.0.43
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/saml2/Saml2LoginConfigurer.java
  core/src/main/java/org/springframework/security/access/method/MethodSecurityMetadataSource.java
  core/src/main/java/org/springframework/security/access/prepost/PrePostInvocationAttributeFactory.java
  gradle/libs.versions.toml
  ldap/src/main/java/org/springframework/security/ldap/LdapUtils.java
  ldap/src/main/java/org/springframework/security/ldap/userdetails/LdapUserDetailsManager.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/JwtIssuerAuthenticationManagerResolverDeprecatedTests.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/JwtIssuerReactiveAuthenticationManagerResolverDeprecatedTests.java
Labels: in: build, type: task

#15649 Bump io-spring-javaformat from 0.0.42 to 0.0.43
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/saml2/Saml2LoginConfigurer.java
  ldap/src/main/java/org/springframework/security/ldap/LdapUtils.java
  ldap/src/main/java/org/springframework/security/ldap/userdetails/LdapUserDetailsManager.java
Labels: in: build, type: task

#15650 Bump io-spring-javaformat from 0.0.42 to 0.0.43
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/saml2/Saml2LoginConfigurer.java
  ldap/src/main/java/org/springframework/security/ldap/LdapUtils.java
  ldap/src/main/java/org/springframework/security/ldap/userdetails/LdapUserDetailsManager.java
Labels: in: build, type: task

#15691 Fixed typo in the Servlet API Integration documentation
  docs/modules/ROOT/pages/servlet/integrations/servlet-api.adoc
Labels: in: docs, type: bug

#15568 Fix variable targetClassToUse is not passed into the synthesize method
  core/src/main/java/org/springframework/security/authorization/method/PostAuthorizeExpressionAttributeRegistry.java
Labels: in: core, type: bug

#15687 Remove the need for @JsonSerialize when serializing authorization proxy objects with Jackson
  core/src/main/java/org/springframework/security/authorization/method/AuthorizationAdvisorProxyFactory.java
  core/src/test/java/org/springframework/security/authorization/AuthorizationAdvisorProxyFactoryTests.java
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
Labels: in: core, type: enhancement

#15538 Improve warning message
  config/src/main/java/org/springframework/security/config/annotation/authentication/configuration/InitializeUserDetailsBeanManagerConfigurer.java
Labels: status: waiting-for-triage
