Repository spring-projects/spring-security, pull requests merged in 2024-11, with the labels that each got.

#16022 Fix typo javadoc some classes
  web/src/main/java/org/springframework/security/web/authentication/AbstractAuthenticationProcessingFilter.java
  web/src/main/java/org/springframework/security/web/authentication/session/ConcurrentSessionControlAuthenticationStrategy.java
  web/src/main/java/org/springframework/security/web/context/AbstractSecurityWebApplicationInitializer.java
  web/src/main/java/org/springframework/security/web/server/header/ClearSiteDataServerHttpHeadersWriter.java
  web/src/main/java/org/springframework/security/web/server/header/ContentSecurityPolicyServerHttpHeadersWriter.java
  web/src/main/java/org/springframework/security/web/webauthn/api/AuthenticatorSelectionCriteria.java
Labels: status: waiting-for-triage

#16017 Fix saml2 authentication guide docs
  docs/modules/ROOT/pages/servlet/saml2/login/authentication.adoc
Labels: in: docs, type: enhancement

#15992 Improve Error Message for Conflicting Filter Chains
  config/src/main/java/org/springframework/security/config/annotation/web/builders/WebSecurity.java
  web/src/main/java/org/springframework/security/web/DefaultSecurityFilterChain.java
Labels: in: core, type: enhancement

#16004 Correct class name reference in WebFilterChainProxy JavaDoc
  web/src/main/java/org/springframework/security/web/server/WebFilterChainProxy.java
Labels: in: docs, type: bug

#16055 Initialize OpenSAML in OpenSamlAssertingPartyMetadataRepository
  saml2/saml2-service-provider/src/opensaml4Main/java/org/springframework/security/saml2/provider/service/registration/OpenSaml4AssertingPartyMetadataRepository.java
  saml2/saml2-service-provider/src/opensaml4Test/java/org/springframework/security/saml2/provider/service/registration/OpenSaml4AssertingPartyMetadataRepositoryTests.java
  saml2/saml2-service-provider/src/opensaml5Main/java/org/springframework/security/saml2/provider/service/registration/OpenSaml5AssertingPartyMetadataRepository.java
  saml2/saml2-service-provider/src/opensaml5Test/java/org/springframework/security/saml2/provider/service/registration/OpenSaml5AssertingPartyMetadataRepositoryTests.java
Labels: type: bug, in: saml2

#15875 Remove unnecessary parentheses and add static final field MockPortResolver#getServerPort
  web/src/test/java/org/springframework/security/MockPortResolver.java
Labels: in: web, type: enhancement

#15554 Improve documentation about CredentialsContainer
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/servlet/authentication/architecture.adoc
  docs/modules/ROOT/pages/servlet/authentication/passwords/erasure.adoc
  docs/modules/ROOT/pages/servlet/authentication/passwords/user-details.adoc
Labels: status: waiting-for-feedback, in: docs, type: enhancement

#15937 fix assertions
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/NimbusReactiveJwtDecoderTests.java
Labels: type: task, in: oauth2

#16053 Fix typo in oauth2 resource server documentation
  docs/modules/ROOT/pages/reactive/oauth2/resource-server/index.adoc
Labels: in: docs, type: enhancement

#16146 Spelling error in opensaml.adoc
  docs/modules/ROOT/pages/servlet/saml2/opensaml.adoc
Labels: in: docs, type: bug

#16050 Delay initialization AuthenticationProvider in Global Authentication
  config/src/main/java/org/springframework/security/config/annotation/authentication/configuration/InitializeAuthenticationProviderBeanManagerConfigurer.java
Labels: status: waiting-for-triage

#16159 Add RuntimeHints for webauthn Javascript resource
  web/src/main/java/org/springframework/security/web/aot/hint/WebMvcSecurityRuntimeHints.java
  web/src/test/java/org/springframework/security/web/aot/hint/WebMvcSecurityRuntimeHintsTests.java
Labels: in: web, type: bug

#16166 Polish Dark Mode for CSRF and Method Security diagrams
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
  docs/modules/ROOT/pages/servlet/exploits/csrf.adoc
Labels: in: docs, type: bug

#16172 Fix OAuth2 documentation: Correct OAuth2ClientHttpRequestInterceptor usage
  docs/modules/ROOT/pages/servlet/oauth2/index.adoc
Labels: in: docs, type: bug
