Repository spring-projects/spring-security, pull requests merged in 2024-02, with the labels that each got.

#14476 Cleanup Saml2MetadataFilter
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/web/Saml2MetadataFilter.java
Labels: type: enhancement, in: saml2

#14475 Fixed Interceptor name in Method Security reference document
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
Labels: in: docs, type: bug

#14516 Spring Security annotations on subclasses support intercepting parent class methods.
  core/src/main/java/org/springframework/security/authorization/method/AbstractExpressionAttributeRegistry.java
  core/src/main/java/org/springframework/security/authorization/method/Jsr250AuthorizationManager.java
  core/src/main/java/org/springframework/security/authorization/method/PostAuthorizeExpressionAttributeRegistry.java
  core/src/main/java/org/springframework/security/authorization/method/PostFilterExpressionAttributeRegistry.java
  core/src/main/java/org/springframework/security/authorization/method/PreAuthorizeExpressionAttributeRegistry.java
  core/src/main/java/org/springframework/security/authorization/method/PreFilterExpressionAttributeRegistry.java
  core/src/main/java/org/springframework/security/authorization/method/SecuredAuthorizationManager.java
  core/src/test/java/org/springframework/security/authorization/method/Jsr250AuthorizationManagerTests.java
  core/src/test/java/org/springframework/security/authorization/method/PostAuthorizeAuthorizationManagerTests.java
  core/src/test/java/org/springframework/security/authorization/method/PostFilterAuthorizationMethodInterceptorTests.java
  core/src/test/java/org/springframework/security/authorization/method/PreAuthorizeAuthorizationManagerTests.java
  core/src/test/java/org/springframework/security/authorization/method/PreFilterAuthorizationMethodInterceptorTests.java
  core/src/test/java/org/springframework/security/authorization/method/SecuredAuthorizationManagerTests.java
Labels: in: core, type: enhancement

#14542 Typo: Update rememberme.adoc
  docs/modules/ROOT/pages/servlet/authentication/rememberme.adoc
Labels: in: docs, type: bug

#14541 Typo: Update anonymous.adoc
  docs/modules/ROOT/pages/servlet/authentication/anonymous.adoc
Labels: in: docs, type: bug

#14523 Fixes logout link in advanced oauth2 servlet configuration (was point…
  docs/modules/ROOT/pages/servlet/oauth2/login/advanced.adoc
Labels: in: docs, type: bug

#14549 Saml2 LogoutFilter Should Come Before Common LogoutFilter
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/saml2/Saml2LogoutConfigurer.java
Labels: type: bug, in: saml2

#14552 Fix security filter sort in javadoc
  config/src/main/java/org/springframework/security/config/annotation/web/HttpSecurityBuilder.java
  config/src/main/java/org/springframework/security/config/annotation/web/builders/FilterOrderRegistration.java
Labels: in: docs, type: bug

#14563 Typo: Update authorize-http-requests.adoc
  docs/modules/ROOT/pages/servlet/authorization/authorize-http-requests.adoc
Labels: in: docs, type: bug

#14539 Implement providing a custom AuthoritiesPopulator in ADLdapAuthProvider
  ldap/src/main/java/org/springframework/security/ldap/authentication/ad/ActiveDirectoryLdapAuthenticationProvider.java
  ldap/src/main/java/org/springframework/security/ldap/authentication/ad/DefaultActiveDirectoryAuthoritiesPopulator.java
Labels: in: ldap, type: enhancement

#14603 Remove duplicate setSecurityContextHolderStrategy
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/LogoutConfigurer.java
Labels: in: config, type: bug

#14590 Allow tab in HTTP header values.
  web/src/main/java/org/springframework/security/web/firewall/StrictHttpFirewall.java
  web/src/test/java/org/springframework/security/web/firewall/StrictHttpFirewallTests.java
Labels: in: web, type: bug

#14494 Add meta-annotation annotation parameter support
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/ReactiveAuthorizationManagerMethodSecurityConfiguration.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfigurationTests.java
  core/src/main/java/org/springframework/security/authorization/method/AbstractExpressionAttributeRegistry.java
  core/src/main/java/org/springframework/security/authorization/method/AuthorizationAnnotationUtils.java
  core/src/main/java/org/springframework/security/authorization/method/PostAuthorizeAuthorizationManager.java
  core/src/main/java/org/springframework/security/authorization/method/PostAuthorizeExpressionAttributeRegistry.java
  core/src/main/java/org/springframework/security/authorization/method/PostAuthorizeReactiveAuthorizationManager.java
  core/src/main/java/org/springframework/security/authorization/method/PostFilterAuthorizationMethodInterceptor.java
  core/src/main/java/org/springframework/security/authorization/method/PostFilterAuthorizationReactiveMethodInterceptor.java
  core/src/main/java/org/springframework/security/authorization/method/PostFilterExpressionAttributeRegistry.java
  core/src/main/java/org/springframework/security/authorization/method/PreAuthorizeAuthorizationManager.java
  core/src/main/java/org/springframework/security/authorization/method/PreAuthorizeExpressionAttributeRegistry.java
  core/src/main/java/org/springframework/security/authorization/method/PreAuthorizeReactiveAuthorizationManager.java
  core/src/main/java/org/springframework/security/authorization/method/PreFilterAuthorizationMethodInterceptor.java
  core/src/main/java/org/springframework/security/authorization/method/PreFilterAuthorizationReactiveMethodInterceptor.java
  core/src/main/java/org/springframework/security/authorization/method/PreFilterExpressionAttributeRegistry.java
  core/src/main/java/org/springframework/security/authorization/method/PrePostTemplateDefaults.java
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
Labels: in: core, type: enhancement

#14574 Implement customization of `rolePrefix` in `LdapUserDetailsManager`
  ldap/src/integration-test/java/org/springframework/security/ldap/userdetails/LdapUserDetailsManagerTests.java
  ldap/src/main/java/org/springframework/security/ldap/userdetails/LdapUserDetailsManager.java
Labels: in: ldap, type: enhancement
