Repository spring-projects/spring-security, pull requests merged in 2024-09, with the labels that each got.

#15685 Add cookie customizer to CookieRequestCache
  web/src/main/java/org/springframework/security/web/savedrequest/CookieRequestCache.java
  web/src/main/java/org/springframework/security/web/server/savedrequest/CookieServerRequestCache.java
  web/src/test/java/org/springframework/security/web/savedrequest/CookieRequestCacheTests.java
  web/src/test/java/org/springframework/security/web/server/savedrequest/CookieServerRequestCacheTests.java
Labels: in: web, type: enhancement

#15492 Add support for One-Time Token Authentication
  config/src/main/java/org/springframework/security/config/annotation/web/HttpSecurityBuilder.java
  config/src/main/java/org/springframework/security/config/annotation/web/builders/FilterOrderRegistration.java
  config/src/main/java/org/springframework/security/config/annotation/web/builders/HttpSecurity.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/ott/OneTimeTokenLoginConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/ott/OneTimeTokenLoginConfigurerTests.java
  core/src/main/java/org/springframework/security/authentication/ott/DefaultOneTimeToken.java
  core/src/main/java/org/springframework/security/authentication/ott/GenerateOneTimeTokenRequest.java
  core/src/main/java/org/springframework/security/authentication/ott/InMemoryOneTimeTokenService.java
  core/src/main/java/org/springframework/security/authentication/ott/InvalidOneTimeTokenException.java
  core/src/main/java/org/springframework/security/authentication/ott/OneTimeToken.java
  core/src/main/java/org/springframework/security/authentication/ott/OneTimeTokenAuthenticationProvider.java
  core/src/main/java/org/springframework/security/authentication/ott/OneTimeTokenAuthenticationToken.java
  core/src/main/java/org/springframework/security/authentication/ott/OneTimeTokenService.java
  core/src/test/java/org/springframework/security/authentication/ott/InMemoryOneTimeTokenServiceTests.java
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/servlet/authentication/onetimetoken.adoc
  docs/modules/ROOT/pages/whats-new.adoc
  etc/checkstyle/checkstyle-suppressions.xml
  web/src/main/java/org/springframework/security/web/authentication/ott/GenerateOneTimeTokenFilter.java
  web/src/main/java/org/springframework/security/web/authentication/ott/GeneratedOneTimeTokenHandler.java
  web/src/main/java/org/springframework/security/web/authentication/ott/OneTimeTokenAuthenticationConverter.java
  web/src/main/java/org/springframework/security/web/authentication/ott/RedirectGeneratedOneTimeTokenHandler.java
  web/src/main/java/org/springframework/security/web/authentication/ui/DefaultLoginPageGeneratingFilter.java
  web/src/main/java/org/springframework/security/web/authentication/ui/DefaultOneTimeTokenSubmitPageGeneratingFilter.java
  web/src/test/java/org/springframework/security/web/authentication/DefaultLoginPageGeneratingFilterTests.java
  web/src/test/java/org/springframework/security/web/authentication/ott/OneTimeTokenAuthenticationConverterTests.java
  web/src/test/java/org/springframework/security/web/authentication/ott/RedirectGeneratedOneTimeTokenHandlerTests.java
  web/src/test/java/org/springframework/security/web/authentication/ui/DefaultOneTimeTokenSubmitPageGeneratingFilterTests.java
Labels: in: config, type: enhancement

#15728 Corrected AuthenticationEventPublisher Type
  docs/modules/ROOT/pages/servlet/authentication/events.adoc
Labels: status: waiting-for-triage, type: bug

#15720 Update docs
  docs/modules/ROOT/pages/servlet/architecture.adoc
  docs/modules/ROOT/pages/servlet/authentication/logout.adoc
  docs/modules/ROOT/pages/servlet/authorization/authorize-http-requests.adoc
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
  docs/modules/ROOT/pages/servlet/getting-started.adoc
  docs/spring-security-docs.gradle
  gradle.properties
Labels: in: docs, type: task

#15692 Fixed typos in the Servlet and Reactive Observability documents
  docs/modules/ROOT/pages/reactive/integrations/observability.adoc
  docs/modules/ROOT/pages/servlet/integrations/observability.adoc
Labels: in: docs, type: bug

#15718 Address unnecessary method invocation in AbstractRequestMatcherRegistry
  config/src/main/java/org/springframework/security/config/annotation/web/AbstractRequestMatcherRegistry.java
Labels: in: config, type: enhancement

#15727 Add One-Time Token Login support to Kotlin DSL
  config/src/main/kotlin/org/springframework/security/config/annotation/web/HttpSecurityDsl.kt
  config/src/main/kotlin/org/springframework/security/config/annotation/web/OneTimeTokenLoginDsl.kt
  config/src/test/kotlin/org/springframework/security/config/annotation/web/OneTimeTokenLoginDslTests.kt
  docs/modules/ROOT/pages/servlet/authentication/onetimetoken.adoc
Labels: in: config, type: enhancement

#15717 Fix adding more implied roles in the RoleHierarchy Builder.
  core/src/main/java/org/springframework/security/access/hierarchicalroles/RoleHierarchyImpl.java
  core/src/test/java/org/springframework/security/access/hierarchicalroles/RoleHierarchyImplTests.java
Labels: in: core, type: enhancement

#15673 Refactor `UnmodifiableListDeserializer` and `UnmodifiableSetDeserializer` to Use `AbstractUnmodifiableCollectionDeserializer`
  core/src/main/java/org/springframework/security/jackson2/AbstractUnmodifiableCollectionDeserializer.java
  core/src/main/java/org/springframework/security/jackson2/UnmodifiableListDeserializer.java
  core/src/main/java/org/springframework/security/jackson2/UnmodifiableSetDeserializer.java
Labels: in: core, type: enhancement

#15711 Annotation expression template processing should not fail on Class parameter types
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfigurationTests.java
  core/src/main/java/org/springframework/security/authorization/method/AuthorizationAnnotationUtils.java
Labels: in: core, type: bug

#15736 Correct Title in logout.adoc
  docs/modules/ROOT/pages/servlet/authentication/logout.adoc
Labels: status: waiting-for-triage

#15784 Update CORS document
  docs/modules/ROOT/pages/reactive/integrations/cors.adoc
  docs/modules/ROOT/pages/servlet/integrations/cors.adoc
Labels: in: docs, type: task

#15790 Add DefaultResourcesFitler to XML configuration
  config/src/main/java/org/springframework/security/config/http/AuthenticationConfigBuilder.java
  config/src/main/java/org/springframework/security/config/http/SecurityFilters.java
  config/src/main/resources/org/springframework/security/config/spring-security-6.4.rnc
  config/src/main/resources/org/springframework/security/config/spring-security-6.4.xsd
  config/src/test/java/org/springframework/security/config/http/MiscHttpConfigTests.java
Labels: in: web, type: enhancement

#15791 Remove trailing spaces in default UIs
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/DefaultLoginPageConfigurerTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/ott/OneTimeTokenLoginConfigurerTests.java
  config/src/test/java/org/springframework/security/config/http/FormLoginBeanDefinitionParserTests.java
  web/src/main/java/org/springframework/security/web/authentication/ui/DefaultLoginPageGeneratingFilter.java
  web/src/test/java/org/springframework/security/web/authentication/DefaultLoginPageGeneratingFilterTests.java
Labels: in: web, type: enhancement

#15781 Fix getBeansWithName in global authentication configurers
  config/src/main/java/org/springframework/security/config/annotation/authentication/configuration/InitializeAuthenticationProviderBeanManagerConfigurer.java
  config/src/main/java/org/springframework/security/config/annotation/authentication/configuration/InitializeUserDetailsBeanManagerConfigurer.java
Labels: in: config, type: bug

#15794 Provide Runtime Hints for Beans used in Pre/PostAuthorize Expressions
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfiguration.java
  core/src/main/java/org/springframework/security/aot/hint/PrePostAuthorizeExpressionBeanHintsRegistrar.java
  core/src/main/java/org/springframework/security/aot/hint/PrePostAuthorizeHintsRegistrar.java
  core/src/test/java/org/springframework/security/aot/hint/PrePostAuthorizeHintsRegistrarTests.java
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
Labels: in: core, type: enhancement

#15797 Simplify Casting with ReactiveJwtDecoders
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/ReactiveJwtDecoders.java
Labels: type: enhancement, in: oauth2

#14968 Improved error message for PasswordEncoder
  core/src/test/java/org/springframework/security/provisioning/InMemoryUserDetailsManagerTests.java
  crypto/src/main/java/org/springframework/security/crypto/password/DelegatingPasswordEncoder.java
  crypto/src/test/java/org/springframework/security/crypto/password/DelegatingPasswordEncoderTests.java
Labels: in: crypto, type: enhancement

#15438 Update websocket integration docs
  docs/modules/ROOT/pages/servlet/integrations/websocket.adoc
Labels: in: docs, type: enhancement

#15533 fix additionalParameters array parameter of OAuth2AuthorizationRequest causes the authorizationRequestUri to be incorrect
  oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core/endpoint/OAuth2AuthorizationRequest.java
  oauth2/oauth2-core/src/test/java/org/springframework/security/oauth2/core/endpoint/OAuth2AuthorizationRequestTests.java
Labels: status: waiting-for-triage, type: bug, in: oauth2

#15827 Complete HttpSecurity Deprecation notices
  config/src/main/java/org/springframework/security/config/annotation/web/builders/HttpSecurity.java
Labels: type: bug

#15832 Polish ExpressionTemplateSecurityAnnotationScanner
  core/src/main/java/org/springframework/security/core/annotation/ExpressionTemplateSecurityAnnotationScanner.java
Labels: in: core, type: task

#15831 Minor fix in Kotlin docs for noSpringSecurityObservations
  docs/modules/ROOT/pages/servlet/integrations/observability.adoc
Labels: status: waiting-for-triage, in: docs, type: bug

#15202 GH-15201 Introduce ExpressionJwtGrantedAuthoritiesConverter to extract nested authorities via SpEL expression
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/authentication/ExpressionJwtGrantedAuthoritiesConverter.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/authentication/ExpressionJwtGrantedAuthoritiesConverterTests.java
Labels: type: enhancement, in: oauth2

#15845 Fix Broken Resource Server Doc Links
  docs/modules/ROOT/pages/servlet/oauth2/resource-server/jwt.adoc
  docs/modules/ROOT/pages/servlet/oauth2/resource-server/opaque-token.adoc
Labels: in: docs, type: task

#15864 Add public InMemoryOneTimeTokenService.setClock(Clock)
  core/src/main/java/org/springframework/security/authentication/ott/InMemoryOneTimeTokenService.java
  core/src/test/java/org/springframework/security/authentication/ott/InMemoryOneTimeTokenServiceTests.java
Labels: in: core, type: enhancement

#15867 Fix typo of createDefaultRequestMacher in WebSessionServerRequestCache
  web/src/main/java/org/springframework/security/web/server/savedrequest/WebSessionServerRequestCache.java
Labels: in: web, type: task

#15857 Polish OAuth2ClientConfiguration
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/OAuth2ClientConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/web/reactive/ReactiveOAuth2ClientConfiguration.java
Labels: type: enhancement, in: oauth2

#15847 Allow logout+jwt JWT type for reactive
  config/src/main/java/org/springframework/security/config/web/server/OidcBackChannelLogoutReactiveAuthenticationManager.java
  config/src/test/java/org/springframework/security/config/web/server/OidcLogoutSpecTests.java
Labels: type: enhancement, in: oauth2, status: feedback-provided
