Repository spring-projects/spring-security, pull requests merged in 2024-05, with the labels that each got.

#14979 fix docs error in AuthenticatedReactiveAuthorizationManager
  core/src/main/java/org/springframework/security/authorization/AuthenticatedReactiveAuthorizationManager.java
Labels: in: docs, type: bug

#15057 Fix incorrect links
  README.adoc
Labels: type: task

#15070 Use instanceof Pattern Matching
  core/src/main/java/org/springframework/security/authentication/AbstractAuthenticationToken.java
Labels: type: task

#15043 Minor docs fix
  docs/modules/ROOT/pages/servlet/authentication/passwords/digest.adoc
Labels: in: docs, type: enhancement

#15129 Fix Kotlin example in authorize-http-requests.adoc
  docs/modules/ROOT/pages/servlet/authorization/authorize-http-requests.adoc
Labels: in: docs, type: bug

#15096 Adjust DefaultSecurityFilterChain Logging Level and Simplify Filter Logging
  web/src/main/java/org/springframework/security/web/DefaultSecurityFilterChain.java
Labels: status: waiting-for-triage, in: web, type: enhancement

#15152 Conditionally Add Conventions Plugin
  settings.gradle
Labels: in: build, type: enhancement

#14689 Fix link in the In-Memory Authentication documentation
  docs/modules/ROOT/pages/servlet/authentication/passwords/in-memory.adoc
Labels: in: docs, type: bug

#15164 Fix Java example in multitenanci.adoc
  docs/modules/ROOT/pages/servlet/oauth2/resource-server/multitenancy.adoc
Labels: in: docs, type: bug

#15177 Update Kotlin example for MockMvc and Spring Security
  docs/modules/ROOT/pages/servlet/test/mockmvc/setup.adoc
Labels: in: docs, type: enhancement

#15095 Add Kotlin support to PreFilter and PostFilter annotations
  core/spring-security-core.gradle
  core/src/main/java/org/springframework/security/access/expression/method/DefaultMethodSecurityExpressionHandler.java
  core/src/test/kotlin/org/springframework/security/access/expression/method/DefaultMethodSecurityExpressionHandlerKotlinTests.kt
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
Labels: in: core, type: enhancement

#15181 Adds missing translated messages for PT-BR
  core/src/main/resources/org/springframework/security/messages_pt_BR.properties
Labels: in: core, type: enhancement

#15013 Add SecurityContextRepository to Kotlin Reactive DSL
  config/src/main/kotlin/org/springframework/security/config/web/server/ServerHttpSecurityDsl.kt
  config/src/test/kotlin/org/springframework/security/config/web/server/ServerHttpSecurityDslTests.kt
Labels: in: config, type: enhancement

#14916 Support signing SAML metadata
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/metadata/OpenSamlMetadataResolver.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/metadata/OpenSamlSigningUtils.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/metadata/Saml2Utils.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/metadata/OpenSamlMetadataResolverTests.java
Labels: type: enhancement, in: saml2
