Repository spring-projects/spring-security, pull requests merged in 2024-03, with the labels that each got.

#14654 Add DelegatingServerAuthenticationConverter
  web/src/main/java/org/springframework/security/web/server/authentication/DelegatingServerAuthenticationConverter.java
  web/src/test/java/org/springframework/security/web/server/authentication/DelegatingServerAuthenticationConverterTests.java
Labels: in: web, type: enhancement

#14716 Add Programmatic Proxy Support for Method Security
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/AuthorizationProxyConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/Jsr250MethodSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/MethodSecuritySelector.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/SecuredMethodSecurityConfiguration.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/AuthorizationProxyConfigurationTests.java
  core/src/main/java/org/springframework/security/authorization/AuthorizationAdvisorProxyFactory.java
  core/src/main/java/org/springframework/security/authorization/AuthorizationProxyFactory.java
  core/src/main/java/org/springframework/security/authorization/method/AuthorizationAdvisor.java
  core/src/main/java/org/springframework/security/authorization/method/AuthorizationManagerAfterMethodInterceptor.java
  core/src/main/java/org/springframework/security/authorization/method/AuthorizationManagerBeforeMethodInterceptor.java
  core/src/main/java/org/springframework/security/authorization/method/PostFilterAuthorizationMethodInterceptor.java
  core/src/main/java/org/springframework/security/authorization/method/PreFilterAuthorizationMethodInterceptor.java
  core/src/test/java/org/springframework/security/authorization/AuthorizationAdvisorProxyFactoryTests.java
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
  docs/modules/ROOT/pages/whats-new.adoc
Labels: in: core, type: enhancement

#14764 Improve logging in AuthenticationWebFilter
  web/src/main/java/org/springframework/security/web/server/authentication/AuthenticationWebFilter.java
Labels: in: web, type: enhancement

#14743 [ISSUE-11725] Add secondary statusCode messages on error
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/authentication/OpenSaml4AuthenticationProvider.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/authentication/OpenSaml4AuthenticationProviderTests.java
Labels: type: enhancement, in: saml2

#14710 Update the documentation of AuthenticationProvider.java
  core/src/main/java/org/springframework/security/authentication/AuthenticationProvider.java
Labels: in: docs, type: bug

#14713 Synchronize Reactive Page with Servlet Page for Consistency
  docs/modules/ROOT/pages/reactive/oauth2/client/authorization-grants.adoc
Labels: in: docs, type: enhancement
