Repository spring-projects/spring-security, pull requests merged in 2025-05, with the labels that each got.

#17010 Remove duplicate lines from X.509 documentation
  docs/modules/ROOT/pages/servlet/authentication/x509.adoc
Labels: in: docs, type: bug, status: feedback-provided

#17044 Correct method name in document
  docs/modules/ROOT/pages/servlet/authentication/logout.adoc
Labels: in: docs, type: bug

#16571 Change NonNull import from reactor to spring
  web/src/main/java/org/springframework/security/web/DefaultSecurityFilterChain.java
Labels: in: web, type: bug

#17003 Polish WebAuthnConfigurer
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/WebAuthnConfigurer.java
Labels: in: config

#16963 Improve OAuth2ResourceServerConfigurer to eliminate deprecated operations
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/resource/OAuth2ResourceServerConfigurer.java
Labels: type: enhancement, in: oauth2

#14649 Improve JdbcUserDetailsManager.userExists method
  core/src/main/java/org/springframework/security/provisioning/JdbcUserDetailsManager.java
  core/src/test/java/org/springframework/security/provisioning/JdbcUserDetailsManagerTests.java
Labels: in: core, type: enhancement, type: breaks-passivity

#16164 Address BouncyCastle's deprecated AESFastEngine usage
  crypto/src/main/java/org/springframework/security/crypto/encrypt/BouncyCastleAesCbcBytesEncryptor.java
  crypto/src/main/java/org/springframework/security/crypto/encrypt/BouncyCastleAesGcmBytesEncryptor.java
  crypto/src/test/java/org/springframework/security/crypto/encrypt/BouncyCastleAesBytesEncryptorEquivalencyTests.java
Labels: in: crypto, type: enhancement, type: breaks-passivity

#16510 Add Twitter/X to CommonOAuth2Provider
  config/src/main/java/org/springframework/security/config/oauth2/client/CommonOAuth2Provider.java
  docs/modules/ROOT/pages/reactive/oauth2/login/core.adoc
  docs/modules/ROOT/pages/servlet/oauth2/login/core.adoc
Labels: in: config, type: enhancement, in: oauth2

#16994 Add logging to CsrfTokenRequestHandler implementations
  web/src/main/java/org/springframework/security/web/csrf/CsrfFilter.java
  web/src/main/java/org/springframework/security/web/csrf/CsrfTokenRequestAttributeHandler.java
  web/src/main/java/org/springframework/security/web/csrf/CsrfTokenRequestHandler.java
  web/src/main/java/org/springframework/security/web/csrf/CsrfTokenRequestHandlerLoggerHolder.java
  web/src/main/java/org/springframework/security/web/csrf/XorCsrfTokenRequestAttributeHandler.java
  web/src/main/java/org/springframework/security/web/server/csrf/ServerCsrfTokenRequestAttributeHandler.java
  web/src/main/java/org/springframework/security/web/server/csrf/ServerCsrfTokenRequestHandler.java
  web/src/main/java/org/springframework/security/web/server/csrf/ServerCsrfTokenRequestHandlerLoggerHolder.java
  web/src/main/java/org/springframework/security/web/server/csrf/XorServerCsrfTokenRequestAttributeHandler.java
Labels: in: web, type: enhancement

#17081 Update the docs to use assertingparty instead of identityprovider to close #12810
  docs/modules/ROOT/pages/servlet/saml2/login/authentication-requests.adoc
  docs/modules/ROOT/pages/servlet/saml2/login/overview.adoc
Labels: in: docs, type: bug

#17083 Cleanup code
  web/src/main/java/org/springframework/security/web/server/savedrequest/WebSessionServerRequestCache.java
Labels: in: web, type: task

#17078 Add test and update Javadoc `CommonOAuth2Provider`
  config/src/main/java/org/springframework/security/config/oauth2/client/CommonOAuth2Provider.java
  config/src/test/java/org/springframework/security/config/oauth2/client/CommonOAuth2ProviderTests.java
Labels: type: task, in: oauth2

#17091 Remove 32-byte minimum keyLength restriction in `Base64StringKeyGenerator`
  crypto/src/main/java/org/springframework/security/crypto/keygen/Base64StringKeyGenerator.java
  crypto/src/test/java/org/springframework/security/crypto/keygen/Base64StringKeyGeneratorTests.java
Labels: in: crypto, type: enhancement

#17084 Add NullReturningMethodAuthorizationDeniedHandler
  core/src/main/java/org/springframework/security/authorization/method/NullReturningMethodAuthorizationDeniedHandler.java
  core/src/test/java/org/springframework/security/authorization/method/NullReturningMethodAuthorizationDeniedHandlerTests.java
Labels: status: waiting-for-triage, in: core, type: enhancement

#17071 Implement UserDetailsPasswordService in JdbcUserDetailsManager
  core/src/main/java/org/springframework/security/provisioning/JdbcUserDetailsManager.java
  core/src/test/java/org/springframework/security/provisioning/JdbcUserDetailsManagerTests.java
Labels: in: core, type: enhancement

#17076 Add SAML 2.0 migration guide from Spring Security SAML Extension
  docs/modules/ROOT/nav.adoc
  docs/modules/ROOT/pages/servlet/saml2/saml-extension-migration.adoc
Labels: in: docs, type: enhancement

#17141 Advise overriding equals() and hashCode() in UserDetails implementations
  docs/modules/ROOT/pages/servlet/authentication/session-management.adoc
Labels: in: docs, type: enhancement

#17128 Use HttpStatus in back-channel logout filters
  config/src/main/java/org/springframework/security/config/web/server/OidcBackChannelLogoutWebFilter.java
  config/src/main/java/org/springframework/security/config/web/server/OidcBackChannelServerLogoutHandler.java
Labels: type: enhancement, in: oauth2

#17075 Remove the redundant punctuation marks in the comments
  web/src/main/java/org/springframework/security/web/authentication/UsernamePasswordAuthenticationFilter.java
Labels: in: docs, type: bug

#17064 Fix the problem of not deserializing SwitchUserGrantedAuthority in Webflux
  web/src/main/java/org/springframework/security/web/jackson2/SwitchUserGrantedAuthorityMixIn.java
  web/src/main/java/org/springframework/security/web/jackson2/WebJackson2Module.java
  web/src/test/java/org/springframework/security/web/jackson2/SwitchUserGrantedAuthorityMixInTests.java
Labels: in: web, type: enhancement

#16996 Make AuthorizationProxyFactory.proxy generic
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/AuthorizationProxyWebConfiguration.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/AuthorizationProxyConfigurationTests.java
  core/src/main/java/org/springframework/security/aot/hint/AuthorizeReturnObjectHintsRegistrar.java
  core/src/main/java/org/springframework/security/authorization/AuthorizationProxyFactory.java
  core/src/main/java/org/springframework/security/authorization/method/AuthorizationAdvisorProxyFactory.java
  core/src/test/java/org/springframework/security/authorization/AuthorizationAdvisorProxyFactoryTests.java
Labels: in: core, type: enhancement

#17030 JwtTimestampsValidator can require exp and nbf claims
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/JwtTimestampValidator.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/JwtTimestampValidatorTests.java
Labels: type: enhancement, in: oauth2

#16842 Add Equals and HashCode methods for better comparison.
  oauth2/oauth2-core/src/main/java/org/springframework/security/oauth2/core/endpoint/OAuth2AuthorizationRequest.java
  oauth2/oauth2-core/src/test/java/org/springframework/security/oauth2/core/endpoint/OAuth2AuthorizationRequestTests.java
  oauth2/oauth2-core/src/test/java/org/springframework/security/oauth2/core/endpoint/TestOAuth2AuthorizationRequests.java
Labels: type: enhancement, in: oauth2

#16964 Replace deprecated NimbusReactiveOpaqueTokenIntrospector with SpringReactiveOpaqueTokenIntrospector
  config/src/main/java/org/springframework/security/config/web/server/ServerHttpSecurity.java
Labels: in: config, type: enhancement

#16953 Support Spring Data container types for AuthorizeReturnObject
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/AuthorizationProxyDataConfiguration.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfigurationTests.java
Labels: type: enhancement, in: data, status: feedback-provided
