Repository spring-projects/spring-security, pull requests merged in 2025-01, with the labels that each got.

#16362 Polish AbstractHttpConfigurer
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AbstractHttpConfigurer.java
Labels: in: config, type: task

#16352 Update docs to link to AuthorizationFilter instead of deprecated FilterSecurityInterceptor
  docs/modules/ROOT/pages/servlet/architecture.adoc
Labels: in: docs, type: bug

#16350 Fix OAuth reference documentation typo
  docs/modules/ROOT/pages/servlet/oauth2/client/index.adoc
Labels: in: docs, type: enhancement

#16341 Fix logout code snippet for Kotlin
  docs/modules/ROOT/pages/servlet/authentication/logout.adoc
Labels: in: docs, type: bug

#16375 method-security: fix invalid Kotlin syntax
  docs/modules/ROOT/pages/servlet/authorization/method-security.adoc
Labels: in: docs, type: bug

#16348 Remove unused code from WebSecurityConfiguration
  config/src/main/java/org/springframework/security/config/annotation/web/configuration/WebSecurityConfiguration.java
Labels: in: config, type: task

#16381 Add Support OAuth2AuthorizationRequestResolver As Bean
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/oauth2/client/OAuth2LoginConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/client/OAuth2LoginConfigurerTests.java
Labels: in: config, type: enhancement

#16190 Add support fullyAuthenticated to Kotlin DSL
  config/src/main/kotlin/org/springframework/security/config/annotation/web/AuthorizeHttpRequestsDsl.kt
  config/src/test/kotlin/org/springframework/security/config/annotation/web/AuthorizeHttpRequestsDslTests.kt
Labels: in: config, type: enhancement

#14808 Customize Redirect URI in OidcClientInitiatedServerLogoutSuccessHandler
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/oidc/web/server/logout/OidcClientInitiatedServerLogoutSuccessHandler.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/oidc/web/server/logout/OidcClientInitiatedServerLogoutSuccessHandlerTests.java
Labels: type: enhancement, in: oauth2

#16427 Use spring.security prefix instead of security.security
  web/src/main/java/org/springframework/security/web/ObservationFilterChainDecorator.java
Labels: in: web, type: bug

#16413 Fixed typo in WebAuthnDsl
  config/src/main/kotlin/org/springframework/security/config/annotation/web/WebAuthnDsl.kt
Labels: in: docs, type: bug

#16428 Suggest replacing size() == 0 with isEmpty() for collection check
  core/src/main/java/org/springframework/security/core/ComparableVersion.java
Labels: in: core, type: enhancement

#16415 Fix broken link to MockMvc documentation
  docs/modules/ROOT/pages/servlet/test/mockmvc/index.adoc
Labels: in: docs, type: bug

#16008 Encode clientId and clientSecret for `OpaqueTokenIntrospector` and `ReactiveOpaqueTokenIntrospector`
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/introspection/SpringOpaqueTokenIntrospector.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/introspection/SpringReactiveOpaqueTokenIntrospector.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/introspection/SpringOpaqueTokenIntrospectorTests.java
  oauth2/oauth2-resource-server/src/test/java/org/springframework/security/oauth2/server/resource/introspection/SpringReactiveOpaqueTokenIntrospectorTests.java
Labels: type: bug, in: oauth2

#16440 webauthn js should ensure allowCredentials[].id is an ArrayBuffer
  javascript/lib/webauthn-core.js
  javascript/test/webauthn-core.test.js
Labels: status: waiting-for-triage

#16327 Add GenerateOneTimeTokenFilterTests
  web/src/test/java/org/springframework/security/web/authentication/ott/GenerateOneTimeTokenFilterTests.java
Labels: in: web, type: task

#16443 Fix serializeCurrentVersionClasses
  config/src/test/java/org/springframework/security/SpringSecurityCoreVersionSerializableTests.java
  config/src/test/resources/serialized/6.5.x/org.springframework.security.oauth2.client.OAuth2AuthorizedClient.serialized
  config/src/test/resources/serialized/6.5.x/org.springframework.security.oauth2.client.authentication.OAuth2AuthorizationCodeAuthenticationToken.serialized
  config/src/test/resources/serialized/6.5.x/org.springframework.security.oauth2.client.authentication.OAuth2LoginAuthenticationToken.serialized
  config/src/test/resources/serialized/6.5.x/org.springframework.security.oauth2.client.registration.ClientRegistration$Builder.serialized
  config/src/test/resources/serialized/6.5.x/org.springframework.security.oauth2.client.registration.ClientRegistration$ClientSettings.serialized
  config/src/test/resources/serialized/6.5.x/org.springframework.security.oauth2.client.registration.ClientRegistration.serialized
  config/src/test/resources/serialized/6.5.x/org.springframework.security.oauth2.core.OAuth2DeviceCode.serialized
  config/src/test/resources/serialized/6.5.x/org.springframework.security.oauth2.core.OAuth2RefreshToken.serialized
  config/src/test/resources/serialized/6.5.x/org.springframework.security.oauth2.core.OAuth2UserCode.serialized
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/registration/ClientRegistration.java
Labels: status: waiting-for-triage

#16297 Add Support GenerateOneTimeTokenRequestResolver
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/ott/OneTimeTokenLoginConfigurer.java
  config/src/main/kotlin/org/springframework/security/config/annotation/web/OneTimeTokenLoginDsl.kt
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/ott/OneTimeTokenLoginConfigurerTests.java
  config/src/test/kotlin/org/springframework/security/config/annotation/web/OneTimeTokenLoginDslTests.kt
  core/src/main/java/org/springframework/security/authentication/ott/GenerateOneTimeTokenRequest.java
  core/src/main/java/org/springframework/security/authentication/ott/InMemoryOneTimeTokenService.java
  core/src/main/java/org/springframework/security/authentication/ott/JdbcOneTimeTokenService.java
  docs/modules/ROOT/pages/servlet/authentication/onetimetoken.adoc
  docs/modules/ROOT/pages/whats-new.adoc
  web/src/main/java/org/springframework/security/web/authentication/ott/DefaultGenerateOneTimeTokenRequestResolver.java
  web/src/main/java/org/springframework/security/web/authentication/ott/GenerateOneTimeTokenFilter.java
  web/src/main/java/org/springframework/security/web/authentication/ott/GenerateOneTimeTokenRequestResolver.java
  web/src/test/java/org/springframework/security/web/authentication/ott/DefaultGenerateOneTimeTokenRequestResolverTests.java
Labels: in: web, type: enhancement

#16387 Update settings.gradle to correct the behavior if creating a new subproject with default buildFile name
  settings.gradle
Labels: in: build, type: enhancement

#16287 Make Saml2AuthenticationToken Serializable
  config/src/test/java/org/springframework/security/SpringSecurityCoreVersionSerializableTests.java
  config/src/test/resources/serialized/6.4.x/org.springframework.security.saml2.core.Saml2X509Credential.serialized
  config/src/test/resources/serialized/6.4.x/org.springframework.security.saml2.provider.service.authentication.Saml2AuthenticationToken.serialized
  config/src/test/resources/serialized/6.4.x/org.springframework.security.saml2.provider.service.registration.RelyingPartyRegistration$AssertingPartyDetails.serialized
  config/src/test/resources/serialized/6.4.x/org.springframework.security.saml2.provider.service.registration.RelyingPartyRegistration.serialized
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/core/Saml2X509Credential.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/registration/AssertingPartyMetadata.java
  saml2/saml2-service-provider/src/main/java/org/springframework/security/saml2/provider/service/registration/RelyingPartyRegistration.java
  saml2/saml2-service-provider/src/test/java/org/springframework/security/saml2/provider/service/authentication/TestSaml2AuthenticationTokens.java
Labels: type: bug, in: saml2

#16508 Update UsernameNotFoundException message
  core/src/main/java/org/springframework/security/provisioning/InMemoryUserDetailsManager.java
Labels: in: core, type: enhancement

#16479 Update DelegatingPasswordEncoder.java
  crypto/src/main/java/org/springframework/security/crypto/password/DelegatingPasswordEncoder.java
Labels: in: crypto, type: enhancement
