Repository spring-projects/spring-security, pull requests merged in 2025-08, with the labels that each got.

#17448 Add ExpressionTemplateValueProvider
  core/src/main/java/org/springframework/security/core/annotation/ExpressionTemplateSecurityAnnotationScanner.java
  core/src/main/java/org/springframework/security/core/annotation/ExpressionTemplateValueProvider.java
  core/src/test/java/org/springframework/security/core/annotation/ExpressionTemplateSecurityAnnotationScannerTests.java
Labels: in: core, type: enhancement, status: feedback-provided

#17666 Polish javadoc
  core/src/main/java/org/springframework/security/core/annotation/ExpressionTemplateSecurityAnnotationScanner.java
  core/src/main/java/org/springframework/security/core/annotation/ExpressionTemplateValueProvider.java
Labels: in: core, type: enhancement

#17689 Replace "shameless coverage code" in SecurityNamespaceHandlerTests with meaningful tests
  config/src/test/java/org/springframework/security/config/SecurityNamespaceHandlerTests.java
Labels: in: config, type: enhancement

#17774 Annotate AuthenticationTrustResolver methods with `@Nullable`
  core/src/main/java/org/springframework/security/authentication/AuthenticationTrustResolver.java
  core/src/main/java/org/springframework/security/authentication/AuthenticationTrustResolverImpl.java
Labels: in: core, type: bug

#17751 Fix misleading variable name in authentication filter
  web/src/main/java/org/springframework/security/web/authentication/UsernamePasswordAuthenticationFilter.java
Labels: in: build, in: web, type: task

#17134 Fix traceId discrepancy in case error in servlet web
  web/src/main/java/org/springframework/security/web/ObservationFilterChainDecorator.java
  web/src/test/java/org/springframework/security/web/FilterChainProxyTests.java
Labels: in: web, type: bug

#17788 Add `discoverJwsAlgorithms()` in `NimbusJwtDecoder`
  oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoder.java
  oauth2/oauth2-jose/src/test/java/org/springframework/security/oauth2/jwt/NimbusJwtDecoderTests.java
Labels: type: enhancement, in: oauth2, status: feedback-provided

#17159 Add option to disable anonymous authentication in `RSocketSecurity`
  config/src/integration-test/java/org/springframework/security/config/annotation/rsocket/AnonymousAuthenticationITests.java
  config/src/main/java/org/springframework/security/config/annotation/rsocket/RSocketSecurity.java
Labels: type: enhancement, status: feedback-provided, in: rsocket
