Repository spring-projects/spring-security, pull requests merged in 2025-03, with the labels that each got.

#16612 Add SingleResultAuthorizationManager
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurer.java
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/PermitAllSupport.java
  core/src/main/java/org/springframework/security/authorization/SingleResultAuthorizationManager.java
  core/src/main/java/org/springframework/security/authorization/method/Jsr250AuthorizationManager.java
  core/src/test/java/org/springframework/security/authorization/AuthorizationManagerTests.java
  core/src/test/java/org/springframework/security/authorization/AuthorizationManagersTests.java
  core/src/test/java/org/springframework/security/authorization/SingleResultAuthorizationManagerTests.java
  messaging/src/main/java/org/springframework/security/messaging/access/intercept/MessageMatcherDelegatingAuthorizationManager.java
  web/src/main/java/org/springframework/security/web/access/intercept/RequestMatcherDelegatingAuthorizationManager.java
  web/src/test/java/org/springframework/security/web/access/intercept/RequestMatcherDelegatingAuthorizationManagerTests.java
Labels: in: core, type: enhancement

#16621 Fix JdbcUserCredentialRepository Save
  web/src/main/java/org/springframework/security/web/webauthn/management/JdbcUserCredentialRepository.java
  web/src/test/java/org/springframework/security/web/webauthn/management/JdbcUserCredentialRepositoryTests.java
Labels: in: web, type: bug

#16613 Fix Typos in OIDC Back-Channel Logout documentation
  docs/modules/ROOT/pages/servlet/oauth2/login/logout.adoc
Labels: in: docs, type: bug

#16558 Fix ordering for security filter configuration
  docs/modules/ROOT/pages/servlet/architecture.adoc
Labels: in: docs, type: bug

#16557 Polish AbstractAuthenticationTargetUrlRequestHandler
  web/src/main/java/org/springframework/security/web/authentication/AbstractAuthenticationTargetUrlRequestHandler.java
  web/src/test/java/org/springframework/security/web/authentication/AbstractAuthenticationTargetUrlRequestHandlerTests.java
Labels: in: web, type: enhancement

#16312 Fixed the issue where the annotation parameter scan skipped first-level conflicts
  core/src/main/java/org/springframework/security/core/annotation/UniqueSecurityAnnotationScanner.java
  core/src/test/java/org/springframework/security/core/annotation/UniqueSecurityAnnotationScannerTests.java
Labels: in: core, type: bug

#16729 Fix typos Open SAML 5 Javadoc referencing Open SAML 4
  saml2/saml2-service-provider/src/opensaml5Main/java/org/springframework/security/saml2/provider/service/authentication/OpenSaml5AuthenticationProvider.java
  saml2/saml2-service-provider/src/opensaml5Main/java/org/springframework/security/saml2/provider/service/authentication/logout/OpenSaml5LogoutRequestValidator.java
  saml2/saml2-service-provider/src/opensaml5Main/java/org/springframework/security/saml2/provider/service/web/authentication/logout/OpenSaml5LogoutRequestResolver.java
  saml2/saml2-service-provider/src/opensaml5Main/java/org/springframework/security/saml2/provider/service/web/authentication/logout/OpenSaml5LogoutResponseResolver.java
Labels: in: docs, type: bug

#16739 Removed Unnecessary Code in Documentation
  docs/modules/ROOT/pages/servlet/integrations/data.adoc
Labels: in: docs, type: enhancement

#16740 Fix typo code tag
  test/src/main/java/org/springframework/security/test/web/reactive/server/SecurityMockServerConfigurers.java
  test/src/main/java/org/springframework/security/test/web/servlet/request/SecurityMockMvcRequestPostProcessors.java
Labels: in: docs, type: bug

#16781 Fix javadocs on WebFlux CSRF classes
  web/src/main/java/org/springframework/security/web/server/csrf/CsrfException.java
  web/src/main/java/org/springframework/security/web/server/csrf/WebSessionServerCsrfTokenRepository.java
Labels: in: web, type: enhancement

#16541 Update anonymous.adoc
  docs/modules/ROOT/pages/servlet/authentication/anonymous.adoc
Labels: in: docs, type: enhancement

#16280 Explain behaviour with XMLHttpRequest on 401 response
  docs/modules/ROOT/pages/servlet/authentication/passwords/basic.adoc
Labels: in: docs, type: enhancement

#16713 Fix the request matcher patterns in the documentation
  docs/modules/ROOT/pages/servlet/authorization/authorize-http-requests.adoc
Labels: in: docs, type: bug

#16550 Method Security templates support use deep non-aliased attributes
  core/src/main/java/org/springframework/security/core/annotation/ExpressionTemplateSecurityAnnotationScanner.java
  core/src/test/java/org/springframework/security/core/annotation/ExpressionTemplateSecurityAnnotationScannerTests.java
Labels: in: core, type: enhancement

#16657 Update HandlerMappingIntrospector Usage in CORS support
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/CorsConfigurer.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/CorsConfigurerTests.java
  config/src/test/kotlin/org/springframework/security/config/annotation/web/CorsDslTests.kt
Labels: in: config, type: enhancement

#16493 Polish
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/BearerTokenAuthenticationEntryPoint.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/DefaultBearerTokenResolver.java
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/web/server/BearerTokenServerAuthenticationEntryPoint.java
Labels: type: enhancement, in: oauth2

#16717 Fix typo and inline code formatting in documentation
  docs/modules/ROOT/pages/servlet/oauth2/resource-server/multitenancy.adoc
  docs/modules/ROOT/pages/servlet/saml2/login/overview.adoc
Labels: in: docs, type: bug

#16818 Add toString to IpAddressMatcher
  web/src/main/java/org/springframework/security/web/util/matcher/IpAddressMatcher.java
  web/src/test/java/org/springframework/security/web/util/matcher/IpAddressMatcherTests.java
Labels: in: web, type: enhancement

#16835 Fix typo
  docs/modules/ROOT/pages/migration/oauth2.adoc
  docs/modules/ROOT/pages/reactive/oauth2/resource-server/opaque-token.adoc
Labels: in: docs, type: bug

#16829 Use correct message prompt in AuthorizeReturnObjectMethodInterceptor constructor
  core/src/main/java/org/springframework/security/authorization/method/AuthorizeReturnObjectMethodInterceptor.java
Labels: in: core, type: bug

#16710 Add not null validation for UserDetailsChecker in AbstractUserDetailsAuthenticationProvider
  core/src/main/java/org/springframework/security/authentication/dao/AbstractUserDetailsAuthenticationProvider.java
Labels: in: core, type: enhancement

#16847 Use SpringCacheBasedTicketCache in `cas.adoc`
  docs/modules/ROOT/pages/servlet/authentication/cas.adoc
Labels: in: docs, type: enhancement

#16839 Add Support Postgres To JdbcUserCredentialRepository
  web/src/main/java/org/springframework/security/web/aot/hint/UserCredentialRuntimeHints.java
  web/src/main/resources/org/springframework/security/user-credentials-schema-postgres.sql
  web/src/test/java/org/springframework/security/web/aot/hint/UserCredentialRuntimeHintsTests.java
Labels: in: web, type: enhancement
