Repository spring-projects/spring-security, pull requests merged in 2025-07, with the labels that each got.

#17425 Improve logging clarity in CsrfFilter
  web/src/main/java/org/springframework/security/web/csrf/CsrfFilter.java
Labels: in: web, type: enhancement

#17312 Remove PrePostTemplateDefaults
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfiguration.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/ReactiveAuthorizationManagerMethodSecurityConfiguration.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/PrePostMethodSecurityConfigurationTests.java
  config/src/test/java/org/springframework/security/config/annotation/method/configuration/PrePostReactiveMethodSecurityConfigurationTests.java
  core/src/main/java/org/springframework/security/authorization/method/AbstractExpressionAttributeRegistry.java
  core/src/main/java/org/springframework/security/authorization/method/PostAuthorizeAuthorizationManager.java
  core/src/main/java/org/springframework/security/authorization/method/PostAuthorizeReactiveAuthorizationManager.java
  core/src/main/java/org/springframework/security/authorization/method/PostFilterAuthorizationMethodInterceptor.java
  core/src/main/java/org/springframework/security/authorization/method/PostFilterAuthorizationReactiveMethodInterceptor.java
  core/src/main/java/org/springframework/security/authorization/method/PreAuthorizeAuthorizationManager.java
  core/src/main/java/org/springframework/security/authorization/method/PreAuthorizeReactiveAuthorizationManager.java
  core/src/main/java/org/springframework/security/authorization/method/PreFilterAuthorizationMethodInterceptor.java
  core/src/main/java/org/springframework/security/authorization/method/PreFilterAuthorizationReactiveMethodInterceptor.java
  core/src/main/java/org/springframework/security/authorization/method/PrePostTemplateDefaults.java
Labels: in: core, type: enhancement, type: breaks-passivity

#17498 Remove AbstractConfiguredSecurityBuilder apply method
  config/src/main/java/org/springframework/security/config/annotation/AbstractConfiguredSecurityBuilder.java
  config/src/test/java/org/springframework/security/config/annotation/web/AbstractConfiguredSecurityBuilderTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configuration/HttpSecurityConfigurationTests.java
  config/src/test/java/org/springframework/security/config/http/customconfigurer/CustomHttpSecurityConfigurerTests.java
Labels: in: config, type: enhancement, type: breaks-passivity

#17505 Remove shouldFilterAllDispatcherTypes
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/AuthorizeHttpRequestsConfigurer.java
  config/src/main/kotlin/org/springframework/security/config/annotation/web/AuthorizeHttpRequestsDsl.kt
  config/src/test/java/org/springframework/security/config/http/InterceptUrlConfigTests.java
  config/src/test/kotlin/org/springframework/security/config/annotation/web/AuthorizeHttpRequestsDslTests.kt
  config/src/test/resources/org/springframework/security/config/http/InterceptUrlConfigTests-FilterAllDispatcherTypesFalse.xml
  web/src/main/java/org/springframework/security/web/access/intercept/AuthorizationFilter.java
  web/src/test/java/org/springframework/security/web/access/intercept/AuthorizationFilterTests.java
Labels: in: config, type: enhancement, status: feedback-provided, type: breaks-passivity

#17621 Use final values in equals and hashCode
  web/src/main/java/org/springframework/security/web/servlet/util/matcher/PathPatternRequestMatcher.java
Labels: in: web, type: bug

#17512 Correct `@NonNull` and `@Nullable` package name
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/DeferringMethodInterceptor.java
  config/src/main/java/org/springframework/security/config/annotation/method/configuration/MethodSecurityAdvisorRegistrar.java
  config/src/main/java/org/springframework/security/config/web/PathPatternRequestMatcherBuilderFactoryBean.java
  config/src/main/java/org/springframework/security/config/web/server/OAuth2ErrorEncoder.java
  config/src/test/java/org/springframework/security/config/annotation/web/reactive/WebFluxSecurityConfigurationTests.java
  config/src/test/java/org/springframework/security/config/http/MiscHttpConfigTests.java
  config/src/test/java/org/springframework/security/config/method/MethodSecurityBeanDefinitionParserTests.java
  core/src/test/java/org/springframework/security/authorization/AuthorizationAdvisorProxyFactoryTests.java
  core/src/test/java/org/springframework/security/authorization/ReactiveAuthorizationAdvisorProxyFactoryTests.java
  etc/checkstyle/checkstyle.xml
  saml2/saml2-service-provider/src/opensaml4Test/java/org/springframework/security/saml2/provider/service/authentication/TestCustomOpenSaml4Objects.java
  saml2/saml2-service-provider/src/opensaml5Main/java/org/springframework/security/saml2/provider/service/authentication/OpenSaml5AuthenticationProvider.java
  saml2/saml2-service-provider/src/opensaml5Test/java/org/springframework/security/saml2/provider/service/authentication/TestCustomOpenSaml5Objects.java
Labels: in: config, type: enhancement, in: saml2

#17500 Make stricter IP format check in `IpAddressMatcher`
  web/src/main/java/org/springframework/security/web/util/matcher/IpAddressMatcher.java
  web/src/test/java/org/springframework/security/web/util/matcher/IpAddressMatcherTests.java
Labels: in: web, type: enhancement

#17488 Simplify error message for unsupported Security XSD versions
  config/src/main/java/org/springframework/security/config/SecurityNamespaceHandler.java
  config/src/test/java/org/springframework/security/config/SecurityNamespaceHandlerTests.java
Labels: in: core, type: enhancement

#17310 Apply missing diamond operators
  config/src/main/java/org/springframework/security/config/annotation/web/configurers/oauth2/client/OidcBackChannelLogoutHandler.java
  config/src/main/java/org/springframework/security/config/http/FilterChainMapBeanDefinitionDecorator.java
  config/src/main/java/org/springframework/security/config/http/HttpSecurityBeanDefinitionParser.java
  config/src/main/java/org/springframework/security/config/websocket/WebSocketMessageBrokerSecurityBeanDefinitionParser.java
  config/src/test/java/org/springframework/security/SpringSecurityCoreVersionSerializableTests.java
  config/src/test/java/org/springframework/security/config/http/HttpHeadersConfigTests.java
Labels: in: cas, type: enhancement
