Repository spring-projects/spring-security, pull requests merged in 2025-04, with the labels that each got.

#16822 WithHttpOnlyCookie defaults to false
  web/src/main/java/org/springframework/security/web/server/csrf/CookieServerCsrfTokenRepository.java
  web/src/test/java/org/springframework/security/web/server/csrf/CookieServerCsrfTokenRepositoryTests.java
Labels: in: web, type: bug

#16686 Update WebAuthn Test Objects Class Names
  config/src/test/java/org/springframework/security/config/annotation/web/builders/TestHttpSecurities.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/DefaultFiltersTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/NamespaceHttpCustomFilterTests.java
  config/src/test/java/org/springframework/security/config/annotation/web/configurers/SecurityContextConfigurerTests.java
  web/src/test/java/org/springframework/security/web/access/RequestMatcherDelegatingWebInvocationPrivilegeEvaluatorTests.java
  web/src/test/java/org/springframework/security/web/access/TestWebInvocationPrivilegeEvaluators.java
Labels: in: web, type: enhancement

#16868 Typo in Base64StringKeyGenerator exception message
  crypto/src/main/java/org/springframework/security/crypto/keygen/Base64StringKeyGenerator.java
Labels: status: waiting-for-triage, in: web, type: bug

#16908 Polish javadoc
  oauth2/oauth2-resource-server/src/main/java/org/springframework/security/oauth2/server/resource/introspection/OpaqueTokenIntrospector.java
Labels: in: docs, type: bug, in: oauth2

#16859 Update kotlin.adoc to add required spread operator(*)
  docs/modules/ROOT/pages/servlet/configuration/kotlin.adoc
Labels: in: docs, type: bug

#16962 Revise document to replace outdated NimbusOpaqueTokenIntrospector with SpringOpaqueTokenIntrospector
  docs/modules/ROOT/pages/reactive/oauth2/resource-server/opaque-token.adoc
  docs/modules/ROOT/pages/servlet/oauth2/resource-server/opaque-token.adoc
Labels: in: docs, type: enhancement

#16952 Add FunctionalInterface To X509PrincipalExtractor
  web/src/main/java/org/springframework/security/web/authentication/preauth/x509/X509PrincipalExtractor.java
Labels: in: core, type: bug

#16997 Fix Typo In SubjectDnX509PrincipalExtractorTests
  web/src/test/java/org/springframework/security/web/authentication/preauth/x509/SubjectDnX509PrincipalExtractorTests.java
Labels: in: web, type: enhancement

#17005 Use proper configuration key in Opaque Token documentation
  docs/modules/ROOT/pages/reactive/oauth2/resource-server/opaque-token.adoc
  docs/modules/ROOT/pages/servlet/oauth2/resource-server/opaque-token.adoc
Labels: in: docs, type: bug

#16993 ClientRegistrations#fromIssuerLocation should not swallow 4xx exception messages
  oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/registration/ClientRegistrations.java
  oauth2/oauth2-client/src/test/java/org/springframework/security/oauth2/client/registration/ClientRegistrationsTests.java
Labels: type: bug, in: oauth2
